In [33]:
import pandas as pd
import numpy as np
import os, git, zipfile, shutil, sys
from inspect import currentframe, getframeinfo



def set_root_folder():
    global repo, root_folder, archive_folder, completed_folder, csv_end, normalized_end, zscore_end, list_end
    global col_num, index_start, index_end, column_index_end, df_results_length, column_index
    repo = git.Repo('.', search_parent_directories=True)
    root_folder = repo.working_tree_dir +"\\yeast-data\\"
    archive_folder = root_folder+"!archive\\"
    completed_folder = root_folder+"!completed\\"
    csv_end = "csv"
    normalized_end = "_normalized"
    zscore_end = "_zscore"
    list_end = "_list"
    col_num = 30 
    index_start = 0
    index_end = 16
    column_index_end = 24
    df_results_length = 1
    column_index = 2

def csv_file_adjust(unzipped_folder,filename):
    folder = unzipped_folder+"\\"
    foldername_sorted = os.path.basename(os.path.normpath(unzipped_folder))
    if filename.endswith('csv'):
        df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
        df.to_csv(folder+"\\"+filename.split(".")[0]+"."+csv_end)
    
def normalize_plate384(unzipped_folder,filename):
    '''Enter file to read plate and normalize data'''
    folder = unzipped_folder+"\\"
    foldername_sorted = os.path.basename(os.path.normpath(unzipped_folder))
    print(sys._getframe().f_lineno ,"foldername", foldername_sorted)
    df = pd.DataFrame([])
    df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]") 

    df_results_index = 0
    
    for column in range(col_num):
        print(sys._getframe().f_lineno ," DF column number",df.iloc[:,column],
              column, type(column), col_num)
        try:
            df_results_index = df[df.iloc[:,column].str.contains('A', regex=False,na=False)].index
            column_index = column+1
            print(sys._getframe().f_lineno,len(df_results_index),"INDEX#1")
            break
        except Exception as e:
            print(sys._getframe().f_lineno, e)
            pass
            
    if len(df_results_index) < df_results_length:
        for column in range(col_num):
            print(sys._getframe().f_lineno, "**Searching >2000 Values**", df_results_index, 
                  df.iloc[:,column], 
                  "/n################switch",
                    df.iloc[column,:])

            try:
                df_results_index = df[pd.to_numeric(df.iloc[:,column], errors='coerce').gt(2000)].index
                column_index = column
                print(sys._getframe().f_lineno, "**INDEX#2**", df_results_index, 
                   # df[pd.to_numeric(df.iloc[:,column], errors='coerce').gt(2000)].index,
                     df.iloc[:,column])
                break
            except Exception as e:
                print(sys._getframe().f_lineno, e)
                pass 
        

    for i, index in enumerate(df_results_index):
        new_header = df.iloc[index-1,column_index:column_index+column_index_end]
        df_results = df.iloc[index+index_start:index+index_end,column_index:column_index+column_index_end] #row,col
        # df_results = df_results[df_results.applymap(isnumber)]
        count_na = df_results.isna().sum().sum()
        count_values = df_results.count().sum()

        print(sys._getframe().f_lineno, " DF NA count:", count_na, "65 DF Values count:", count_values, "done")
        try:
            if  count_na < 100 and count_values > 100:
                print(sys._getframe().f_lineno, " DF to normalize",df_results)
                df_results = df_results.fillna(0).astype(int)
                df_results.columns = new_header
                df_median_neg_controls = int(df_results.iloc[:,0:2].stack().median())
                df_min = df_results.stack().min()
                df_max = df_results.stack().max()
                df_range = df_max-df_min
                df_results_norm = (df_results - df_min)/df_range
                df.iloc[index+index_start:index+index_end, column_index:column_index+column_index_end] = df_results_norm
                print(sys._getframe().f_lineno, " normalized processed...",i)
            else:
                print(sys._getframe().f_lineno, " skip normalized data")
                pass
        except Exception as e: 
            print(sys._getframe().f_lineno, e)
            pass

    print(sys._getframe().f_lineno, " normalized data directory and name", unzipped_folder, "and", filename)
    new_filename = unzipped_folder+"\\"+filename#.split(".")[:-1]
    foldername_archive = unzipped_folder.split("\\")[-1]
    print(sys._getframe().f_lineno, " final file directory", new_filename,filename,foldername_sorted)
    filename_directory = completed_folder+foldername_sorted+"\\"+filename.split(".")[0]+normalized_end+"."+csv_end#filename.split(".")[-1]
    print(sys._getframe().f_lineno, " final name", filename_directory)
    df.to_csv(filename_directory,index=False)
    return(df,filename_directory)

def zscore_plate384(unzipped_folder,file_directory):
    '''Enter file to read plate and normalize data'''
    folder = unzipped_folder+"\\"
    filename = file_directory.split("\\")[-1]
    print(sys._getframe().f_lineno, " Filename z-score",folder+filename,foldername_sorted)

    df = pd.DataFrame([])
    df = pd.read_csv(file_directory, encoding = "utf-8",sep=',')##root_folder+"!completed\\"+filename+"_normalized."+filetype,
  
    for column in range(col_num):
        print(sys._getframe().f_lineno, " z-score column number", column, type(column))
        try:
            df_results_index = df[df.iloc[:,column].str.contains('A', na=False,regex=False)].index
            column_index = column+1
            print(sys._getframe().f_lineno, "line matching?",df_results_index)
            # break
        except Exception as e:
            print(sys._getframe().f_lineno,  e)
            pass
    
    if len(df_results_index) < df_results_length:
        for column in range(col_num):
            print(sys._getframe().f_lineno, "**Searching <1 Values**", df_results_index, 
                  df.iloc[:,column], 
                  "/n################switch",
                    df.iloc[column,:])

            try:
                df_results_index = df[pd.to_numeric(df.iloc[:,column], errors='coerce').le(1)].index
                column_index = column
                print(sys._getframe().f_lineno, "**INDEX#2**", df_results_index, 
                   # df[pd.to_numeric(df.iloc[:,column], errors='coerce').gt(2000)].index,
                     df.iloc[:,column])
                break
            except Exception as e:
                print(sys._getframe().f_lineno, e)
                pass 
            
    for i, index in enumerate(df_results_index):
        new_header = df.iloc[index-1,column_index:column_index+column_index_end]
        df_results = df.iloc[index+index_start:index+index_end,column_index:column_index+column_index_end] #row,col
        count_na = df_results.isna().sum().sum()
        count_values = df_results.count().sum()
        try:
            if  count_na < 100 and count_values > 100:
                df_results = df_results.fillna(0).astype(float)
                df_results.columns = new_header
                df_min = df_results.stack().min()
                df_max = df_results.stack().max()
                df_range = df_max-df_min
                df_results_norm = (df_results - df_min)/df_range
                df_mean = df_results_norm.stack().mean()
                df_std = df_results_norm.stack().std()
                df_results_zscore = (df_results_norm - df_mean)/df_std
                df.iloc[index+index_start:index+index_end,column_index:column_index+column_index_end] = df_results_zscore
                print(sys._getframe().f_lineno, " zscore processed...",i)
            else:
                print(sys._getframe().f_lineno, " zscore skip data")
                pass
        except Exception as e: 
            print(sys._getframe().f_lineno, e)
            pass

    new_filename = unzipped_folder+"//"+filename#.split(".")[:-1]
    foldername_archive = unzipped_folder.split("\\")[-1]
    print(sys._getframe().f_lineno, " z-score final file directory", new_filename, "\nfoldername:",foldername_archive)
    filename_directory = completed_folder+foldername_sorted+"\\"+filename.split(".")[0]+zscore_end+"."+csv_end
    print(sys._getframe().f_lineno, " z-score final name", filename_directory)
    df.to_csv(filename_directory,index=False)
    return(df,filename_directory)


def index_csv(unzipped_folder,file_directory):  
    folder = unzipped_folder+"\\"
    filename = file_directory.split("\\")[-1]
    foldername_sorted = os.path.basename(os.path.normpath(unzipped_folder))
    print(sys._getframe().f_lineno, " Filename z-score",folder+filename)

    df = pd.DataFrame([])
    df = pd.read_csv(file_directory, encoding = "utf-8",sep=',')

    value_list = []
    for column in range(col_num):
        print(sys._getframe().f_lineno, " z-score column number", column, type(column))
        try:
            df_results_index = df[df.iloc[:,column].str.contains('A', na=False,regex=False)].index
            column_index = column+1
            print(sys._getframe().f_lineno, "line matching?",df_results_index)
            # break
        except Exception as e:
            print(sys._getframe().f_lineno, e)
            pass
        
    if len(df_results_index) < df_results_length:
        for column in range(col_num):
            print(sys._getframe().f_lineno, "**Searching >2000 Values**", df_results_index, 
                  df.iloc[:,column], 
                  "/n################switch",
                    df.iloc[column,:])

            try:
                df_results_index = df[pd.to_numeric(df.iloc[:,column], errors='coerce').lt(1)].index
                column_index = column
                print(sys._getframe().f_lineno, "**INDEX#2**", df_results_index, 
                   # df[pd.to_numeric(df.iloc[:,column], errors='coerce').gt(2000)].index,
                     df.iloc[:,column])
                break
            except Exception as e:
                print(sys._getframe().f_lineno, e)
                pass 
    for i, index in enumerate(df_results_index):
        new_header = df.iloc[index-1,column_index:column_index+column_index_end]
        df_results = df.iloc[index+index_start:index+index_end,column_index:column_index+column_index_end] #row,col
        count_na = df_results.isna().sum().sum()
        count_values = df_results.count().sum()
        print(sys._getframe().f_lineno, " zscore NA count:", count_na, "Values count:", count_values, "done")
        try:
            if  count_na < 100 and count_values > 100:
                print(sys._getframe().f_lineno, " Dimensions: ",df_results.shape[0], df_results.shape[1])
                for row in range(df_results.shape[0]):
                    row_l = chr(ord('@')+row+1)
                    for col in range(df_results.shape[1]):
                        col_l = col+1
                        value_set = [str(row_l)+str(col_l), df_results.iloc[row,col]]
                        value_list.append(value_set)
        except Exception as e: 
            print(sys._getframe().f_lineno, e)
            pass
    df_list = pd.DataFrame([value_list]).transpose()
    df_list_2 = pd.DataFrame(df_list.iloc[:,0].to_list(), columns=['index','z-score'])
 
    new_filename = unzipped_folder+"\\!completed\\"+foldername_sorted#.split(".")[:-1]
    foldername_archive = unzipped_folder.split("\\")[-1]
    print(sys._getframe().f_lineno, " list final file directory", new_filename, "\nfoldername:",foldername_sorted)
    filename_directory = completed_folder+foldername_sorted+"\\"+filename.split(".")[0]+"_list."+filename.split(".")[-1]
    print(sys._getframe().f_lineno, " list final name", filename_directory)
    
    df_list_2.to_csv(filename_directory, index=False)#root_folder+"!completed\\"+filename.split(".")[0]+"_list.csv")
    return(df_list_2,filename_directory)

def unzipped_folder_access_files(plate_list, folder_archive):
    print(sys._getframe().f_lineno, "length of platelist", len(plate_list))
    n = 0
    for file in plate_list:
        filetype = file.split(".")[-1]
        first_name = file.split(".")[0]
        print(sys._getframe().f_lineno, " extracted files", first_name, filetype)
        if file.endswith("zip"):
            filename = root_folder+file
            newfilename = "".join(c for c in first_name if c not in '- ')#file.strip(" ").strip('-')
            new_filedirectory = root_folder+newfilename
            print(sys._getframe().f_lineno, filename, newfilename)
            with zipfile.ZipFile(filename, 'r') as zip_ref:
                print(sys._getframe().f_lineno, " unzipped filename", zip_ref.filename)
                zip_ref.extractall(new_filedirectory)
                print(sys._getframe().f_lineno, zip_ref, n,new_filedirectory)
                for folder in os.listdir(new_filedirectory):
                    os.replace(new_filedirectory+"\\"+folder,new_filedirectory+"\\"+newfilename)
                    print(sys._getframe().f_lineno,   folder, new_filedirectory)
                shutil.copy(root_folder+file, folder_archive)
                zip_ref.close()
                os.remove(root_folder+file)
                n+=1
                
def new_folder_processed_data(unzipped_folder):
    global folder, foldername_sorted
    foldername_sorted = os.path.basename(os.path.normpath(unzipped_folder))
    folder_unzipped_in_complete = completed_folder+foldername_sorted+"\\"
    folder_unzipped_in_archive = archive_folder+foldername_sorted+"\\"
    print(sys._getframe().f_lineno,  " folder making", folder_unzipped_in_complete)

    try:
        os.mkdir(folder_unzipped_in_complete)
        os.mkdir(folder_unzipped_in_archive)
        os.chdir(root_folder)

    except:
        os.chdir(root_folder)

set_root_folder()
plate_list = os.listdir(root_folder)
unzipped_folder_access_files(plate_list, archive_folder)
unzipped_folders_list = os.listdir(root_folder)
print(sys._getframe().f_lineno,   unzipped_folders_list)

for unzipped_foldername in unzipped_folders_list:
    if not any(extension in unzipped_foldername for extension in ("!", "zip")):
        foldername_extracted = unzipped_foldername.split("-")[0]
        print(sys._getframe().f_lineno,  " unzipped folder",unzipped_foldername,foldername_extracted)
        unzipped_folder_directory = root_folder+unzipped_foldername+"\\"+unzipped_foldername+"\\"
        print(sys._getframe().f_lineno,  " unzipped folder final", unzipped_folder_directory)
        new_folder_processed_data(unzipped_folder_directory)
        unzipped_folder = os.listdir(unzipped_folder_directory)
        print(sys._getframe().f_lineno, " unzipped folder list", unzipped_folder)

        for unzipped_file in unzipped_folder:
            if unzipped_file.endswith('csv'):
                csv_file_adjust(unzipped_folder_directory,unzipped_file)
                print(sys._getframe().f_lineno,  " unzipped files", unzipped_file)
                normalized_directory = normalize_plate384(unzipped_folder_directory,unzipped_file)
                print(sys._getframe().f_lineno,  " normalized directory", normalized_directory[1])
                z_score_directory = zscore_plate384(unzipped_folder_directory,normalized_directory[1])
                index_csv(unzipped_folder_directory,z_score_directory[1])
            else:
                print(sys._getframe().f_lineno, " end", unzipped_foldername, unzipped_file)
                pass

250 length of platelist 5
255  extracted files !archive !archive
255  extracted files !completed !completed
255  extracted files AFG3L2 Screen-20230708T055828Z-001 (1) zip
260 C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2 Screen-20230708T055828Z-001 (1).zip AFG3L2Screen20230708T055828Z001(1)
262  unzipped filename C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2 Screen-20230708T055828Z-001 (1).zip
264 <zipfile.ZipFile filename='C:\\Users\\vandu\\Desktop\\vancanwin\\yeast-data\\AFG3L2 Screen-20230708T055828Z-001 (1).zip' mode='r'> 0 C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)
267 AFG3L2 Screen C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)
255  extracted files FARS2 screen-TargetMol zip
260 C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2 screen-TargetMol.zip FARS2screenTargetMol
262  unzipped filename C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2 screen-TargetMol.zip
264 <zipfile.ZipFile filename='C:\\Users\\vandu\\Desktop\\vancanwin\\yeast-data\\FARS2 screen-TargetMol.zip' mode='r'> 1 C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol
267 FARS2 screen C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol
255  extracted files SURF1 screen -TargetMol  zip
260 C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1 screen -TargetMol .zip SURF1screenTargetMol
262  unzipped filename C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1 screen -TargetMol .zip
264 <zipfile.ZipFile filename='C:\\Users\\vandu\\Desktop\\vancanwin\\yeast-data\\SURF1 screen -TargetMol .zip' mode='r'> 2 C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol
267 SURF1 screen C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol
292 ['!archive', '!completed', 'AFG3L2Screen20230708T055828Z001(1)', 'FARS2screenTargetMol', 'SURF1screenTargetMol']
297  unzipped folder AFG3L2Screen20230708T055828Z001(1) AFG3L2Screen20230708T055828Z001(1)
299  unzipped folder final C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\
278  folder making C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\
302  unzipped folder list ['1.csv', '10.csv', '11.csv', '12.csv', '13.csv', '14.csv', '15.csv', '16.csv', '17.csv', '18.csv', '19.csv', '2.csv', '20.csv', '21.csv', '22.csv', '23.csv', '24.csv', '25.csv', '26.csv', '27.csv', '3.csv', '4.csv', '5.csv', '6.csv', '7.csv', '8.csv', '9.csv']
307  unzipped files 1.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.39
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.51
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             42.2
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       42
2      NaN
3      NaN
4       28
      ...
117    NaN
118    NaN
119    NaN
120    out
121    NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.36
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.88
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       30
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         41
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 1.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\1.csv 1.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\1_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\1_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\1_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//1_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\1_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\1_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

0      Chamber
1        22.97
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       00
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         23
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 10.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\10.csv 10.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\10_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\10_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\10_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//10_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\10_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\10_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\10_normalized_zscore_list.csv
307  unzipped files 11.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.86
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.3
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             41.4
2              NaN

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\11_normalized_zscore_list.csv
307  unzipped files 12.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.98
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             41.7
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      41.1
2       NaN
3       NaN
4         8
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.95
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.97
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       04
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         26
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 12.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\12.csv 12.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\12_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\12_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\12_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\13_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\13_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//13_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\13_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\13_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\13_normalized_zscore_list.csv
307  unzipped files 14.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.59
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.61
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             42.9
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.3
2       NaN
3       NaN
4         8
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.87
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1         21.8
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       16
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         41
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 15.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.49
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.32
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.7
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.7
2       NaN
3       NaN
4         4
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.67
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1         21.7
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       19
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         33
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 15.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\15.csv 15.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\15_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\15_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\15_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//15_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\15_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\15_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 18.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.69
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.6
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.6
2       NaN
3       NaN
4       716
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.97
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       26
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         36
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 18.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\18.csv 18.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\18_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\18_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\18_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//18_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\18_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\18_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//19_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\19_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\19_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\19_normalized_zscore_list.csv
307  unzipped files 2.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.61
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.6
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       44
2      NaN
3      NaN
4        8
      ...
117    NaN
118    NaN
119    NaN
120    out
121    NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.87
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1         21.7
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       32
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         53
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 20.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.08
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1                 22
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.4
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.4
2       NaN
3       NaN
4       560
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.26
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.48
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       30
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         48
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 20.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\20.csv 20.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\20_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\20_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\20_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//20_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\20_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\20_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       42
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         01
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 23.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\23.csv 23.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\23_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\23_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\23_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//23_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\23_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\23_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\23_normalized_zscore_list.csv
307  unzipped files 24.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.88
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.6
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.7
2       NaN
3       NaN
4       212
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.07
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 25.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.69
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.7
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.9
2       NaN
3       NaN
4       188
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.97
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       46
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         19
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 25.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\25.csv 25.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\25_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\25_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\25_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//25_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\25_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\25_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\26_normalized_zscore_list.csv
307  unzipped files 27.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.7
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.4
2       NaN
3       NaN
4       140
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.07
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.19
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       51
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         58
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 27.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\27.csv 27.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\27_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\27_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\27_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\3_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\3_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//3_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\3_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\3_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\3_normalized_zscore_list.csv
307  unzipped files 4.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.66
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.61
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               44
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.6
2       NaN
3       NaN
4         8
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.85
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.09
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       36
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         58
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 5.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.49
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.4
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      43.6
2       NaN
3       NaN
4         8
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.07
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1         21.8
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       38
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         58
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 5.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\5.csv 5.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\5_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\5_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\5_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//5_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\5_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\5_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 8.csv
36 foldername AFG3L2Screen20230708T055828Z001(1)
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.28
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.3
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               42
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      41.7
2       NaN
3       NaN
4         4
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.75
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.88
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1         7/7/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       56
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         16
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\ and 8.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\8.csv 8.csv AFG3L2Screen20230708T055828Z001(1)
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\8_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\8_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\8_normalized.csv AFG3L2Screen20230708T055828Z001(1)
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([92], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//8_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\8_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\8_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\//9_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\9_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\9_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([92], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\AFG3L2Screen20230708T055828Z001(1)\AFG3L2Screen20230708T055828Z001(1)\\!completed\AFG3L2Screen20230708T055828Z001(1)
foldername: AFG3L2Screen20230708T055828Z001(1)
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\AFG3L2Screen20230708T055828Z001(1)\9_normalized_zscore_list.csv
297  unzipped folder FARS2screenTargetMol FARS2screenTargetMol
299  unzipped folder final C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\
278  folder making C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\
302  unzipped folder list ['1.csv', '10.csv', '11.csv', '12.csv', '13.csv', '14.csv', '15.csv', '16.csv', '17.csv', '18.csv', '19.csv', '2.csv', '20.csv', '21.csv', '22.csv', '23.csv', '24.csv', '25.csv', '26.csv', '27.csv', '3.csv', '4.csv', '5.csv', '6.csv', '7.csv', '8.csv', '9.csv']
307  unzipped files 1.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.46
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.3
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.5
2       NaN
3       NaN
4        12
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.56
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.29
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       32
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         50
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        6120       7360       5960       5800       6000       6200
6        6600       6440       6560       6280       6440       6960
7        6960       7280       6520       8160       6280       7040
8        6320       6200       6400       5760       6480       6520
9        6720       6920       6840       7320       6880       7200
10       6840       6120       6960       6040       6280       6880
11       6720       7120       6760       7080       6800       7040
12       6600       5680       6120       6320       6480       6000
13       6360       6000       6320       7440       6560       6840
14       6440       5840       6000       5800       6560       5880
15       6880       6920       6520       7320       6640       7200
16       6160       6080       5440       6320       6000       6040
17       6560       6360       6760       6440       6320       6640
18       6520       5800       5920       6120       6400       6040
19       6120       6080       6160       6400       5880       6880
20       5560       5720       6000       5800       5520       5400

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        6160       6400       5840       6160  ...        5640        5920
6        6600       6640       6760       6560  ...        6920        6680
7        6400       6400       6160       6200  ...        5640        6000
8        7080       6200       6440       5760  ...        6720        6440
9        6640       7040       6680       7160  ...        6800        6720
10       6800       6120       6760       5800  ...        6760        6200
11       6480       6760       6440       6720  ...        6040        6360
12       7240       5800       6520       6120  ...        6440        5840
13       7120       6920       6280       6920  ...        6480        6560
14       6680       1680       6280       5880  ...        6720        6360
15       6960       6800       6000       6480  ...        6040        6480
16       6240       6280       6640       5840  ...        6200        8400
17       6120       6320       6360       7040  ...        5560        6560
18       6080       5960       6040       5160  ...        5520        4480
19       5920       6280       6320       6680  ...        6520        6600
20       5360       5320       5960       5520  ...        6000        5120

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         5880        6280        6040        6160        6640        6600
6         6320        6040        6240        6080        5680        5040
7         6080        6640        5800        5920        5600        6360
8         6400        6360        6360        6160        5840        4920
9         6320        7080        6960        7280        6240        6400
10        6920        6120        6560        6240        5760        4840
11       13680        7440        6920        7280        6400        6280
12        6440        6000        6440        5600        5240        4920
13        6640        6240        6400        7120        6680        6280
14        6120        5440        5520        5320        5680        5000
15        5720        6440        6040        7040        6400        7120
16        5880        5240        5440        5080        5200        4040
17        6080        6080        5840        6560        6520        6360
18        5840        5440        5120        4880        5120        4360

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 10.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.37
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.81
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             47.8
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.7
2       NaN
3       NaN
4         4
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.07
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.09
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       55
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         30
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7800       7840       7480       8680       7800       7920
6        7640       7520       8400       7120       7640       7880
7        8280       8440       8200       8640       8160       8720
8        8040       7600       8480       7800       8640       8320
9        7520       8240       7800       8880       8360       9040
10       8360       7760       8760      13840      10000       7760
11       7560       7880       7840       8160       8120       9000
12       7800       8280       8640       7920       8880       8120
13       8120       8800       8160       9040       8840       9400
14       8160       7400       9800       8040       8520       7920
15       8040       8040       8040       8360       8080       8280
16       8000       7520       8040       7480       8840       7600
17       7160       7640       7560       8160       8120       8200
18       7680       7440       8120       7720       8320       7800
19       7080       7360       7360       7720       7960       7960
20       6920       7000       7960       7360       7440       7520

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7440       7600       7160       7280  ...        7760        7600
6        9040       8200       8840       8400  ...        8520        8280
7        9000       8640       8280       9160  ...        8920        9000
8        8720       8640       8360       8120  ...        9960        8120
9        8600       9200       9040       9800  ...        9400        8920
10       8760       8920       9280       8160  ...        8320        8040
11       9000       8440       8040       9280  ...        9200        9080
12       8760       8800       8480       8000  ...        8640        8960
13       8800       8800       8560       8480  ...        8680        8480
14       8520       8240       8600       8440  ...        8440        8160
15       7840       8120       8480       8120  ...        7680        8280
16       8720       8040       9480       8440  ...        8920        7920
17       7640       7960       8080       7400  ...        7760        7880
18       8240       7440       7840       7400  ...        8160        7440
19       8080       8160       7920       7720  ...        7000        8240
20       8360       7080       7440       6600  ...        6680        7240

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         7920        7760        7680        7160        7400        7040
6         8440        7560        8640        7600        7600        6360
7         8800        8200        8080        7640        7480        7120
8         8480        8280        8640        8160        7840        7280
9         8320        9040        8960        8520        7520        7440
10        8640        7600        8000        7320        7760        7240
11        7600        9400        7720        7520        7760        7880
12        8720        8120        8440        7280        7720        7800
13        8080        8960        7800        8240        7840        8200
14        8920        8120        8640        8120        7880        7240
15        8000        8080        8640        7960        8320        7600
16        8480        8320        7920        6560        8080       10520
17        7680        7240        8160        7440        7480        7320
18        8280        7640        8560        7600        7720        7240
19        7160        7840        8200        7880        7560        8160
20        7280        7240        6960        7040        7760        6880

   Unnamed: 22 Unnamed: 23
5          960       69280
6          640       54920
7          840       74040
8          600       69480
9          600       81920
10         680       67200
11         720       78800
12         840       73080
13         440       73040
14         840       68960
15         720       81440
16         720       72160
17         760       88000
18         760       67480
19         600       83560
20        1080       80480

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.082229   0.080859     0.090909   0.076291   0.082229    0.08497
7    0.089539   0.091366     0.088625    0.09365   0.088168   0.094564
8    0.086798   0.081772     0.091823   0.084057    0.09365   0.089995
9    0.080859   0.089082     0.084057   0.096391   0.090452   0.098218
10   0.090452     0.0836     0.095021   0.153038   0.109182     0.0836
11   0.081316    0.08497     0.084513   0.088168   0.087711   0.097762
12   0.084057   0.089539      0.09365   0.085427   0.096391   0.087711
13   0.087711   0.095477     0.088168   0.098218   0.095934    0.10233
14   0.088168   0.079488     0.106898   0.086798    0.09228   0.085427
15   0.086798   0.086798     0.086798   0.090452   0.087254   0.089539
16   0.086341   0.080859     0.086798   0.080402   0.095934   0.081772
17   0.076747   0.082229     0.081316   0.088168   0.087711   0.088625
18   0.082686   0.079945     0.087711   0.083143   0.089995   0.084057
19   0.075834   0.079032     0.079032   0.083143   0.085884   0.085884
20   0.074006    0.07492     0.085884   0.079032   0.079945   0.080859
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.098218   0.088625   0.095934   0.090909  ...     0.09228    0.089539
7    0.097762    0.09365   0.089539   0.099589  ...    0.096848    0.097762
8    0.094564    0.09365   0.090452   0.087711  ...    0.108725    0.087711
9    0.093193   0.100046   0.098218   0.106898  ...     0.10233    0.096848
10   0.095021   0.096848   0.100959   0.088168  ...    0.089995    0.086798
11   0.097762   0.091366   0.086798   0.100959  ...    0.100046    0.098675
12   0.095021   0.095477   0.091823   0.086341  ...     0.09365    0.097305
13   0.095477   0.095477   0.092736   0.091823  ...    0.094107    0.091823
14    0.09228   0.089082   0.093193   0.091366  ...    0.091366    0.088168
15   0.084513   0.087711   0.091823   0.087711  ...    0.082686    0.089539
16   0.094564   0.086798   0.103243   0.091366  ...    0.096848    0.085427
17   0.082229   0.085884   0.087254   0.079488  ...      0.0836     0.08497
18   0.089082   0.079945   0.084513   0.079488  ...    0.088168    0.079945
19   0.087254   0.088168   0.085427   0.083143  ...     0.07492    0.089082
20   0.090452   0.075834   0.079945   0.070352  ...    0.071265    0.077661
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.091366    0.081316     0.09365    0.081772    0.081772    0.067611
7     0.095477    0.088625    0.087254    0.082229    0.080402    0.076291
8     0.091823    0.089539     0.09365    0.088168    0.084513    0.078118
9     0.089995    0.098218    0.097305     0.09228    0.080859    0.079945
10     0.09365    0.081772    0.086341    0.078575      0.0836    0.077661
11    0.081772     0.10233    0.083143    0.080859      0.0836     0.08497
12    0.094564    0.087711    0.091366    0.078118    0.083143    0.084057
13    0.087254    0.097305    0.084057    0.089082    0.084513    0.088625
14    0.096848    0.087711     0.09365    0.087711     0.08497    0.077661
15    0.086341    0.087254     0.09365    0.085884    0.089995    0.081772
16    0.091823    0.089995    0.085427    0.069895    0.087254    0.115121
17    0.082686    0.077661    0.088168    0.079945    0.080402    0.078575
18    0.089539    0.082229    0.092736    0.081772    0.083143    0.077661
19    0.076747    0.084513    0.088625     0.08497    0.081316    0.088168
20    0.078118    0.077661    0.074463    0.075377      0.0836     0.07355
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.002284    0.622202
7     0.004568    0.840566
8     0.001827    0.788488
9     0.001827    0.930562
10    0.002741    0.762449
11    0.003198    0.894929
12    0.004568    0.829603
13         0.0    0.829146
14    0.004568    0.782549
15    0.003198     0.92508
16    0.003198    0.819095
17    0.003655         1.0
18    0.003655    0.765646
19    0.001827    0.949292
20    0.007309    0.914116
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.089539   0.091366     0.088625    0.09365   0.088168   0.094564
8    0.086798   0.081772     0.091823   0.084057    0.09365   0.089995
9    0.080859   0.089082     0.084057   0.096391   0.090452   0.098218
10   0.090452     0.0836     0.095021   0.153038   0.109182     0.0836
11   0.081316    0.08497     0.084513   0.088168   0.087711   0.097762
12   0.084057   0.089539      0.09365   0.085427   0.096391   0.087711
13   0.087711   0.095477     0.088168   0.098218   0.095934    0.10233
14   0.088168   0.079488     0.106898   0.086798    0.09228   0.085427
15   0.086798   0.086798     0.086798   0.090452   0.087254   0.089539
16   0.086341   0.080859     0.086798   0.080402   0.095934   0.081772
17   0.076747   0.082229     0.081316   0.088168   0.087711   0.088625
18   0.082686   0.079945     0.087711   0.083143   0.089995   0.084057
19   0.075834   0.079032     0.079032   0.083143   0.085884   0.085884
20   0.074006    0.07492     0.085884   0.079032   0.079945   0.080859
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([90], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//11_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\11_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\11_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\11_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 12.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.37
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.69
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             44.8
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      44.8
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.44
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        23.27
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       00
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         28
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7400       8120       8600       8240       7560       7440
6        8360       7160       7680       6960       8520       7640
7        7760       8200       8280       9560       7440       7560
8        7560       7520       7920       7400       8160       8000
9        8040       8200       8400       8560       8400       8840
10       8320       7520       7840       7240       8720       7680
11       7840       8200       7760       7960       7800       8440
12       7520       7160       8040       7440       7760       7120
13       7800       8400       7920       8000       7160       6960
14       8000       6960       7840       7040       7600       7240
15       7280       7200       7960       8240       7720       7800
16       7000       7280       7720       7280       7760       7280
17       7000       7840       7440       7520       7240       7520
18       7200       7240       6640       6160       6840       6160
19       7120       7800       8080       8440       7640       7760
20       7080       6600       7320       6480       6640       6360

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7160       7840       7920       7480  ...        7040        6760
6        8160       7440       7720       7920  ...        7680        6960
7        7320       7360       7360       8000  ...        7200        7840
8        7800       7120       8040       7200  ...        7600        7360
9        8760       8840       8440       8720  ...        8400        9560
10       8600       7920       8040       7680  ...        7360        7120
11       8280       7640       7920       7760  ...        8000        7960
12       8600       7560       8400       6600  ...        7280        7000
13       7800       7880       8200      10560  ...        7360        8520
14       8280       7600       7800       7680  ...        7520        6880
15       7440       7840       7400       7800  ...        6880        7640
16       8280       8200       7280       6880  ...        7680        7000
17       7800       7480       6560       7280  ...        7040        6600
18       7280       7200      21880       6280  ...        5960        5560
19       7840       7840       7280       7880  ...        6840        7360
20       7000       6760       6320       6120  ...        5600        5600

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         7080        7160        7200        7000        6680        6840
6         7840        7120        7040        5680        6880        5440
7         6840        7640        7040        7040        6760        6680
8         7560        6640        7400        7400        6920        6800
9         7600        8040        6840        6400        6760        7200
10        7800        6600        6920        5760        6160        5200
11        7320        8440        6720        7560        6880        7200
12        7280        6720        6280        6120        5560        5280
13        7240        7800        7360        8160        7800        7680
14        6640        7360        7440        7080        7120        6440
15        7320        7440        6760        7440        7200        7160
16        7280        6880        6840        6120        6760        6360
17        6560        7280        6760        4240        7520        7680
18        5920        5840        6000        5440        5320        4960
19        6560        7520        7600        7760        7440        7840
20        6280        6120        6280        6080        6640        5840

   Unnamed: 22 Unnamed: 23
5          880       65800
6          440       60080
7         1080       71280
8         1080       58040
9          760       74320
10        1440       53600
11         680       89320
12        2360       53560
13         640       76760
14        1160       71880
15         560       80000
16        1120       66800
17         760       95280
18        5280       56480
19         680       89640
20        1040       77000

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.083509   0.070856     0.076339   0.068747   0.085196   0.075917
7    0.077183   0.081822     0.082666   0.096162   0.073809   0.075074
8    0.075074   0.074652      0.07887   0.073387     0.0814   0.079713
9    0.080135   0.081822     0.083931   0.085618   0.083931    0.08857
10   0.083087   0.074652     0.078026     0.0717   0.087305   0.076339
11   0.078026   0.081822     0.077183   0.079291   0.077604   0.084353
12   0.074652   0.070856     0.080135   0.073809   0.077183   0.070434
13   0.077604   0.083931      0.07887   0.079713   0.070856   0.068747
14   0.079713   0.068747     0.078026   0.069591   0.075496     0.0717
15   0.072121   0.071278     0.079291   0.082244   0.076761   0.077604
16   0.069169   0.072121     0.076761   0.072121   0.077183   0.072121
17   0.069169   0.078026     0.073809   0.074652     0.0717   0.074652
18   0.071278     0.0717     0.065373   0.060312   0.067482   0.060312
19   0.070434   0.077604     0.080557   0.084353   0.075917   0.077183
20   0.070013   0.064951     0.072543   0.063686   0.065373   0.062421
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6      0.0814   0.073809   0.076761    0.07887  ...    0.076339    0.068747
7    0.072543   0.072965   0.072965   0.079713  ...    0.071278    0.078026
8    0.077604   0.070434   0.080135   0.071278  ...    0.075496    0.072965
9    0.087727    0.08857   0.084353   0.087305  ...    0.083931    0.096162
10    0.08604    0.07887   0.080135   0.076339  ...    0.072965    0.070434
11   0.082666   0.075917    0.07887   0.077183  ...    0.079713    0.079291
12    0.08604   0.075074   0.083931   0.064951  ...    0.072121    0.069169
13   0.077604   0.078448   0.081822   0.106706  ...    0.072965    0.085196
14   0.082666   0.075496   0.077604   0.076339  ...    0.074652    0.067904
15   0.073809   0.078026   0.073387   0.077604  ...    0.067904    0.075917
16   0.082666   0.081822   0.072121   0.067904  ...    0.076339    0.069169
17   0.077604    0.07423    0.06453   0.072121  ...    0.069591    0.064951
18   0.072121   0.071278   0.226065   0.061577  ...    0.058203    0.053986
19   0.078026   0.078026   0.072121   0.078448  ...    0.067482    0.072965
20   0.069169   0.066639   0.061999    0.05989  ...    0.054407    0.054407
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.078026    0.070434    0.069591    0.055251    0.067904     0.05272
7     0.067482    0.075917    0.069591    0.069591    0.066639    0.065795
8     0.075074    0.065373    0.073387    0.073387    0.068326     0.06706
9     0.075496    0.080135    0.067482    0.062843    0.066639    0.071278
10    0.077604    0.064951    0.068326    0.056094    0.060312     0.05019
11    0.072543    0.084353    0.066217    0.075074    0.067904    0.071278
12    0.072121    0.066217    0.061577     0.05989    0.053986    0.051033
13      0.0717    0.077604    0.072965      0.0814    0.077604    0.076339
14    0.065373    0.072965    0.073809    0.070013    0.070434    0.063264
15    0.072543    0.073809    0.066639    0.073809    0.071278    0.070856
16    0.072121    0.067904    0.067482     0.05989    0.066639    0.062421
17     0.06453    0.072121    0.066639    0.040067    0.074652    0.076339
18    0.057782    0.056938    0.058625     0.05272    0.051455    0.047659
19     0.06453    0.074652    0.075496    0.077183    0.073809    0.078026
20    0.061577     0.05989    0.061577    0.059469    0.065373    0.056938
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6          0.0    0.628849
7     0.006748    0.746942
8     0.006748    0.607339
9     0.003374    0.778996
10    0.010544    0.560523
11    0.002531    0.937157
12    0.020245    0.560101
13    0.002109    0.804724
14    0.007592    0.753269
15    0.001265    0.838887
16     0.00717    0.699705
17    0.003374         1.0
18    0.051033     0.59089
19    0.002531    0.940531
20    0.006326    0.807254
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.077183   0.081822     0.082666   0.096162   0.073809   0.075074
8    0.075074   0.074652      0.07887   0.073387     0.0814   0.079713
9    0.080135   0.081822     0.083931   0.085618   0.083931    0.08857
10   0.083087   0.074652     0.078026     0.0717   0.087305   0.076339
11   0.078026   0.081822     0.077183   0.079291   0.077604   0.084353
12   0.074652   0.070856     0.080135   0.073809   0.077183   0.070434
13   0.077604   0.083931      0.07887   0.079713   0.070856   0.068747
14   0.079713   0.068747     0.078026   0.069591   0.075496     0.0717
15   0.072121   0.071278     0.079291   0.082244   0.076761   0.077604
16   0.069169   0.072121     0.076761   0.072121   0.077183   0.072121
17   0.069169   0.078026     0.073809   0.074652     0.0717   0.074652
18   0.071278     0.0717     0.065373   0.060312   0.067482   0.060312
19   0.070434   0.077604     0.080557   0.084353   0.075917   0.077183
20   0.070013   0.064951     0.072543   0.063686   0.065373   0.062421
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//13_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\13_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\13_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\13_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 14.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             23.26
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              23.48
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             44.2
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       44
2      NaN
3      NaN
4        8
      ...
115    NaN
116    NaN
117    NaN
118    out
119    NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.83
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        23.96
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       08
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         08
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7560       8120       8520       8320       6920       7320
6        8720       7560       7960       8920       8160       7880
7        7520       9120       8040       8560       6640       7120
8        8120       7640       8480       7600       8200       7880
9        7400       7840       7560       8360       7640       8080
10       8160       7520       8080       7480       8920       7960
11       7880       7840       7440       8400       8280       8560
12       7720       7440       8040       8040       9000       9080
13       7000       8480       7640       8360       8160       8200
14       6560       7040       7120       8520       8160       8120
15       7280       7560       7240       8040       8360       8200
16       6960       6880       7440       7080       7600       7760
17       6560       7560       7200       7840       7480       7800
18       6840       7440       7960       6960       6760       6600
19       7320       7440       7040       7560       7280       7160
20       7440       7000       7520       7160       7440       7080

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7320       7680       7360       7400  ...        7000        7480
6        8680       7920       8880       7880  ...        7720        7880
7        7080       6800       7400       7920  ...        7040        7360
8        8480       8200       8440       8160  ...        8240        7560
9        9560       8320       8160       7920  ...        7400        8040
10       8440       8360       8720       8160  ...        8400        8120
11       8400       8960       8560       8320  ...        7440        7800
12       8000       8360       9080       8080  ...        7360        7600
13       7760       8600       8120       8840  ...        8360        8600
14       8400       8360       8800       7840  ...        7760        7760
15       8120       8480       7800       8160  ...        8120        7880
16       7360       7480       7040       6560  ...        7360        7040
17       8400       8960       7320       8520  ...        7640        7840
18       7320       5880       7360       6720  ...        6800        6560
19       7880       8280       7800       7600  ...        7480        8200
20       6560       6760       6600       5920  ...        6920        5960

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         7720        6960        6720        6960        6600        6640
6         7880        7480        8640        7600        7800        5720
7         6960        7560        7400        6920        6040        6920
8         7800        7720        7600        7200        6840        5280
9         7560        7880        7440        7440        7120        6760
10        8000        8120        7480        7080        7720        6560
11        8040        8200        6680        7440        6480        6880
12        8360        7320        7560        6680        6920        6480
13        8080        8160        7520        8600        8320        8360
14        7880        7560        8160        7240        7480        6880
15        7720        8520        8040        8680        8080        7720
16        7520        7200        7440        7240        7680        6600
17        7280        8320        7440        8480        8080        8520
18        7280       15720        6240        6760        7360        7200
19       19320     3261480       20400        8600        8160        8000
20        7200       17840        6360        5960        6920        6240

   Unnamed: 22 Unnamed: 23
5         1000       85520
6          680       74800
7         1080      105440
8          920       71240
9          840      110600
10        1040       67840
11         680      108520
12         960       69080
13         800      104280
14         800       80400
15         560      102640
16         880       85080
17         800      107320
18         720       91240
19         760      103880
20         720       92440

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.002502   0.002147     0.002269   0.002564   0.002331   0.002245
7    0.002134   0.002625     0.002294   0.002453   0.001865   0.002012
8    0.002318   0.002171     0.002429   0.002159   0.002343   0.002245
9    0.002098   0.002232     0.002147   0.002392   0.002171   0.002306
10   0.002331   0.002134     0.002306   0.002122   0.002564   0.002269
11   0.002245   0.002232      0.00211   0.002404   0.002367   0.002453
12   0.002196    0.00211     0.002294   0.002294   0.002588   0.002613
13   0.001975   0.002429     0.002171   0.002392   0.002331   0.002343
14    0.00184   0.001987     0.002012   0.002441   0.002331   0.002318
15   0.002061   0.002147     0.002049   0.002294   0.002392   0.002343
16   0.001963   0.001938      0.00211   0.001999   0.002159   0.002208
17    0.00184   0.002147     0.002036   0.002232   0.002122    0.00222
18   0.001926    0.00211     0.002269   0.001963   0.001901   0.001852
19   0.002073    0.00211     0.001987   0.002147   0.002061   0.002024
20    0.00211   0.001975     0.002134   0.002024    0.00211   0.001999
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6     0.00249   0.002257   0.002551   0.002245  ...    0.002196    0.002245
7    0.001999   0.001914   0.002098   0.002257  ...    0.001987    0.002085
8    0.002429   0.002343   0.002416   0.002331  ...    0.002355    0.002147
9     0.00276    0.00238   0.002331   0.002257  ...    0.002098    0.002294
10   0.002416   0.002392   0.002502   0.002331  ...    0.002404    0.002318
11   0.002404   0.002576   0.002453    0.00238  ...     0.00211     0.00222
12   0.002282   0.002392   0.002613   0.002306  ...    0.002085    0.002159
13   0.002208   0.002466   0.002318   0.002539  ...    0.002392    0.002466
14   0.002404   0.002392   0.002527   0.002232  ...    0.002208    0.002208
15   0.002318   0.002429    0.00222   0.002331  ...    0.002318    0.002245
16   0.002085   0.002122   0.001987    0.00184  ...    0.002085    0.001987
17   0.002404   0.002576   0.002073   0.002441  ...    0.002171    0.002232
18   0.002073   0.001631   0.002085   0.001889  ...    0.001914     0.00184
19   0.002245   0.002367    0.00222   0.002159  ...    0.002122    0.002343
20    0.00184   0.001901   0.001852   0.001644  ...     0.00195    0.001656
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.002245    0.002122    0.002478    0.002159     0.00222    0.001582
7     0.001963    0.002147    0.002098     0.00195    0.001681     0.00195
8      0.00222    0.002196    0.002159    0.002036    0.001926    0.001447
9     0.002147    0.002245     0.00211     0.00211    0.002012    0.001901
10    0.002282    0.002318    0.002122    0.001999    0.002196     0.00184
11    0.002294    0.002343    0.001877     0.00211    0.001815    0.001938
12    0.002392    0.002073    0.002147    0.001877     0.00195    0.001815
13    0.002306    0.002331    0.002134    0.002466     0.00238    0.002392
14    0.002245    0.002147    0.002331    0.002049    0.002122    0.001938
15    0.002196    0.002441    0.002294     0.00249    0.002306    0.002196
16    0.002134    0.002036     0.00211    0.002049    0.002183    0.001852
17    0.002061     0.00238     0.00211    0.002429    0.002306    0.002441
18    0.002061    0.004649    0.001742    0.001901    0.002085    0.002036
19    0.005753         1.0    0.006084    0.002466    0.002331    0.002282
20    0.002036    0.005299    0.001779    0.001656     0.00195    0.001742
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.000037    0.022767
7     0.000159    0.032163
8      0.00011    0.021675
9     0.000086    0.033745
10    0.000147    0.020632
11    0.000037    0.033107
12    0.000123    0.021012
13    0.000074    0.031807
14    0.000074    0.024484
15         0.0    0.031304
16    0.000098    0.025919
17    0.000074    0.032739
18    0.000049    0.027808
19    0.000061    0.031684
20    0.000049    0.028176
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.002134   0.002625     0.002294   0.002453   0.001865   0.002012
8    0.002318   0.002171     0.002429   0.002159   0.002343   0.002245
9    0.002098   0.002232     0.002147   0.002392   0.002171   0.002306
10   0.002331   0.002134     0.002306   0.002122   0.002564   0.002269
11   0.002245   0.002232      0.00211   0.002404   0.002367   0.002453
12   0.002196    0.00211     0.002294   0.002294   0.002588   0.002613
13   0.001975   0.002429     0.002171   0.002392   0.002331   0.002343
14    0.00184   0.001987     0.002012   0.002441   0.002331   0.002318
15   0.002061   0.002147     0.002049   0.002294   0.002392   0.002343
16   0.001963   0.001938      0.00211   0.001999   0.002159   0.002208
17    0.00184   0.002147     0.002036   0.002232   0.002122    0.00222
18   0.001926    0.00211     0.002269   0.001963   0.001901   0.001852
19   0.002073    0.00211     0.001987   0.002147   0.002061   0.002024
20    0.00211   0.001975     0.002134   0.002024    0.00211   0.001999
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.100097   0.087041     0.094294   0.096712   0.096228   0.093327
7    0.095745   0.104449     0.104932   0.113636   0.106867   0.112186
8    0.094294   0.090909     0.099613   0.098162    0.10058   0.088491
9    0.096228   0.098646     0.099613   0.101547   0.104932   0.109284
10   0.094778   0.088491     0.098162   0.097195   0.102515   0.091876
11   0.092843   0.100097     0.097679   0.094778   0.096712   0.094778
12   0.084139   0.089942     0.096228   0.088491   0.097195   0.090909
13    0.09236   0.097195     0.101547   0.107834   0.098646   0.105416
14    0.09381   0.084623     0.098646   0.094778   0.090426   0.096228
15   0.091876   0.088975     0.096712   0.112186   0.090426   0.094778
16   0.089942   0.083656     0.089942   0.088975   0.087524   0.080754
17   0.090909   0.094778     0.090426   0.095261   0.082689   0.102515
18   0.086557   0.082689     0.087524   0.085106   0.092843   0.083172
19   0.090426   0.094778     0.096712   0.096712   0.088491    0.09381
20    0.08559   0.076402     0.083172   0.077369   0.079787    0.07882
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.097195   0.091876   0.102515    0.09236  ...    0.081238    0.090426
7    0.097195   0.100097   0.097679    0.09913  ...    0.097195    0.088491
8    0.094294    0.09236   0.096228   0.088975  ...    0.092843    0.093327
9    0.102031   0.098162   0.094778   0.106383  ...    0.096712    0.097195
10   0.098646   0.089942    0.09236   0.095261  ...    0.098646    0.086557
11   0.094294   0.102031   0.099613   0.102031  ...    0.106867    0.100097
12   0.086074   0.089942   0.095745   0.086074  ...    0.086074    0.088008
13   0.102031   0.102515   0.096228   0.092843  ...    0.100097    0.080271
14   0.091876    0.08559   0.094294   0.083656  ...    0.095261    0.084623
15   0.097679   0.091876   0.098646   0.097195  ...    0.099613    0.089942
16   0.093327   0.087041   0.093327   0.089458  ...    0.091393    0.086074
17    0.09381    0.10058   0.090909   0.105899  ...    0.084623    0.091876
18   0.088491   0.086557   0.096712   0.077853  ...    0.082689     0.07205
19    0.09236   0.096228   0.091393   0.087041  ...    0.078337    0.084623
20   0.091393   0.076886    0.07882   0.074952  ...    0.064313    0.067215
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.094778    0.084139    0.086074     0.09381    0.088491     0.08559
7     0.083656    0.081721    0.076402    0.088975    0.077369    0.076886
8      0.09236    0.081721    0.087524    0.083656    0.085106    0.068182
9      0.09381    0.102998    0.103482    0.103482    0.088975    0.097679
10    0.094294     0.08559    0.094778    0.078337    0.080754    0.072534
11    0.088491    0.102031    0.090426    0.092843    0.086074    0.087524
12    0.090426    0.098162     0.10058    0.092843    0.098162    0.084139
13    0.090426    0.108317    0.090426     0.09381    0.189555    0.088975
14    0.091876    0.088975    0.088975     0.10058    0.076886    0.081721
15    0.096228    0.098162    0.089458    0.100097    0.083172    0.090909
16     0.08559    0.090426    0.090909    0.088491    0.082689    0.079304
17    0.087041    0.090426    0.086557    0.089942    0.079787    0.088008
18    0.077853    0.062863    0.081721    0.075435    0.087041     0.07882
19    0.091393    0.087524    0.085106    0.091876    0.090426     0.09236
20    0.066248    0.067215    0.068182    0.061896    0.069149    0.063346
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.001934    0.839942
7     0.000967         1.0
8     0.000484    0.669729
9     0.000967    0.951644
10     0.00677    0.707447
11    0.000967    0.965184
12    0.001934    0.889749
13    0.002418     0.94971
14    0.001934    0.858801
15    0.001934     0.91441
16    0.000967    0.867021
17    0.002901    0.994197
18    0.002901    0.908124
19    0.000484    0.979207
20    0.004352    0.877176
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.095745   0.104449     0.104932   0.113636   0.106867   0.112186
8    0.094294   0.090909     0.099613   0.098162    0.10058   0.088491
9    0.096228   0.098646     0.099613   0.101547   0.104932   0.109284
10   0.094778   0.088491     0.098162   0.097195   0.102515   0.091876
11   0.092843   0.100097     0.097679   0.094778   0.096712   0.094778
12   0.084139   0.089942     0.096228   0.088491   0.097195   0.090909
13    0.09236   0.097195     0.101547   0.107834   0.098646   0.105416
14    0.09381   0.084623     0.098646   0.094778   0.090426   0.096228
15   0.091876   0.088975     0.096712   0.112186   0.090426   0.094778
16   0.089942   0.083656     0.089942   0.088975   0.087524   0.080754
17   0.090909   0.094778     0.090426   0.095261   0.082689   0.102515
18   0.086557   0.082689     0.087524   0.085106   0.092843   0.083172
19   0.090426   0.094778     0.096712   0.096712   0.088491    0.09381
20    0.08559   0.076402     0.083172   0.077369   0.079787    0.07882
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.097195   0.100097   0.097679    0.09913  ...    0.097195    0.088491
8    0.094294    0.09236   0.096228   0.088975  ...    0.092843    0.093327
9    0.102031   0.098162   0.094778   0.106383  ...    0.096712    0.097195
10   0.098646   0.089942    0.09236   0.095261  ...    0.098646    0.086557
11   0.094294   0.102031   0.099613   0.102031  ...    0.106867    0.100097
12   0.086074   0.089942   0.095745   0.086074  ...    0.086074    0.088008
13   0.102031   0.102515   0.096228   0.092843  ...    0.100097    0.080271
14   0.091876    0.08559   0.094294   0.083656  ...    0.095261    0.084623
15   0.097679   0.091876   0.098646   0.097195  ...    0.099613    0.089942
16   0.093327   0.087041   0.093327   0.089458  ...    0.091393    0.086074
17    0.09381    0.10058   0.090909   0.105899  ...    0.084623    0.091876
18   0.088491   0.086557   0.096712   0.077853  ...    0.082689     0.07205
19    0.09236   0.096228   0.091393   0.087041  ...    0.078337    0.084623
20   0.091393   0.076886    0.07882   0.074952  ...    0.064313    0.067215
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2791        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.083656    0.081721    0.076402    0.088975    0.077369    0.076886
8      0.09236    0.081721    0.087524    0.083656    0.085106    0.068182
9      0.09381    0.102998    0.103482    0.103482    0.088975    0.097679
10    0.094294     0.08559    0.094778    0.078337    0.080754    0.072534
11    0.088491    0.102031    0.090426    0.092843    0.086074    0.087524
12    0.090426    0.098162     0.10058    0.092843    0.098162    0.084139
13    0.090426    0.108317    0.090426     0.09381    0.189555    0.088975
14    0.091876    0.088975    0.088975     0.10058    0.076886    0.081721
15    0.096228    0.098162    0.089458    0.100097    0.083172    0.090909
16     0.08559    0.090426    0.090909    0.088491    0.082689    0.079304
17    0.087041    0.090426    0.086557    0.089942    0.079787    0.088008
18    0.077853    0.062863    0.081721    0.075435    0.087041     0.07882
19    0.091393    0.087524    0.085106    0.091876    0.090426     0.09236
20    0.066248    0.067215    0.068182    0.061896    0.069149    0.063346
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.000967         1.0
8     0.000484    0.669729
9     0.000967    0.951644
10     0.00677    0.707447
11    0.000967    0.965184
12    0.001934    0.889749
13    0.002418     0.94971
14    0.001934    0.858801
15    0.001934     0.91441
16    0.000967    0.867021
17    0.002901    0.994197
18    0.002901    0.908124
19    0.000484    0.979207
20    0.004352    0.877176
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.094294   0.090909     0.099613   0.098162    0.10058   0.088491
9    0.096228   0.098646     0.099613   0.101547   0.104932   0.109284
10   0.094778   0.088491     0.098162   0.097195   0.102515   0.091876
11   0.092843   0.100097     0.097679   0.094778   0.096712   0.094778
12   0.084139   0.089942     0.096228   0.088491   0.097195   0.090909
13    0.09236   0.097195     0.101547   0.107834   0.098646   0.105416
14    0.09381   0.084623     0.098646   0.094778   0.090426   0.096228
15   0.091876   0.088975     0.096712   0.112186   0.090426   0.094778
16   0.089942   0.083656     0.089942   0.088975   0.087524   0.080754
17   0.090909   0.094778     0.090426   0.095261   0.082689   0.102515
18   0.086557   0.082689     0.087524   0.085106   0.092843   0.083172
19   0.090426   0.094778     0.096712   0.096712   0.088491    0.09381
20    0.08559   0.076402     0.083172   0.077369   0.079787    0.07882
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.094294    0.09236   0.096228   0.088975  ...    0.092843    0.093327
9    0.102031   0.098162   0.094778   0.106383  ...    0.096712    0.097195
10   0.098646   0.089942    0.09236   0.095261  ...    0.098646    0.086557
11   0.094294   0.102031   0.099613   0.102031  ...    0.106867    0.100097
12   0.086074   0.089942   0.095745   0.086074  ...    0.086074    0.088008
13   0.102031   0.102515   0.096228   0.092843  ...    0.100097    0.080271
14   0.091876    0.08559   0.094294   0.083656  ...    0.095261    0.084623
15   0.097679   0.091876   0.098646   0.097195  ...    0.099613    0.089942
16   0.093327   0.087041   0.093327   0.089458  ...    0.091393    0.086074
17    0.09381    0.10058   0.090909   0.105899  ...    0.084623    0.091876
18   0.088491   0.086557   0.096712   0.077853  ...    0.082689     0.07205
19    0.09236   0.096228   0.091393   0.087041  ...    0.078337    0.084623
20   0.091393   0.076886    0.07882   0.074952  ...    0.064313    0.067215
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2791        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         09  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8      0.09236    0.081721    0.087524    0.083656    0.085106    0.068182
9      0.09381    0.102998    0.103482    0.103482    0.088975    0.097679
10    0.094294     0.08559    0.094778    0.078337    0.080754    0.072534
11    0.088491    0.102031    0.090426    0.092843    0.086074    0.087524
12    0.090426    0.098162     0.10058    0.092843    0.098162    0.084139
13    0.090426    0.108317    0.090426     0.09381    0.189555    0.088975
14    0.091876    0.088975    0.088975     0.10058    0.076886    0.081721
15    0.096228    0.098162    0.089458    0.100097    0.083172    0.090909
16     0.08559    0.090426    0.090909    0.088491    0.082689    0.079304
17    0.087041    0.090426    0.086557    0.089942    0.079787    0.088008
18    0.077853    0.062863    0.081721    0.075435    0.087041     0.07882
19    0.091393    0.087524    0.085106    0.091876    0.090426     0.09236
20    0.066248    0.067215    0.068182    0.061896    0.069149    0.063346
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8     0.000484    0.669729
9     0.000967    0.951644
10     0.00677    0.707447
11    0.000967    0.965184
12    0.001934    0.889749
13    0.002418     0.94971
14    0.001934    0.858801
15    0.001934     0.91441
16    0.000967    0.867021
17    0.002901    0.994197
18    0.002901    0.908124
19    0.000484    0.979207
20    0.004352    0.877176
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.096228   0.098646     0.099613   0.101547   0.104932   0.109284
10   0.094778   0.088491     0.098162   0.097195   0.102515   0.091876
11   0.092843   0.100097     0.097679   0.094778   0.096712   0.094778
12   0.084139   0.089942     0.096228   0.088491   0.097195   0.090909
13    0.09236   0.097195     0.101547   0.107834   0.098646   0.105416
14    0.09381   0.084623     0.098646   0.094778   0.090426   0.096228
15   0.091876   0.088975     0.096712   0.112186   0.090426   0.094778
16   0.089942   0.083656     0.089942   0.088975   0.087524   0.080754
17   0.090909   0.094778     0.090426   0.095261   0.082689   0.102515
18   0.086557   0.082689     0.087524   0.085106   0.092843   0.083172
19   0.090426   0.094778     0.096712   0.096712   0.088491    0.09381
20    0.08559   0.076402     0.083172   0.077369   0.079787    0.07882
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.102031   0.098162   0.094778   0.106383  ...    0.096712    0.097195
10   0.098646   0.089942    0.09236   0.095261  ...    0.098646    0.086557
11   0.094294   0.102031   0.099613   0.102031  ...    0.106867    0.100097
12   0.086074   0.089942   0.095745   0.086074  ...    0.086074    0.088008
13   0.102031   0.102515   0.096228   0.092843  ...    0.100097    0.080271
14   0.091876    0.08559   0.094294   0.083656  ...    0.095261    0.084623
15   0.097679   0.091876   0.098646   0.097195  ...    0.099613    0.089942
16   0.093327   0.087041   0.093327   0.089458  ...    0.091393    0.086074
17    0.09381    0.10058   0.090909   0.105899  ...    0.084623    0.091876
18   0.088491   0.086557   0.096712   0.077853  ...    0.082689     0.07205
19    0.09236   0.096228   0.091393   0.087041  ...    0.078337    0.084623
20   0.091393   0.076886    0.07882   0.074952  ...    0.064313    0.067215
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2791        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         09  ...         NaN         NaN
24        NaN  7/26/2023          5         10  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9      0.09381    0.102998    0.103482    0.103482    0.088975    0.097679
10    0.094294     0.08559    0.094778    0.078337    0.080754    0.072534
11    0.088491    0.102031    0.090426    0.092843    0.086074    0.087524
12    0.090426    0.098162     0.10058    0.092843    0.098162    0.084139
13    0.090426    0.108317    0.090426     0.09381    0.189555    0.088975
14    0.091876    0.088975    0.088975     0.10058    0.076886    0.081721
15    0.096228    0.098162    0.089458    0.100097    0.083172    0.090909
16     0.08559    0.090426    0.090909    0.088491    0.082689    0.079304
17    0.087041    0.090426    0.086557    0.089942    0.079787    0.088008
18    0.077853    0.062863    0.081721    0.075435    0.087041     0.07882
19    0.091393    0.087524    0.085106    0.091876    0.090426     0.09236
20    0.066248    0.067215    0.068182    0.061896    0.069149    0.063346
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9     0.000967    0.951644
10     0.00677    0.707447
11    0.000967    0.965184
12    0.001934    0.889749
13    0.002418     0.94971
14    0.001934    0.858801
15    0.001934     0.91441
16    0.000967    0.867021
17    0.002901    0.994197
18    0.002901    0.908124
19    0.000484    0.979207
20    0.004352    0.877176
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.094778   0.088491     0.098162   0.097195   0.102515   0.091876
11   0.092843   0.100097     0.097679   0.094778   0.096712   0.094778
12   0.084139   0.089942     0.096228   0.088491   0.097195   0.090909
13    0.09236   0.097195     0.101547   0.107834   0.098646   0.105416
14    0.09381   0.084623     0.098646   0.094778   0.090426   0.096228
15   0.091876   0.088975     0.096712   0.112186   0.090426   0.094778
16   0.089942   0.083656     0.089942   0.088975   0.087524   0.080754
17   0.090909   0.094778     0.090426   0.095261   0.082689   0.102515
18   0.086557   0.082689     0.087524   0.085106   0.092843   0.083172
19   0.090426   0.094778     0.096712   0.096712   0.088491    0.09381
20    0.08559   0.076402     0.083172   0.077369   0.079787    0.07882
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.098646   0.089942    0.09236   0.095261  ...    0.098646    0.086557
11   0.094294   0.102031   0.099613   0.102031  ...    0.106867    0.100097
12   0.086074   0.089942   0.095745   0.086074  ...    0.086074    0.088008
13   0.102031   0.102515   0.096228   0.092843  ...    0.100097    0.080271
14   0.091876    0.08559   0.094294   0.083656  ...    0.095261    0.084623
15   0.097679   0.091876   0.098646   0.097195  ...    0.099613    0.089942
16   0.093327   0.087041   0.093327   0.089458  ...    0.091393    0.086074
17    0.09381    0.10058   0.090909   0.105899  ...    0.084623    0.091876
18   0.088491   0.086557   0.096712   0.077853  ...    0.082689     0.07205
19    0.09236   0.096228   0.091393   0.087041  ...    0.078337    0.084623
20   0.091393   0.076886    0.07882   0.074952  ...    0.064313    0.067215
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2791        NaN        NaN  ...         NaN         NaN

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//16_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\16_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\16_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\16_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 17.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             23.45
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              23.48
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             43.7
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      45.9
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.83
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.58
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       15
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         39
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7080       7360       7080       7080       6880       7600
6        7360       6280       6720       6960       7160       6680
7        6720       7160       6680       7040       6960       7480
8        7480       7360       7200       7240       6080       6480
9        7720       7320       7160       7000       6680       6920
10       8120       6400       6400       6240       6400       4440
11       6720       6760       6360       6280       6320       5960
12       6120       6200       6640       5880       5920       5680
13       6480       6760       6200       6520       6440       6200
14       6600       5960       5560       6440       5960       5320
15       6760       6960       6280       6000       6160       6320
16       6160       5800       6440       5760       5840       6120
17       6680       6120       5800       6360       5880       5960
18       5840       5840       6280       6200       6200       5200
19       5800       6480       6200       6320       6000       6360
20       5680       5680       5800       5880       6000       5640

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7520       7440       7560       7560  ...        6480        6120
6        7080       7120       7360       7360  ...        6720        5720
7        7080       7080       6720       7080  ...        6800        6120
8        6560       6280       6160       5960  ...        5920        5840
9        6320       7320       6760       7000  ...        6320        6800
10       5840       5280       6040       5480  ...        5920        6440
11       5760       6440       6080       6680  ...        6600        7400
12       6800       5880       6120       5720  ...        7560        5920
13       5920       6480       6560       6440  ...        6480        6840
14       6160       5480       5240       5240  ...        6120        5560
15       6440       6160       5800       5800  ...        6280        6680
16       6080       5200       5440       6040  ...        5600        5880
17       6560       6000       5800       5680  ...        4600        6680
18       6160       5800       5960       5880  ...        6120        6000
19       6400       6040       6120       6280  ...        6280        6880
20       5960       6000       6040       6280  ...        5440        5520

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         5960        6200        6320        6480        5880        6000
6         5640        6120        6680        5960        6040        5320
7         6120        6320        5840        5840        6600        6320
8         6400        6320        6200        6040        6200        5120
9         6000        6280        5880        6160        6120        6200
10        6520        6360        6320        6880        5480        5600
11        6760        6680        5560        6040        5800        5720
12        6560        5840        6520        5520        6080        5120
13        6200        6320        6280        6040        5800        5640
14        6000        5320        6120        6120        5920        6040
15        5880        6320        5560        5880        5880        6360
16        6040        6040        6040        5040        5880        4960
17        6080        6800        6080        6520        6280        4920
18        5920        6200        5760        5680        5560        6280
19        6160        6360        7000        6640        5880        6720
20        5720        5520        5560        5360        5960        5320

   Unnamed: 22 Unnamed: 23
5          600       74840
6          680       59600
7          720       72400
8          800       52840
9          800       75840
10         800       61600
11         840       74640
12         840       64240
13         840       75040
14         720       62800
15         640       74440
16         760       65960
17         880       75280
18         760       62160
19         920       71880
20        2560       59480

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.089846   0.075492      0.08134    0.08453   0.087188   0.080808
7     0.08134   0.087188     0.080808   0.085593    0.08453   0.091441
8    0.091441   0.089846     0.087719   0.088251   0.072834    0.07815
9    0.094631   0.089314     0.087188   0.085061   0.080808   0.083998
10   0.099947   0.077087     0.077087    0.07496   0.077087   0.051037
11    0.08134   0.081871     0.076555   0.075492   0.076023   0.071239
12   0.073365   0.074428     0.080276   0.070175   0.070707   0.067517
13    0.07815   0.081871     0.074428   0.078682   0.077618   0.074428
14   0.079745   0.071239     0.065922   0.077618   0.071239   0.062733
15   0.081871    0.08453     0.075492    0.07177   0.073897   0.076023
16   0.073897   0.069112     0.077618   0.068581   0.069644   0.073365
17   0.080808   0.073365     0.069112   0.076555   0.070175   0.071239
18   0.069644   0.069644     0.075492   0.074428   0.074428   0.061138
19   0.069112    0.07815     0.074428   0.076023    0.07177   0.076555
20   0.067517   0.067517     0.069112   0.070175    0.07177   0.066986
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.086124   0.086656   0.089846   0.089846  ...     0.08134    0.068049
7    0.086124   0.086124    0.08134   0.086124  ...    0.082403    0.073365
8    0.079213   0.075492   0.073897   0.071239  ...    0.070707    0.069644
9    0.076023   0.089314   0.081871   0.085061  ...    0.076023    0.082403
10   0.069644   0.062201   0.072302   0.064859  ...    0.070707    0.077618
11   0.068581   0.077618   0.072834   0.080808  ...    0.079745    0.090377
12   0.082403   0.070175   0.073365   0.068049  ...    0.092504    0.070707
13   0.070707    0.07815   0.079213   0.077618  ...     0.07815    0.082935
14   0.073897   0.064859   0.061669   0.061669  ...    0.073365    0.065922
15   0.077618   0.073897   0.069112   0.069112  ...    0.075492    0.080808
16   0.072834   0.061138   0.064327   0.072302  ...    0.066454    0.070175
17   0.079213    0.07177   0.069112   0.067517  ...    0.053163    0.080808
18   0.073897   0.069112   0.071239   0.070175  ...    0.073365     0.07177
19   0.077087   0.072302   0.073365   0.075492  ...    0.075492    0.083466
20   0.071239    0.07177   0.072302   0.075492  ...    0.064327    0.065391
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.066986    0.073365    0.080808    0.071239    0.072302    0.062733
7     0.073365    0.076023    0.069644    0.069644    0.079745    0.076023
8     0.077087    0.076023    0.074428    0.072302    0.074428    0.060074
9      0.07177    0.075492    0.070175    0.073897    0.073365    0.074428
10    0.078682    0.076555    0.076023    0.083466    0.064859    0.066454
11    0.081871    0.080808    0.065922    0.072302    0.069112    0.068049
12    0.079213    0.069644    0.078682    0.065391    0.072834    0.060074
13    0.074428    0.076023    0.075492    0.072302    0.069112    0.066986
14     0.07177    0.062733    0.073365    0.073365    0.070707    0.072302
15    0.070175    0.076023    0.065922    0.070175    0.070175    0.076555
16    0.072302    0.072302    0.072302    0.059011    0.070175    0.057948
17    0.072834    0.082403    0.072834    0.078682    0.075492    0.057416
18    0.070707    0.074428    0.068581    0.067517    0.065922    0.075492
19    0.073897    0.076555    0.085061    0.080276    0.070175     0.08134
20    0.068049    0.065391    0.065922    0.063264    0.071239    0.062733
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.001063    0.784157
7     0.001595     0.95428
8     0.002658    0.694312
9     0.002658         1.0
10    0.002658    0.810739
11     0.00319    0.984051
12     0.00319    0.845827
13     0.00319    0.989367
14    0.001595    0.826688
15    0.000532    0.981393
16    0.002127    0.868687
17    0.003721    0.992557
18    0.002127    0.818182
19    0.004253    0.947368
20     0.02605    0.782562
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7     0.08134   0.087188     0.080808   0.085593    0.08453   0.091441
8    0.091441   0.089846     0.087719   0.088251   0.072834    0.07815
9    0.094631   0.089314     0.087188   0.085061   0.080808   0.083998
10   0.099947   0.077087     0.077087    0.07496   0.077087   0.051037
11    0.08134   0.081871     0.076555   0.075492   0.076023   0.071239
12   0.073365   0.074428     0.080276   0.070175   0.070707   0.067517
13    0.07815   0.081871     0.074428   0.078682   0.077618   0.074428
14   0.079745   0.071239     0.065922   0.077618   0.071239   0.062733
15   0.081871    0.08453     0.075492    0.07177   0.073897   0.076023
16   0.073897   0.069112     0.077618   0.068581   0.069644   0.073365
17   0.080808   0.073365     0.069112   0.076555   0.070175   0.071239
18   0.069644   0.069644     0.075492   0.074428   0.074428   0.061138
19   0.069112    0.07815     0.074428   0.076023    0.07177   0.076555
20   0.067517   0.067517     0.069112   0.070175    0.07177   0.066986
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 18.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             23.55
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              22.69
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               47
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.5
2       NaN
3       NaN
4         4
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.17
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       17
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         40
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7760       8560       7760       8880       8200       8760
6        8560       7560       8240       8000       8440       8520
7        8000       8200       7680       8320       8080       8280
8        7760       7760       8200       7240       8160       8480
9        7400       8120       8040       8360       7920       8600
10       8040       7480       8400       7880       8360       7640
11       7480       8000       7320       5000       7720       8640
12       8200       7720       8240       7400       7800       7960
13       7680       8160       7600       8280       8040       8600
14       7840       7760       8360       7880       8440       7680
15       7920       7960       7120       4360       7640       8160
16       7920       7560       7720       7520       8120       7120
17       7560       7640       7760       7720       7720       7920
18       7920       7480       7600       6920       7520       7080
19       6920       7920       6920       7280       6840       7000
20       6440       6480       6920       6560       6520       6000

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        8720       8320       8160       7240  ...        9000        8920
6        8280       8000       8200       8560  ...        8160        8080
7        8080       8360       8000       8280  ...        8560        7760
8        7920       7840       8240       7160  ...        8800        7440
9        7920       7320       7080       8200  ...        7640        7800
10       8080       7840       7720       7840  ...        8160        6520
11       7360       7720       7240       7520  ...        7560        7680
12       7800       8120       7760       7600  ...        7880        7400
13      11120       7560       7320       8040  ...        7520        8160
14       7720       7240       9800       7200  ...        8200        7640
15       7680       7480       7200       7840  ...        7600        6040
16       7960       7120       7880       7400  ...        7480        7520
17       7400       7920       7000       7560  ...        7320        7720
18       7920       7200       7680       7200  ...        7320        7240
19       7280       7160       6840       7840  ...        6800        7280
20       6520       6160       6200       6120  ...        6640        4520

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         7960        8960        6800        6520        6480        6600
6         8200        7160        8400        7720        8040        6640
7         7360        7960        7160        8440        7640        7720
8         8120        7520        7600        7040        7520        6760
9         7320        8040        6720        7200        7000        7120
10        7640        7080        7680        7520        7400        7240
11        7240        8200        7160        7560        7440        7400
12        7760        7400        7680        7320        7440        6400
13        7360        8000        7400        7480        7440        7680
14        7720        7600        8040        7440        7720        7640
15        7120        7960        7760        7600        7480        7280
16        8040        7040        7600        7160        7800        7320
17        7120        7400        7200        8800        7080        7000
18        7760        6800        7200        7560        6880        6680
19        7120        7040        6720        7440        6840        6960
20        6640        6600        7240        6880        7080        5960

   Unnamed: 22 Unnamed: 23
5          920       66760
6          600       49200
7          680       68120
8          640       52720
9          920       70200
10         920       61480
11         720       75680
12         640       64520
13         720       74080
14         760       65360
15         800       76560
16         640       63920
17         800       77360
18         720       63480
19         600       77680
20         760       69720

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.103269   0.090296     0.099118   0.096004   0.101713    0.10275
7    0.096004   0.098599     0.091853   0.100156   0.097042   0.099637
8    0.092891   0.092891     0.098599   0.086144    0.09808   0.102231
9     0.08822   0.097561     0.096523   0.100675   0.094966   0.103788
10   0.096523   0.089258     0.101194   0.094447   0.100675   0.091334
11   0.089258   0.096004     0.087182   0.057084   0.092372   0.104307
12   0.098599   0.092372     0.099118    0.08822   0.093409   0.095485
13   0.091853    0.09808     0.090815   0.099637   0.096523   0.103788
14   0.093928   0.092891     0.100675   0.094447   0.101713   0.091853
15   0.094966   0.095485     0.084587    0.04878   0.091334    0.09808
16   0.094966   0.090296     0.092372   0.089777   0.097561   0.084587
17   0.090296   0.091334     0.092891   0.092372   0.092372   0.094966
18   0.094966   0.089258     0.090815   0.081993   0.089777   0.084069
19   0.081993   0.094966     0.081993   0.086663   0.080955   0.083031
20   0.075765   0.076284     0.081993   0.077322   0.076803   0.070057
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.099637   0.096004   0.098599   0.103269  ...     0.09808    0.097042
7    0.097042   0.100675   0.096004   0.099637  ...    0.103269    0.092891
8    0.094966   0.093928   0.099118   0.085106  ...    0.106383    0.088739
9    0.094966   0.087182   0.084069   0.098599  ...    0.091334    0.093409
10   0.097042   0.093928   0.092372   0.093928  ...     0.09808    0.076803
11   0.087701   0.092372   0.086144   0.089777  ...    0.090296    0.091853
12   0.093409   0.097561   0.092891   0.090815  ...    0.094447     0.08822
13   0.136482   0.090296   0.087182   0.096523  ...    0.089777     0.09808
14   0.092372   0.086144   0.119357   0.085625  ...    0.098599    0.091334
15   0.091853   0.089258   0.085625   0.093928  ...    0.090815    0.070576
16   0.095485   0.084587   0.094447    0.08822  ...    0.089258    0.089777
17    0.08822   0.094966   0.083031   0.090296  ...    0.087182    0.092372
18   0.094966   0.085625   0.091853   0.085625  ...    0.087182    0.086144
19   0.086663   0.085106   0.080955   0.093928  ...    0.080436    0.086663
20   0.076803   0.072133   0.072652   0.071614  ...     0.07836    0.050856
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.098599    0.085106    0.101194    0.092372    0.096523     0.07836
7     0.087701    0.095485    0.085106    0.101713    0.091334    0.092372
8     0.097561    0.089777    0.090815     0.08355    0.089777    0.079917
9     0.087182    0.096523    0.079398    0.085625    0.083031    0.084587
10    0.091334    0.084069    0.091853    0.089777     0.08822    0.086144
11    0.086144    0.098599    0.085106    0.090296    0.088739     0.08822
12    0.092891     0.08822    0.091853    0.087182    0.088739    0.075246
13    0.087701    0.096004     0.08822    0.089258    0.088739    0.091853
14    0.092372    0.090815    0.096523    0.088739    0.092372    0.091334
15    0.084587    0.095485    0.092891    0.090815    0.089258    0.086663
16    0.096523     0.08355    0.090815    0.085106    0.093409    0.087182
17    0.084587     0.08822    0.085625    0.106383    0.084069    0.083031
18    0.092891    0.080436    0.085625    0.090296    0.081474    0.078879
19    0.084587     0.08355    0.079398    0.088739    0.080955    0.082512
20     0.07836    0.077841    0.086144    0.081474    0.084069    0.069538
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6          0.0    0.630514
7     0.001038    0.875973
8     0.000519    0.676181
9     0.004152    0.902958
10    0.004152    0.789829
11    0.001557    0.974053
12    0.000519    0.829268
13    0.001557    0.953295
14    0.002076    0.840166
15    0.002595     0.98547
16    0.000519    0.821484
17    0.002595    0.995848
18    0.001557    0.815776
19         0.0         1.0
20    0.002076    0.896731
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.096004   0.098599     0.091853   0.100156   0.097042   0.099637
8    0.092891   0.092891     0.098599   0.086144    0.09808   0.102231
9     0.08822   0.097561     0.096523   0.100675   0.094966   0.103788
10   0.096523   0.089258     0.101194   0.094447   0.100675   0.091334
11   0.089258   0.096004     0.087182   0.057084   0.092372   0.104307
12   0.098599   0.092372     0.099118    0.08822   0.093409   0.095485
13   0.091853    0.09808     0.090815   0.099637   0.096523   0.103788
14   0.093928   0.092891     0.100675   0.094447   0.101713   0.091853
15   0.094966   0.095485     0.084587    0.04878   0.091334    0.09808
16   0.094966   0.090296     0.092372   0.089777   0.097561   0.084587
17   0.090296   0.091334     0.092891   0.092372   0.092372   0.094966
18   0.094966   0.089258     0.090815   0.081993   0.089777   0.084069
19   0.081993   0.094966     0.081993   0.086663   0.080955   0.083031
20   0.075765   0.076284     0.081993   0.077322   0.076803   0.070057
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//19_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\19_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\19_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\19_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 2.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.37
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.28
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.2
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               48
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      46.9
2       NaN
3       NaN
4         4
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.66
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        23.07
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       35
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         15
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7760       7800       5160       7360       6280       6640
6        8520       7480       9320       7720       8120       7960
7        7640       9280       8120       8120       7000       6800
8        7800       7680       7920       8080       7920       7880
9        7440       8160       8440       8520       7680       8040
10       7720       7280       7960       7600       7760       8120
11       7440       7440       7600       7960       8840       8400
12       7720       7120       7680       7200       7560       7920
13       7880       7880       7360       7960       8320       8360
14       7680       7040       7840       6560       7520       8120
15       7280       7480       7600       7880       7800       7840
16       7400       6720       7480       6920       6720       6320
17       6960       7560       7480       7840       7360       7760
18       7240       7520       7200       6760       7040       6240
19       6960       7800       7000       7640       7400       7520
20       7840       7000       6760       6480       6960       6400

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        6840       6760       6920       7360  ...        6480        7480
6        8560       7560       8000       7560  ...        8600        7320
7        7200       7240       7720       7840  ...        7200        8160
8        8360       7400       7880       7720  ...        8120        7680
9        7800       8080       7560       8680  ...        7240        7280
10       8560       7480       8120       7960  ...        7680        7480
11       8040       8680       7880       7560  ...        8120        8280
12       8360       7080       8120       7360  ...        7200        6640
13       8320       7960       8400       8000  ...        8080        7440
14       7400       7280       8080       7200  ...        7000        6160
15       8120       8000       8200      10280  ...        8600        8000
16       6840       6600       7440       6920  ...        6360        6240
17       7400       8240       8000       8000  ...        7080        6640
18       7680       6480       7040       6200  ...        6800        5880
19       7920       7960       7520       7200  ...        7600        7880
20       6760       6320       6720       5960  ...        6360        6520

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         6960        8400        7160        6760        7320       80720
6         7880        8120        8680        7800        7160       11080
7         6800        6840        6800        7160        7000        7120
8         6960        7160        7800        6880        6640        6040
9         7080        7800        7080        7000        6440        7760
10        7720        6520        7360        6200        6760        5800
11        8200        7760        7480        7280        6400        6360
12        6760        6000        6520        5560        5800        5640
13        8280        8080        6680        7600        5840        6680
14        6840        5800        6000        5760        5840        5640
15        7120        8080        6840        7400        6120        6920
16        6360        5720        6160        5560        6360        4760
17        6280        7240        6720        6960        5800        6920
18        6040        5800        6280        5520        5760        4800
19        7480        7320        7280        6800        7080       17400
20        6640        5880        7800        5680        6440        5200

   Unnamed: 22 Unnamed: 23
5          920       61360
6         5280       47640
7          920       49320
8          480       42760
9          880       53120
10         960       42320
11         600       53880
12        1200       39920
13         560       46520
14        1880       33720
15         600       46600
16        2320       29080
17         640       55320
18        3320       30520
19         640       70040
20        2520       42440

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.100199   0.087238     0.110169   0.090229   0.095214    0.09322
7    0.089232   0.109671     0.095214   0.095214   0.081256   0.078764
8    0.091226   0.089731     0.092722   0.094716   0.092722   0.092223
9     0.08674   0.095713     0.099202   0.100199   0.089731   0.094217
10   0.090229   0.084746      0.09322   0.088734   0.090728   0.095214
11    0.08674    0.08674     0.088734    0.09322   0.104187   0.098704
12   0.090229   0.082752     0.089731   0.083749   0.088235   0.092722
13   0.092223   0.092223     0.085743    0.09322   0.097707   0.098205
14   0.089731   0.081755     0.091725   0.075773   0.087737   0.095214
15   0.084746   0.087238     0.088734   0.092223   0.091226   0.091725
16   0.086241   0.077767     0.087238   0.080259   0.077767   0.072782
17   0.080758   0.088235     0.087238   0.091725   0.085743   0.090728
18   0.084247   0.087737     0.083749   0.078265   0.081755   0.071785
19   0.080758   0.091226     0.081256   0.089232   0.086241   0.087737
20   0.091725   0.081256     0.078265   0.074776   0.080758   0.073779
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.100698   0.088235   0.093719   0.088235  ...    0.101196    0.085244
7    0.083749   0.084247   0.090229   0.091725  ...    0.083749    0.095713
8    0.098205   0.086241   0.092223   0.090229  ...    0.095214    0.089731
9    0.091226   0.094716   0.088235   0.102193  ...    0.084247    0.084746
10   0.100698   0.087238   0.095214    0.09322  ...    0.089731    0.087238
11   0.094217   0.102193   0.092223   0.088235  ...    0.095214    0.097208
12   0.098205   0.082253   0.095214   0.085743  ...    0.083749     0.07677
13   0.097707    0.09322   0.098704   0.093719  ...    0.094716     0.08674
14   0.086241   0.084746   0.094716   0.083749  ...    0.081256    0.070788
15   0.095214   0.093719   0.096211   0.122134  ...    0.101196    0.093719
16   0.079262   0.076271    0.08674   0.080259  ...     0.07328    0.071785
17   0.086241    0.09671   0.093719   0.093719  ...    0.082253     0.07677
18   0.089731   0.074776   0.081755   0.071286  ...    0.078764    0.067298
19   0.092722    0.09322   0.087737   0.083749  ...    0.088734    0.092223
20   0.078265   0.072782   0.077767   0.068295  ...     0.07328    0.075274
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.092223    0.095214    0.102193    0.091226     0.08325    0.132104
7     0.078764    0.079262    0.078764     0.08325    0.081256    0.082752
8     0.080758     0.08325    0.091226    0.079761     0.07677    0.069292
9     0.082253    0.091226    0.082253    0.081256    0.074277    0.090728
10    0.090229    0.075274    0.085743    0.071286    0.078265    0.066301
11    0.096211    0.090728    0.087238    0.084746    0.073779     0.07328
12    0.078265    0.068794    0.075274     0.06331    0.066301    0.064307
13    0.097208    0.094716    0.077268    0.088734      0.0668    0.077268
14    0.079262    0.066301    0.068794    0.065803      0.0668    0.064307
15    0.082752    0.094716    0.079262    0.086241    0.070289    0.080259
16     0.07328    0.065304    0.070788     0.06331     0.07328     0.05334
17    0.072283    0.084247    0.077767    0.080758    0.066301    0.080259
18    0.069292    0.066301    0.072283    0.062812    0.065803    0.053838
19    0.087238    0.085244    0.084746    0.078764    0.082253    0.210867
20     0.07677    0.067298    0.091226    0.064806    0.074277    0.058824
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.059821    0.587737
7     0.005484    0.608674
8          0.0    0.526919
9     0.004985    0.656032
10    0.005982    0.521436
11    0.001496    0.665503
12    0.008973    0.491525
13    0.000997    0.573779
14    0.017448    0.414257
15    0.001496    0.574776
16    0.022931    0.356431
17    0.001994     0.68345
18    0.035394    0.374377
19    0.001994    0.866899
20    0.025424    0.522931
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.089232   0.109671     0.095214   0.095214   0.081256   0.078764
8    0.091226   0.089731     0.092722   0.094716   0.092722   0.092223
9     0.08674   0.095713     0.099202   0.100199   0.089731   0.094217
10   0.090229   0.084746      0.09322   0.088734   0.090728   0.095214
11    0.08674    0.08674     0.088734    0.09322   0.104187   0.098704
12   0.090229   0.082752     0.089731   0.083749   0.088235   0.092722
13   0.092223   0.092223     0.085743    0.09322   0.097707   0.098205
14   0.089731   0.081755     0.091725   0.075773   0.087737   0.095214
15   0.084746   0.087238     0.088734   0.092223   0.091226   0.091725
16   0.086241   0.077767     0.087238   0.080259   0.077767   0.072782
17   0.080758   0.088235     0.087238   0.091725   0.085743   0.090728
18   0.084247   0.087737     0.083749   0.078265   0.081755   0.071785
19   0.080758   0.091226     0.081256   0.089232   0.086241   0.087737
20   0.091725   0.081256     0.078265   0.074776   0.080758   0.073779
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.089954   0.089041     0.092237   0.079909   0.086758   0.087215
7    0.084932   0.089498     0.087215   0.093607   0.090411   0.096347
8    0.085845   0.078082     0.093151   0.082192   0.093151   0.089498
9    0.083105   0.086758     0.081279   0.089954   0.089498   0.092694
10   0.084018   0.084018     0.086301   0.082192   0.093151   0.081735
11   0.084475   0.090868     0.078539   0.090411   0.086758   0.087671
12   0.091324   0.083562     0.087215   0.079909   0.092237   0.083562
13   0.084932   0.086301     0.085388   0.089954   0.082192   0.090411
14   0.087671   0.082192     0.089498   0.078995   0.082648   0.089954
15   0.081279   0.085845     0.085388   0.089041   0.094064    0.09589
16   0.088128   0.086758     0.081735   0.079909   0.084932   0.081735
17   0.076712   0.077169     0.080822   0.084475   0.081735   0.079452
18   0.079909   0.080822     0.083105    0.07032   0.072146   0.085845
19   0.073973   0.086758     0.083105   0.081735   0.077169   0.078995
20   0.080365   0.072146     0.079452   0.083562   0.072146   0.076256
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.096804   0.086758   0.088584   0.082192  ...    0.088128    0.084932
7     0.09726   0.099543   0.091324   0.091781  ...    0.091324    0.099087
8    0.087215   0.076712   0.087671   0.084018  ...    0.084932    0.070776
9    0.087215   0.094521   0.085845   0.092694  ...    0.082192    0.085388
10   0.094521   0.088128   0.085845   0.081279  ...    0.092237    0.081735
11   0.085845   0.092237   0.093607   0.082648  ...    0.085388    0.084475
12   0.091324   0.086758   0.087671   0.077169  ...    0.085845    0.081735
13   0.093151   0.096804   0.082192   0.090411  ...    0.083105    0.099543
14   0.088128   0.087671   0.221461   0.085845  ...    0.080822    0.081279
15   0.087215   0.089954   0.087215   0.087671  ...    0.078995    0.085388
16   0.093607   0.084018   0.084932   0.083105  ...    0.081735    0.077169
17   0.088584   0.089954   0.086758   0.079452  ...    0.082648    0.083105
18   0.091781   0.077169   0.080822   0.077626  ...    0.081279    0.081735
19   0.082192   0.088128   0.077169   0.084932  ...    0.078082    0.077169
20   0.087671   0.073516   0.069863   0.075342  ...    0.077169    0.073516
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.082192    0.085845    0.086758    0.077626    0.077626      0.0621
7     0.091781    0.088584    0.080822    0.082192    0.081735    0.087671
8     0.074429    0.080365    0.093151    0.084018    0.088128    0.075342
9     0.077626    0.080365    0.077626    0.087215    0.079909    0.078539
10    0.084475    0.078995    0.084475    0.099543    0.077626    0.073059
11    0.082192    0.079909    0.078082    0.090411    0.072146    0.079452
12    0.088128    0.081279    0.094977    0.080365    0.086301    0.077626
13    0.081279    0.088128    0.085845    0.081735    0.075799    0.086301
14    0.082648    0.075799    0.084475    0.080365    0.083105    0.075342
15    0.079909    0.084018    0.083562    0.089498    0.084932    0.083562
16    0.075799    0.083562    0.076256    0.079909    0.078082    0.074429
17    0.077626    0.083105    0.074429    0.077169    0.078082    0.081279
18    0.079909    0.075799    0.081279    0.073516    0.078995    0.077169
19    0.071233    0.080822    0.073516    0.079909    0.073973    0.079452
20    0.074429    0.073973    0.078539    0.071689    0.079452    0.071233
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6          0.0    0.622831
7      0.00274    0.820548
8     0.001826    0.690411
9     0.000913    0.930594
10     0.00137    0.787671
11     0.00274    0.965297
12    0.000913    0.812785
13    0.002283    0.982648
14    0.000913    0.784018
15    0.001826     0.93516
16     0.00137    0.890868
17     0.00411         1.0
18     0.00137    0.881735
19    0.000457    0.963014
20    0.000913    0.836986
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.084932   0.089498     0.087215   0.093607   0.090411   0.096347
8    0.085845   0.078082     0.093151   0.082192   0.093151   0.089498
9    0.083105   0.086758     0.081279   0.089954   0.089498   0.092694
10   0.084018   0.084018     0.086301   0.082192   0.093151   0.081735
11   0.084475   0.090868     0.078539   0.090411   0.086758   0.087671
12   0.091324   0.083562     0.087215   0.079909   0.092237   0.083562
13   0.084932   0.086301     0.085388   0.089954   0.082192   0.090411
14   0.087671   0.082192     0.089498   0.078995   0.082648   0.089954
15   0.081279   0.085845     0.085388   0.089041   0.094064    0.09589
16   0.088128   0.086758     0.081735   0.079909   0.084932   0.081735
17   0.076712   0.077169     0.080822   0.084475   0.081735   0.079452
18   0.079909   0.080822     0.083105    0.07032   0.072146   0.085845
19   0.073973   0.086758     0.083105   0.081735   0.077169   0.078995
20   0.080365   0.072146     0.079452   0.083562   0.072146   0.076256
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7     0.09726   0.099543   0.091324   0.091781  ...    0.091324    0.099087
8    0.087215   0.076712   0.087671   0.084018  ...    0.084932    0.070776
9    0.087215   0.094521   0.085845   0.092694  ...    0.082192    0.085388
10   0.094521   0.088128   0.085845   0.081279  ...    0.092237    0.081735
11   0.085845   0.092237   0.093607   0.082648  ...    0.085388    0.084475
12   0.091324   0.086758   0.087671   0.077169  ...    0.085845    0.081735
13   0.093151   0.096804   0.082192   0.090411  ...    0.083105    0.099543
14   0.088128   0.087671   0.221461   0.085845  ...    0.080822    0.081279
15   0.087215   0.089954   0.087215   0.087671  ...    0.078995    0.085388
16   0.093607   0.084018   0.084932   0.083105  ...    0.081735    0.077169
17   0.088584   0.089954   0.086758   0.079452  ...    0.082648    0.083105
18   0.091781   0.077169   0.080822   0.077626  ...    0.081279    0.081735
19   0.082192   0.088128   0.077169   0.084932  ...    0.078082    0.077169
20   0.087671   0.073516   0.069863   0.075342  ...    0.077169    0.073516
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2797        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.091781    0.088584    0.080822    0.082192    0.081735    0.087671
8     0.074429    0.080365    0.093151    0.084018    0.088128    0.075342
9     0.077626    0.080365    0.077626    0.087215    0.079909    0.078539
10    0.084475    0.078995    0.084475    0.099543    0.077626    0.073059
11    0.082192    0.079909    0.078082    0.090411    0.072146    0.079452
12    0.088128    0.081279    0.094977    0.080365    0.086301    0.077626
13    0.081279    0.088128    0.085845    0.081735    0.075799    0.086301
14    0.082648    0.075799    0.084475    0.080365    0.083105    0.075342
15    0.079909    0.084018    0.083562    0.089498    0.084932    0.083562
16    0.075799    0.083562    0.076256    0.079909    0.078082    0.074429
17    0.077626    0.083105    0.074429    0.077169    0.078082    0.081279
18    0.079909    0.075799    0.081279    0.073516    0.078995    0.077169
19    0.071233    0.080822    0.073516    0.079909    0.073973    0.079452
20    0.074429    0.073973    0.078539    0.071689    0.079452    0.071233
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7      0.00274    0.820548
8     0.001826    0.690411
9     0.000913    0.930594
10     0.00137    0.787671
11     0.00274    0.965297
12    0.000913    0.812785
13    0.002283    0.982648
14    0.000913    0.784018
15    0.001826     0.93516
16     0.00137    0.890868
17     0.00411         1.0
18     0.00137    0.881735
19    0.000457    0.963014
20    0.000913    0.836986
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.085845   0.078082     0.093151   0.082192   0.093151   0.089498
9    0.083105   0.086758     0.081279   0.089954   0.089498   0.092694
10   0.084018   0.084018     0.086301   0.082192   0.093151   0.081735
11   0.084475   0.090868     0.078539   0.090411   0.086758   0.087671
12   0.091324   0.083562     0.087215   0.079909   0.092237   0.083562
13   0.084932   0.086301     0.085388   0.089954   0.082192   0.090411
14   0.087671   0.082192     0.089498   0.078995   0.082648   0.089954
15   0.081279   0.085845     0.085388   0.089041   0.094064    0.09589
16   0.088128   0.086758     0.081735   0.079909   0.084932   0.081735
17   0.076712   0.077169     0.080822   0.084475   0.081735   0.079452
18   0.079909   0.080822     0.083105    0.07032   0.072146   0.085845
19   0.073973   0.086758     0.083105   0.081735   0.077169   0.078995
20   0.080365   0.072146     0.079452   0.083562   0.072146   0.076256
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.087215   0.076712   0.087671   0.084018  ...    0.084932    0.070776
9    0.087215   0.094521   0.085845   0.092694  ...    0.082192    0.085388
10   0.094521   0.088128   0.085845   0.081279  ...    0.092237    0.081735
11   0.085845   0.092237   0.093607   0.082648  ...    0.085388    0.084475
12   0.091324   0.086758   0.087671   0.077169  ...    0.085845    0.081735
13   0.093151   0.096804   0.082192   0.090411  ...    0.083105    0.099543
14   0.088128   0.087671   0.221461   0.085845  ...    0.080822    0.081279
15   0.087215   0.089954   0.087215   0.087671  ...    0.078995    0.085388
16   0.093607   0.084018   0.084932   0.083105  ...    0.081735    0.077169
17   0.088584   0.089954   0.086758   0.079452  ...    0.082648    0.083105
18   0.091781   0.077169   0.080822   0.077626  ...    0.081279    0.081735
19   0.082192   0.088128   0.077169   0.084932  ...    0.078082    0.077169
20   0.087671   0.073516   0.069863   0.075342  ...    0.077169    0.073516
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2797        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         20  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.074429    0.080365    0.093151    0.084018    0.088128    0.075342
9     0.077626    0.080365    0.077626    0.087215    0.079909    0.078539
10    0.084475    0.078995    0.084475    0.099543    0.077626    0.073059
11    0.082192    0.079909    0.078082    0.090411    0.072146    0.079452
12    0.088128    0.081279    0.094977    0.080365    0.086301    0.077626
13    0.081279    0.088128    0.085845    0.081735    0.075799    0.086301
14    0.082648    0.075799    0.084475    0.080365    0.083105    0.075342
15    0.079909    0.084018    0.083562    0.089498    0.084932    0.083562
16    0.075799    0.083562    0.076256    0.079909    0.078082    0.074429
17    0.077626    0.083105    0.074429    0.077169    0.078082    0.081279
18    0.079909    0.075799    0.081279    0.073516    0.078995    0.077169
19    0.071233    0.080822    0.073516    0.079909    0.073973    0.079452
20    0.074429    0.073973    0.078539    0.071689    0.079452    0.071233
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8     0.001826    0.690411
9     0.000913    0.930594
10     0.00137    0.787671
11     0.00274    0.965297
12    0.000913    0.812785
13    0.002283    0.982648
14    0.000913    0.784018
15    0.001826     0.93516
16     0.00137    0.890868
17     0.00411         1.0
18     0.00137    0.881735
19    0.000457    0.963014
20    0.000913    0.836986
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.083105   0.086758     0.081279   0.089954   0.089498   0.092694
10   0.084018   0.084018     0.086301   0.082192   0.093151   0.081735
11   0.084475   0.090868     0.078539   0.090411   0.086758   0.087671
12   0.091324   0.083562     0.087215   0.079909   0.092237   0.083562
13   0.084932   0.086301     0.085388   0.089954   0.082192   0.090411
14   0.087671   0.082192     0.089498   0.078995   0.082648   0.089954
15   0.081279   0.085845     0.085388   0.089041   0.094064    0.09589
16   0.088128   0.086758     0.081735   0.079909   0.084932   0.081735
17   0.076712   0.077169     0.080822   0.084475   0.081735   0.079452
18   0.079909   0.080822     0.083105    0.07032   0.072146   0.085845
19   0.073973   0.086758     0.083105   0.081735   0.077169   0.078995
20   0.080365   0.072146     0.079452   0.083562   0.072146   0.076256
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.087215   0.094521   0.085845   0.092694  ...    0.082192    0.085388
10   0.094521   0.088128   0.085845   0.081279  ...    0.092237    0.081735
11   0.085845   0.092237   0.093607   0.082648  ...    0.085388    0.084475
12   0.091324   0.086758   0.087671   0.077169  ...    0.085845    0.081735
13   0.093151   0.096804   0.082192   0.090411  ...    0.083105    0.099543
14   0.088128   0.087671   0.221461   0.085845  ...    0.080822    0.081279
15   0.087215   0.089954   0.087215   0.087671  ...    0.078995    0.085388
16   0.093607   0.084018   0.084932   0.083105  ...    0.081735    0.077169
17   0.088584   0.089954   0.086758   0.079452  ...    0.082648    0.083105
18   0.091781   0.077169   0.080822   0.077626  ...    0.081279    0.081735
19   0.082192   0.088128   0.077169   0.084932  ...    0.078082    0.077169
20   0.087671   0.073516   0.069863   0.075342  ...    0.077169    0.073516
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2797        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         20  ...         NaN         NaN
24        NaN  7/26/2023          5         22  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9     0.077626    0.080365    0.077626    0.087215    0.079909    0.078539
10    0.084475    0.078995    0.084475    0.099543    0.077626    0.073059
11    0.082192    0.079909    0.078082    0.090411    0.072146    0.079452
12    0.088128    0.081279    0.094977    0.080365    0.086301    0.077626
13    0.081279    0.088128    0.085845    0.081735    0.075799    0.086301
14    0.082648    0.075799    0.084475    0.080365    0.083105    0.075342
15    0.079909    0.084018    0.083562    0.089498    0.084932    0.083562
16    0.075799    0.083562    0.076256    0.079909    0.078082    0.074429
17    0.077626    0.083105    0.074429    0.077169    0.078082    0.081279
18    0.079909    0.075799    0.081279    0.073516    0.078995    0.077169
19    0.071233    0.080822    0.073516    0.079909    0.073973    0.079452
20    0.074429    0.073973    0.078539    0.071689    0.079452    0.071233
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9     0.000913    0.930594
10     0.00137    0.787671
11     0.00274    0.965297
12    0.000913    0.812785
13    0.002283    0.982648
14    0.000913    0.784018
15    0.001826     0.93516
16     0.00137    0.890868
17     0.00411         1.0
18     0.00137    0.881735
19    0.000457    0.963014
20    0.000913    0.836986
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.084018   0.084018     0.086301   0.082192   0.093151   0.081735
11   0.084475   0.090868     0.078539   0.090411   0.086758   0.087671
12   0.091324   0.083562     0.087215   0.079909   0.092237   0.083562
13   0.084932   0.086301     0.085388   0.089954   0.082192   0.090411
14   0.087671   0.082192     0.089498   0.078995   0.082648   0.089954
15   0.081279   0.085845     0.085388   0.089041   0.094064    0.09589
16   0.088128   0.086758     0.081735   0.079909   0.084932   0.081735
17   0.076712   0.077169     0.080822   0.084475   0.081735   0.079452
18   0.079909   0.080822     0.083105    0.07032   0.072146   0.085845
19   0.073973   0.086758     0.083105   0.081735   0.077169   0.078995
20   0.080365   0.072146     0.079452   0.083562   0.072146   0.076256
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.094521   0.088128   0.085845   0.081279  ...    0.092237    0.081735
11   0.085845   0.092237   0.093607   0.082648  ...    0.085388    0.084475
12   0.091324   0.086758   0.087671   0.077169  ...    0.085845    0.081735
13   0.093151   0.096804   0.082192   0.090411  ...    0.083105    0.099543
14   0.088128   0.087671   0.221461   0.085845  ...    0.080822    0.081279
15   0.087215   0.089954   0.087215   0.087671  ...    0.078995    0.085388
16   0.093607   0.084018   0.084932   0.083105  ...    0.081735    0.077169
17   0.088584   0.089954   0.086758   0.079452  ...    0.082648    0.083105
18   0.091781   0.077169   0.080822   0.077626  ...    0.081279    0.081735
19   0.082192   0.088128   0.077169   0.084932  ...    0.078082    0.077169
20   0.087671   0.073516   0.069863   0.075342  ...    0.077169    0.073516
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2797        NaN        NaN  ...         NaN         NaN

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\21_normalized_zscore_list.csv
307  unzipped files 22.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.46
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.08
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.61
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               48
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.1
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.07
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.89
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       26
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         44
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7520       7560       7640       7480       7920       8640
6        8280       7520       7720       7520       7240       7840
7        7360       7360       7000       7360       7280       7680
8        8000       7720       7800       6880       8040       7560
9        7480       7560       7200       7120       7480       7560
10       7600       7200       7520       7280       7280       6800
11       6560       7960       7360       7520       7400       7720
12       7240       7720       7560       7280       7840       7000
13       7560       7600       7320       7760       6880       7720
14       7760       7280       7560       6840       7120       5520
15       7320       7320       6880       7360       7240       6960
16       7480       6360       6840       7280       7000       7520
17       7480       7560       6920       6840       7000       7520
18       7280       6960       6960       7080       7120       7120
19       7120       7360       6440       7200       6640       7560
20       7760       6680       7840       5560       7000       6720

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        8640       8400       7600       8880  ...        7880        8120
6        8000       7080       7080       7160  ...        7520        7600
7        7280       7160       7120       7560  ...        7400        7360
8        7360       7160       7560       6760  ...        7200        7280
9        7480       7600       7080       7080  ...        7480        8120
10       7920       7080       7080       6840  ...        7360        6520
11       7240       7400       6920       7720  ...        6960        7320
12       7920       7200       7640       6560  ...        7520        7160
13       7400       7600       6960       7320  ...        7000        8280
14       7360       6600       7320       7960  ...        7520        6840
15       7360       6600       7080       7320  ...        6800        7040
16       8960       6520       7480       6440  ...        6840        6600
17       6800       7080       6760       7160  ...        7160        7400
18       7520       7000       7320       6760  ...        6880        6600
19       6880       7160       6880       6960  ...        6680        7760
20       7480       6560       7240       6480  ...        7000       13120

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         5760        7800        7960        7840        7400       10760
6         7240        6840        7800        7840        7720        6280
7         7440        7480        7240        7240        5640        6960
8         6920        6960        7960        7000        7200        6200
9         7400        6960        7080        7600        7000        6760
10        7120        6960        7240        6360        7080        6440
11        8040        7240        7040        7080        6200        6600
12        6960        6440        6680        6080        7280        5760
13        7120        6840        7000        7600        6880        7000
14        7440        6800        7160        6520        7000        6600
15        7000        7000        6880        7000        6880        6920
16        7120        6720        7160        6600        7480        6360
17        7000        7360        6440        7240        6400        6200
18        6640        6480        6840        6600        6640        6240
19        6880        7240        6400        6840        6880        6880
20        6560        6000        7000        6760        6640        6320

   Unnamed: 22 Unnamed: 23
5          600       57120
6          640       50840
7          840       59440
8          840       54240
9          720       60600
10         800       54840
11         760       65760
12         960       54800
13         760       67080
14         960       56880
15         760       72520
16         880       58560
17         680       68440
18         760       60320
19         800       65120
20         560       63240

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.107282    0.09672       0.0995    0.09672   0.092829   0.101167
7    0.094497   0.094497     0.089494   0.094497   0.093385   0.098944
8    0.103391     0.0995     0.100611   0.087827   0.103947   0.097276

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 221 65 DF Values count: 163 done
94  skip normalized data
80  DF NA count: 240 65 DF Values count: 144 done
94  skip normalized data
80  DF NA count: 260 65 DF Values count: 124 done
94  skip normalized data
80  DF NA count: 279 65 DF Values count: 105 done
94  skip normalized data
80  DF NA count: 299 65 DF Values count: 85 done
94  skip normalized data
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\ and 22.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\22.csv 22.csv FARS2screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\22_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\22_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\22_normalized.csv FARS2screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([90], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//22_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\22_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\22_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\22_normalized_zscore_list.csv
307  unzipped files 23.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.76
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.81
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               48
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.6
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.04
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1         21.8
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       28
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         45
2        NaN
3        NaN
4        NaN
       ...

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//23_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\23_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\23_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\23_normalized_zscore_list.csv
307  unzipped files 24.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.59
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.9
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.5
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.77
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.97
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       30
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         46
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7120       7680       7280       8040       7920       7520
6        6760       6480       6480       6680       6440       6280
7        6280       6840       5960       6880       6760       6680
8        6560       6360       6640       6480       7280       6360
9        6200       7000       6840       6160       6240       7000
10       6440       5680       6440       6280       6080       6640
11       6920       6640       6720       6800       5520       5920
12       6160       5840       6160       5920       6240       5480
13       6400       6960       6600       6040       6480       6920
14       6400       5520       6240       5800       5680       5680
15       6240       6280       6240       6640       5080       6440
16       6400       5840       5840       5200       5520       5320
17       6400       6040       6480       6560       6040       6400
18       6240       5960       6200       5600       5480       5640
19       6440       6000       6720       6400       6080       6840
20       5840       5040       5560       5520       5880       5320

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7120       6600       6040       6440  ...        6200        6280
6        6760       6040       6400       5760  ...        6160        6240
7        7360       7280       6200       6520  ...        6760        7200
8        8480       5800       6480       5640  ...        6000        6120
9        5920       7040       6280       6200  ...        6400        6160
10       6120       5160       6720       6200  ...        6320        5640
11       6720       6480      11040       6440  ...        6400        6720
12       6360       5920       6160       5640  ...        6120        5560
13       6320       6640       6200       6520  ...        5960        6240
14       5760       5600       5680       4960  ...        6320        5120
15       5760       6120       6480       6160  ...        5800        6000
16       4720       5440       5600       5160  ...        4920        4760
17       6240       5880       5720       5880  ...        6080        6360
18       5960       5280       5560      11000  ...        4840        5080
19       6520       6440       6400       6440  ...        5920        6360
20       5560       5000       5320       5560  ...        5080        4720

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         5720        6040        5720        5600        5880        6200
6         6000        6240        6440        5240        5160        5200
7         6400        6800        6440        7720        6840        7120
8         6120        6000        6320        5480        5960        5320
9         5480        5840        6240        6240        5800        5840
10        5840        5560        5600        5360        5280        4680
11        5680        6040        5920        6080        6040        5920
12        5400        4920        5120        5040        5240        4200
13        5840        6200        6160        7400        6320        5920

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.094463   0.103583     0.089251   0.104235    0.10228   0.100977
8    0.099023   0.095765     0.100326    0.09772   0.110749   0.095765
9     0.09316   0.106189     0.103583   0.092508   0.093811   0.106189
10   0.097068   0.084691     0.097068   0.094463   0.091205   0.100326
11   0.104886   0.100326     0.101629   0.102932   0.082085   0.088599
12   0.092508   0.087296     0.092508   0.088599   0.093811   0.081433
13   0.096417   0.105537     0.099674   0.090554    0.09772   0.104886
14   0.096417   0.082085     0.093811   0.086645   0.084691   0.084691
15   0.093811   0.094463     0.093811   0.100326   0.074919   0.097068
16   0.096417   0.087296     0.087296   0.076873   0.082085   0.078827
17   0.096417   0.090554      0.09772   0.099023   0.090554   0.096417
18   0.093811   0.089251      0.09316   0.083388   0.081433   0.084039
19   0.097068   0.089902     0.101629   0.096417   0.091205   0.103583
20   0.087296   0.074267     0.082736   0.082085   0.087948   0.078827
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.112052   0.110749    0.09316   0.098371  ...     0.10228    0.109446
8    0.130293   0.086645    0.09772   0.084039  ...    0.089902    0.091857
9    0.088599    0.10684   0.094463    0.09316  ...    0.096417    0.092508
10   0.091857   0.076221   0.101629    0.09316  ...    0.095114    0.084039
11   0.101629    0.09772   0.171987   0.097068  ...    0.096417    0.101629
12   0.095765   0.088599   0.092508   0.084039  ...    0.091857    0.082736
13   0.095114   0.100326    0.09316   0.098371  ...    0.089251    0.093811
14   0.085993   0.083388   0.084691   0.072964  ...    0.095114     0.07557
15   0.085993   0.091857    0.09772   0.092508  ...    0.086645    0.089902
16   0.069055   0.080782   0.083388   0.076221  ...    0.072313    0.069707
17   0.093811   0.087948   0.085342   0.087948  ...    0.091205    0.095765
18   0.089251   0.078176   0.082736   0.171336  ...     0.07101    0.074919
19   0.098371   0.097068   0.096417   0.097068  ...    0.088599    0.095765
20   0.082736   0.073616   0.078827   0.082736  ...    0.074919    0.069055
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2801        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.096417    0.102932    0.097068    0.117915    0.103583    0.108143
8     0.091857    0.089902    0.095114    0.081433    0.089251    0.078827
9     0.081433    0.087296    0.093811    0.093811    0.086645    0.087296
10    0.087296    0.082736    0.083388    0.079479    0.078176    0.068404
11    0.084691    0.090554    0.088599    0.091205    0.090554    0.088599
12     0.08013    0.072313     0.07557    0.074267    0.077524    0.060586
13    0.087296     0.09316    0.092508    0.112704    0.095114    0.088599
14    0.076873    0.078176    0.076873    0.073616    0.079479    0.067752
15    0.092508    0.092508    0.090554    0.096417    0.095114    0.095114
16    0.070358     0.09772    0.074919    0.072313    0.070358    0.077524
17     0.09772    0.100977    0.076221    0.085342    0.088599    0.104235
18    0.076873    0.067101    0.080782    0.114007    0.072964    0.074919
19     0.09772    0.087948    0.091857    0.094463    0.091205    0.088599
20     0.07557     0.07101     0.07557    0.071661    0.085993    0.074267
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.000651    0.966124
8     0.005863     0.65342
9          0.0     0.97785
10    0.018241    0.616938
11    0.003257    0.909446
12    0.027362    0.616287
13    0.003909    0.856026
14    0.018893    0.621498
15    0.001954     0.91987
16    0.014984    0.842997
17    0.002606         1.0
18    0.018241    0.966124
19    0.002606    0.988925
20    0.014332    0.945928
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.099023   0.095765     0.100326    0.09772   0.110749   0.095765
9     0.09316   0.106189     0.103583   0.092508   0.093811   0.106189
10   0.097068   0.084691     0.097068   0.094463   0.091205   0.100326
11   0.104886   0.100326     0.101629   0.102932   0.082085   0.088599
12   0.092508   0.087296     0.092508   0.088599   0.093811   0.081433
13   0.096417   0.105537     0.099674   0.090554    0.09772   0.104886
14   0.096417   0.082085     0.093811   0.086645   0.084691   0.084691
15   0.093811   0.094463     0.093811   0.100326   0.074919   0.097068
16   0.096417   0.087296     0.087296   0.076873   0.082085   0.078827
17   0.096417   0.090554      0.09772   0.099023   0.090554   0.096417
18   0.093811   0.089251      0.09316   0.083388   0.081433   0.084039
19   0.097068   0.089902     0.101629   0.096417   0.091205   0.103583
20   0.087296   0.074267     0.082736   0.082085   0.087948   0.078827
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.130293   0.086645    0.09772   0.084039  ...    0.089902    0.091857
9    0.088599    0.10684   0.094463    0.09316  ...    0.096417    0.092508
10   0.091857   0.076221   0.101629    0.09316  ...    0.095114    0.084039
11   0.101629    0.09772   0.171987   0.097068  ...    0.096417    0.101629
12   0.095765   0.088599   0.092508   0.084039  ...    0.091857    0.082736
13   0.095114   0.100326    0.09316   0.098371  ...    0.089251    0.093811
14   0.085993   0.083388   0.084691   0.072964  ...    0.095114     0.07557
15   0.085993   0.091857    0.09772   0.092508  ...    0.086645    0.089902
16   0.069055   0.080782   0.083388   0.076221  ...    0.072313    0.069707
17   0.093811   0.087948   0.085342   0.087948  ...    0.091205    0.095765
18   0.089251   0.078176   0.082736   0.171336  ...     0.07101    0.074919
19   0.098371   0.097068   0.096417   0.097068  ...    0.088599    0.095765
20   0.082736   0.073616   0.078827   0.082736  ...    0.074919    0.069055
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2801        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         29  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.091857    0.089902    0.095114    0.081433    0.089251    0.078827
9     0.081433    0.087296    0.093811    0.093811    0.086645    0.087296
10    0.087296    0.082736    0.083388    0.079479    0.078176    0.068404
11    0.084691    0.090554    0.088599    0.091205    0.090554    0.088599
12     0.08013    0.072313     0.07557    0.074267    0.077524    0.060586
13    0.087296     0.09316    0.092508    0.112704    0.095114    0.088599
14    0.076873    0.078176    0.076873    0.073616    0.079479    0.067752
15    0.092508    0.092508    0.090554    0.096417    0.095114    0.095114
16    0.070358     0.09772    0.074919    0.072313    0.070358    0.077524
17     0.09772    0.100977    0.076221    0.085342    0.088599    0.104235
18    0.076873    0.067101    0.080782    0.114007    0.072964    0.074919
19     0.09772    0.087948    0.091857    0.094463    0.091205    0.088599
20     0.07557     0.07101     0.07557    0.071661    0.085993    0.074267
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8     0.005863     0.65342
9          0.0     0.97785
10    0.018241    0.616938
11    0.003257    0.909446
12    0.027362    0.616287
13    0.003909    0.856026
14    0.018893    0.621498
15    0.001954     0.91987
16    0.014984    0.842997
17    0.002606         1.0
18    0.018241    0.966124
19    0.002606    0.988925
20    0.014332    0.945928
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9     0.09316   0.106189     0.103583   0.092508   0.093811   0.106189
10   0.097068   0.084691     0.097068   0.094463   0.091205   0.100326
11   0.104886   0.100326     0.101629   0.102932   0.082085   0.088599
12   0.092508   0.087296     0.092508   0.088599   0.093811   0.081433
13   0.096417   0.105537     0.099674   0.090554    0.09772   0.104886
14   0.096417   0.082085     0.093811   0.086645   0.084691   0.084691
15   0.093811   0.094463     0.093811   0.100326   0.074919   0.097068
16   0.096417   0.087296     0.087296   0.076873   0.082085   0.078827
17   0.096417   0.090554      0.09772   0.099023   0.090554   0.096417
18   0.093811   0.089251      0.09316   0.083388   0.081433   0.084039
19   0.097068   0.089902     0.101629   0.096417   0.091205   0.103583
20   0.087296   0.074267     0.082736   0.082085   0.087948   0.078827
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.088599    0.10684   0.094463    0.09316  ...    0.096417    0.092508
10   0.091857   0.076221   0.101629    0.09316  ...    0.095114    0.084039
11   0.101629    0.09772   0.171987   0.097068  ...    0.096417    0.101629
12   0.095765   0.088599   0.092508   0.084039  ...    0.091857    0.082736
13   0.095114   0.100326    0.09316   0.098371  ...    0.089251    0.093811
14   0.085993   0.083388   0.084691   0.072964  ...    0.095114     0.07557
15   0.085993   0.091857    0.09772   0.092508  ...    0.086645    0.089902
16   0.069055   0.080782   0.083388   0.076221  ...    0.072313    0.069707
17   0.093811   0.087948   0.085342   0.087948  ...    0.091205    0.095765
18   0.089251   0.078176   0.082736   0.171336  ...     0.07101    0.074919
19   0.098371   0.097068   0.096417   0.097068  ...    0.088599    0.095765
20   0.082736   0.073616   0.078827   0.082736  ...    0.074919    0.069055
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2801        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         29  ...         NaN         NaN
24        NaN  7/26/2023          5         31  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9     0.081433    0.087296    0.093811    0.093811    0.086645    0.087296
10    0.087296    0.082736    0.083388    0.079479    0.078176    0.068404
11    0.084691    0.090554    0.088599    0.091205    0.090554    0.088599
12     0.08013    0.072313     0.07557    0.074267    0.077524    0.060586
13    0.087296     0.09316    0.092508    0.112704    0.095114    0.088599
14    0.076873    0.078176    0.076873    0.073616    0.079479    0.067752
15    0.092508    0.092508    0.090554    0.096417    0.095114    0.095114
16    0.070358     0.09772    0.074919    0.072313    0.070358    0.077524
17     0.09772    0.100977    0.076221    0.085342    0.088599    0.104235
18    0.076873    0.067101    0.080782    0.114007    0.072964    0.074919
19     0.09772    0.087948    0.091857    0.094463    0.091205    0.088599
20     0.07557     0.07101     0.07557    0.071661    0.085993    0.074267
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9          0.0     0.97785
10    0.018241    0.616938
11    0.003257    0.909446
12    0.027362    0.616287
13    0.003909    0.856026
14    0.018893    0.621498
15    0.001954     0.91987
16    0.014984    0.842997
17    0.002606         1.0
18    0.018241    0.966124
19    0.002606    0.988925
20    0.014332    0.945928
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.097068   0.084691     0.097068   0.094463   0.091205   0.100326
11   0.104886   0.100326     0.101629   0.102932   0.082085   0.088599
12   0.092508   0.087296     0.092508   0.088599   0.093811   0.081433
13   0.096417   0.105537     0.099674   0.090554    0.09772   0.104886
14   0.096417   0.082085     0.093811   0.086645   0.084691   0.084691
15   0.093811   0.094463     0.093811   0.100326   0.074919   0.097068
16   0.096417   0.087296     0.087296   0.076873   0.082085   0.078827
17   0.096417   0.090554      0.09772   0.099023   0.090554   0.096417
18   0.093811   0.089251      0.09316   0.083388   0.081433   0.084039
19   0.097068   0.089902     0.101629   0.096417   0.091205   0.103583
20   0.087296   0.074267     0.082736   0.082085   0.087948   0.078827
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.091857   0.076221   0.101629    0.09316  ...    0.095114    0.084039
11   0.101629    0.09772   0.171987   0.097068  ...    0.096417    0.101629
12   0.095765   0.088599   0.092508   0.084039  ...    0.091857    0.082736
13   0.095114   0.100326    0.09316   0.098371  ...    0.089251    0.093811
14   0.085993   0.083388   0.084691   0.072964  ...    0.095114     0.07557
15   0.085993   0.091857    0.09772   0.092508  ...    0.086645    0.089902
16   0.069055   0.080782   0.083388   0.076221  ...    0.072313    0.069707
17   0.093811   0.087948   0.085342   0.087948  ...    0.091205    0.095765
18   0.089251   0.078176   0.082736   0.171336  ...     0.07101    0.074919
19   0.098371   0.097068   0.096417   0.097068  ...    0.088599    0.095765
20   0.082736   0.073616   0.078827   0.082736  ...    0.074919    0.069055
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2801        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         29  ...         NaN         NaN
24        NaN  7/26/2023          5         31  ...         NaN         NaN
25        NaN  7/26/2023          5         31  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
10    0.087296    0.082736    0.083388    0.079479    0.078176    0.068404
11    0.084691    0.090554    0.088599    0.091205    0.090554    0.088599
12     0.08013    0.072313     0.07557    0.074267    0.077524    0.060586
13    0.087296     0.09316    0.092508    0.112704    0.095114    0.088599
14    0.076873    0.078176    0.076873    0.073616    0.079479    0.067752
15    0.092508    0.092508    0.090554    0.096417    0.095114    0.095114
16    0.070358     0.09772    0.074919    0.072313    0.070358    0.077524
17     0.09772    0.100977    0.076221    0.085342    0.088599    0.104235
18    0.076873    0.067101    0.080782    0.114007    0.072964    0.074919
19     0.09772    0.087948    0.091857    0.094463    0.091205    0.088599
20     0.07557     0.07101     0.07557    0.071661    0.085993    0.074267
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
10    0.018241    0.616938
11    0.003257    0.909446
12    0.027362    0.616287
13    0.003909    0.856026
14    0.018893    0.621498
15    0.001954     0.91987
16    0.014984    0.842997
17    0.002606         1.0
18    0.018241    0.966124
19    0.002606    0.988925
20    0.014332    0.945928
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN
25         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 114 65 DF Values count: 270 done
94  skip normalized data
80  DF NA count: 134 65 DF Values count: 250 done
94  skip normalized data
80  DF NA count: 156 65 DF Values count: 228 done
94  skip normalized data
80  DF NA count: 178 65 DF Values count: 206 done
94  skip normalized data
80  DF NA count: 201 65 DF Values count: 183 done
94  skip normalized data
80  DF NA count: 221 65 DF Values count: 163 done
94  skip normalized data
80  DF NA count: 240 65 DF Values count: 144 done
94  skip normalized data
80  DF NA count: 260 65 DF Values count: 124 done
94  skip normalized data
80  DF NA count: 279 65 DF Values count: 105 done
94  skip normalized data
80  DF NA count: 299 65 DF Values count: 85 done
94  skip normalized data
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\ and 24.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\24.csv 24.csv FARS2screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\24_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\24_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\24_normalized.csv FARS2screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([90], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 25.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.41
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.49
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.91
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             45.3
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       45
2      NaN
3      NaN
4        8
      ...
115    NaN
116    NaN
117    NaN
118    out
119    NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.25
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        23.76
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       32
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         59
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        6840       7720       8080       7720       6720       6800
6        7440       6840       7080       7200       7760       7200
7        7320       7560       7360       7280       6680       7200
8        7440       7280       6880       7080       6880       7040
9        7040       6840       6720       6760       6840       6920
10       6920       6520       7160       7240       7120       6960
11       6800       6920       7200       6560       7480       7520
12       6640       6920       6840       6920       7440       6560
13       6520       7760       6840       7480       7080       6760
14       7320       6800       7480       6360       7040       7680
15       6800       6680       7320       7240       6360       7280
16       7320       6400       7080       6280       6720       6480
17       6760       6400       6200       6960       6760       6480
18       6680       5880       7240       5960       6680       6800
19       6640       6400       6240       6920       6320       7200
20       7200       6640       6040       6200       7080       6360

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        6480       7000       7080      18600  ...        7080        7600
6        6920       7120       7480       7320  ...        7520        6240
7        6720       7040       7080       7160  ...        7560        7400
8        8160       6640       7600       7080  ...        7520        6520
9        6640       7360       7280       7360  ...        6840        7240
10       6920       7040       6800       6280  ...        6840        6640
11       7080       6360       6800       6960  ...        6920        7120
12       6720       7120       6480       6720  ...        6720        6240
13       6400       7000       6760       6960  ...        7160        7040
14       6840       6800       6880       6400  ...        6080        6920
15       6680       7120       6720       6640  ...        6320        7320
16       7560       6360       6400       6520  ...        6320        6080
17       6760       7400       6080       6640  ...        6440        6280
18       6480       6720       6960       6200  ...        6680        6400
19       6600       8040       6760       6560  ...        6360        7160
20       7000       6320       6680       6160  ...        7040        6240

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         6680        7840        7520        7800        6760        7720
6         6800        6760        6880        6640        6920        6000
7         6840        6720        6760        6960        6920        7160
8         7120        6920        6920        6920        6680        6720
9         6640        7120        5160        7280        6920        6840
10        6800        6360        7280        6360        6760        6400
11        6720        7680        6960        7120        6480        7160
12        7120        6040        7120        6560        6840        5880
13        7200        6960        6880        6840        6840        7080
14        6800        6120        7200        6680        6560        6160
15        6640        6440        6040        6720        6320        6960
16        6880        6760        6560        5800        6680        6440
17        6400        6680        6520        6600        9080        6840
18        6600        6600        6880        7120        5240        6240
19        6800        6600        6400        6840        6160        6320
20        6440        6360        6680        6280        6600        5760

   Unnamed: 22 Unnamed: 23
5          640       61640
6          800       43400
7          640       57200
8          640       51840
9          640       64680
10         640       53360
11         760       63160
12         760       51960
13         640       58720
14         640       50080
15         880       68000
16         680       58880
17         840       77440
18        6800      315400
19         960       68760
20         680       60640

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.021604   0.019698      0.02046   0.020841    0.02262   0.020841
7    0.021223   0.021985      0.02135   0.021095   0.019189   0.020841
8    0.021604   0.021095     0.019825    0.02046   0.019825   0.020333
9    0.020333   0.019698     0.019316   0.019443   0.019698   0.019952
10   0.019952   0.018681     0.020714   0.020968   0.020587   0.020079
11    0.01957   0.019952     0.020841   0.018808   0.021731   0.021858
12   0.019062   0.019952     0.019698   0.019952   0.021604   0.018808
13   0.018681    0.02262     0.019698   0.021731    0.02046   0.019443
14   0.021223    0.01957     0.021731   0.018173   0.020333   0.022366
15    0.01957   0.019189     0.021223   0.020968   0.018173   0.021095
16   0.021223     0.0183      0.02046   0.017918   0.019316   0.018554
17   0.019443     0.0183     0.017664   0.020079   0.019443   0.018554
18   0.019189   0.016648     0.020968   0.016902   0.019189    0.01957
19   0.019062     0.0183     0.017791   0.019952   0.018045   0.020841
20   0.020841   0.019062     0.017156   0.017664    0.02046   0.018173
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.019952   0.020587   0.021731   0.021223  ...    0.021858    0.017791
7    0.019316   0.020333    0.02046   0.020714  ...    0.021985    0.021477
8    0.023891   0.019062   0.022112    0.02046  ...    0.021858    0.018681
9    0.019062    0.02135   0.021095    0.02135  ...    0.019698    0.020968
10   0.019952   0.020333    0.01957   0.017918  ...    0.019698    0.019062
11    0.02046   0.018173    0.01957   0.020079  ...    0.019952    0.020587
12   0.019316   0.020587   0.018554   0.019316  ...    0.019316    0.017791
13     0.0183   0.020206   0.019443   0.020079  ...    0.020714    0.020333
14   0.019698    0.01957   0.019825     0.0183  ...    0.017283    0.019952
15   0.019189   0.020587   0.019316   0.019062  ...    0.018045    0.021223
16   0.021985   0.018173     0.0183   0.018681  ...    0.018045    0.017283
17   0.019443   0.021477   0.017283   0.019062  ...    0.018427    0.017918
18   0.018554   0.019316   0.020079   0.017664  ...    0.019189      0.0183
19   0.018935    0.02351   0.019443   0.018808  ...    0.018173    0.020714
20   0.020206   0.018045   0.019189   0.017537  ...    0.020333    0.017791
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6      0.01957    0.019443    0.019825    0.019062    0.019952    0.017029
7     0.019698    0.019316    0.019443    0.020079    0.019952    0.020714
8     0.020587    0.019952    0.019952    0.019952    0.019189    0.019316
9     0.019062    0.020587     0.01436    0.021095    0.019952    0.019698
10     0.01957    0.018173    0.021095    0.018173    0.019443      0.0183
11    0.019316    0.022366    0.020079    0.020587    0.018554    0.020714
12    0.020587    0.017156    0.020587    0.018808    0.019698    0.016648
13    0.020841    0.020079    0.019825    0.019698    0.019698     0.02046
14     0.01957     0.01741    0.020841    0.019189    0.018808    0.017537
15    0.019062    0.018427    0.017156    0.019316    0.018045    0.020079
16    0.019825    0.019443    0.018808    0.016393    0.019189    0.018427
17      0.0183    0.019189    0.018681    0.018935    0.026814    0.019698
18    0.018935    0.018935    0.019825    0.020587    0.014614    0.017791
19     0.01957    0.018935      0.0183    0.019698    0.017537    0.018045
20    0.018427    0.018173    0.019189    0.017918    0.018935    0.016266
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.000508     0.13585
7          0.0    0.179692
8          0.0    0.162664
9          0.0    0.203457
10         0.0    0.167493
11    0.000381    0.198628
12    0.000381    0.163045
13         0.0    0.184522
14         0.0    0.157072
15    0.000762    0.214004
16    0.000127     0.18503
17    0.000635    0.243995
18     0.01957         1.0
19    0.001017    0.216419
20    0.000127    0.190621
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.021223   0.021985      0.02135   0.021095   0.019189   0.020841
8    0.021604   0.021095     0.019825    0.02046   0.019825   0.020333
9    0.020333   0.019698     0.019316   0.019443   0.019698   0.019952
10   0.019952   0.018681     0.020714   0.020968   0.020587   0.020079
11    0.01957   0.019952     0.020841   0.018808   0.021731   0.021858
12   0.019062   0.019952     0.019698   0.019952   0.021604   0.018808
13   0.018681    0.02262     0.019698   0.021731    0.02046   0.019443
14   0.021223    0.01957     0.021731   0.018173   0.020333   0.022366
15    0.01957   0.019189     0.021223   0.020968   0.018173   0.021095
16   0.021223     0.0183      0.02046   0.017918   0.019316   0.018554
17   0.019443     0.0183     0.017664   0.020079   0.019443   0.018554
18   0.019189   0.016648     0.020968   0.016902   0.019189    0.01957
19   0.019062     0.0183     0.017791   0.019952   0.018045   0.020841
20   0.020841   0.019062     0.017156   0.017664    0.02046   0.018173
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\26_normalized_zscore_list.csv
307  unzipped files 27.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.41
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.77
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              22.99
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             44.7
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       45
2      NaN
3      NaN
4       12
      ...
115    NaN
116    NaN
117    NaN
118    out
119    NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.83
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.97
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        5
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       37
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         19
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7520       7880       7880       8320      56640    8383280
6        8160       7480       8640       7560      51680      56200
7        7320       7880       7200       7560       7880       8280
8        8200       6960       7520       7280       7920       6680
9        7480       7400       7240       7360       7000       7400
10       7440       6960       7320       7240       7680       7040
11       7080       7720       6720       7520       6600       7320
12       7840       6600       7480       6440       8120       7040
13       7720       7440       7320       7640       6800       7480
14       7280       6600       7400       7560       8000       7440
15       7120       7360       7240       7520       7280       7400
16       6880       7080       7040       6960       7520       7280
17       7360       7440       6680       7160       7040       7600
18       7960       6760       7560       7240       7840       7240
19       7400       6920       7200       7040       6680       7080
20       6840       6920       6960       6280       7560       7360

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       55600       8640       6760       7520  ...        7600        8040
6        8760       7600       7800       7200  ...        7880        7360
7        7840       7560       7120       7600  ...        7680        8240
8        7480       7160       7640       7640  ...        7400        7040
9        7120       7440       7280       8000  ...        7240        8040
10       7880       6760       7520       7040  ...        7560        6960
11       7920       7160       7040       7560  ...        7160        7360
12       7680       7160       7400       6880  ...        7640        7080
13       7160       7280       6880       7120  ...        7120        7640
14       7520       7160       7280       7240  ...        7600        7160
15       7440       7520       7440       7440  ...        6720        7080
16       7440       7080       7880       6920  ...        7400        7200
17       6920       7600       7080       7440  ...        7000        6720
18       7680       7160       7400       7200  ...        7880        7040
19       6880       7440       6840       7520  ...        7440        7120
20       7600       6800       7320       7080  ...        6960        6400

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         8160        7800        6840        7440        6880        7960
6         7600        7240        7800        6920        7640        6840
7         7600        7720        7560        7800        7400        7560
8         8200        7000        7880        7760        8040        7000
9         7200        7160        7280        7240        7520        7600
10        7320        7040        7280        7120        7600        6880
11        7080        7320        6680        7680        7240        6880
12        6960        6960        7280        7280        7560        6720
13        7120        7040        7200        7560        7120        7000
14        7520        7160        7400        7280        7280        6680
15        6680        7640        7280        7160        6760        7200
16        7640        7200        7040        7360        7240        6760
17        7080        7240        7160        7720        7440        7600
18        7480        7240        7480        6400        7840        7120
19        6520        6800        7320        7720        6880        7240
20        7600        7080        7760        7320        7320        6280

   Unnamed: 22 Unnamed: 23
5          760       74840
6          760       66120
7          920       79480
8          840       68880
9          880       82200
10         800       72640
11         760       83520
12         760       72120
13        1160       83880
14        1000       69200
15        1040       86800
16         800       74760
17        1160       82680
18         720       70080
19         920       83880
20         760       69960

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.000888   0.000806     0.000945   0.000816   0.006079   0.006619
7    0.000787   0.000854     0.000773   0.000816   0.000854   0.000902
8    0.000892   0.000744     0.000811   0.000783   0.000859   0.000711
9    0.000806   0.000797     0.000778   0.000792   0.000749   0.000797
10   0.000802   0.000744     0.000787   0.000778    0.00083   0.000754
11   0.000759   0.000835     0.000716   0.000811   0.000701   0.000787
12   0.000849   0.000701     0.000806   0.000682   0.000883   0.000754
13   0.000835   0.000802     0.000787   0.000826   0.000725   0.000806
14   0.000783   0.000701     0.000797   0.000816   0.000868   0.000802
15   0.000763   0.000792     0.000778   0.000811   0.000783   0.000797
16   0.000735   0.000759     0.000754   0.000744   0.000811   0.000783
17   0.000792   0.000802     0.000711   0.000768   0.000754   0.000821
18   0.000864   0.000721     0.000816   0.000778   0.000849   0.000778
19   0.000797    0.00074     0.000773   0.000754   0.000711   0.000759
20    0.00073    0.00074     0.000744   0.000663   0.000816   0.000792
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.000959   0.000821   0.000845   0.000773  ...    0.000854    0.000792
7    0.000849   0.000816   0.000763   0.000821  ...     0.00083    0.000897
8    0.000806   0.000768   0.000826   0.000826  ...    0.000797    0.000754
9    0.000763   0.000802   0.000783   0.000868  ...    0.000778    0.000873
10   0.000854   0.000721   0.000811   0.000754  ...    0.000816    0.000744
11   0.000859   0.000768   0.000754   0.000816  ...    0.000768    0.000792
12    0.00083   0.000768   0.000797   0.000735  ...    0.000826    0.000759
13   0.000768   0.000783   0.000735   0.000763  ...    0.000763    0.000826
14   0.000811   0.000768   0.000783   0.000778  ...    0.000821    0.000768
15   0.000802   0.000811   0.000802   0.000802  ...    0.000716    0.000759
16   0.000802   0.000759   0.000854    0.00074  ...    0.000797    0.000773
17    0.00074   0.000821   0.000759   0.000802  ...    0.000749    0.000716
18    0.00083   0.000768   0.000797   0.000773  ...    0.000854    0.000754
19   0.000735   0.000802    0.00073   0.000811  ...    0.000802    0.000763
20   0.000821   0.000725   0.000787   0.000759  ...    0.000744    0.000678
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.000821    0.000778    0.000845     0.00074    0.000826     0.00073
7     0.000821    0.000835    0.000816    0.000845    0.000797    0.000816
8     0.000892    0.000749    0.000854     0.00084    0.000873    0.000749
9     0.000773    0.000768    0.000783    0.000778    0.000811    0.000821
10    0.000787    0.000754    0.000783    0.000763    0.000821    0.000735
11    0.000759    0.000787    0.000711     0.00083    0.000778    0.000735
12    0.000744    0.000744    0.000783    0.000783    0.000816    0.000716
13    0.000763    0.000754    0.000773    0.000816    0.000763    0.000749
14    0.000811    0.000768    0.000797    0.000783    0.000783    0.000711
15    0.000711    0.000826    0.000783    0.000768    0.000721    0.000773
16    0.000826    0.000773    0.000754    0.000792    0.000778    0.000721
17    0.000759    0.000778    0.000768    0.000835    0.000802    0.000821
18    0.000806    0.000778    0.000806    0.000678    0.000849    0.000763
19    0.000692    0.000725    0.000787    0.000835    0.000735    0.000778
20    0.000821    0.000759     0.00084    0.000787    0.000787    0.000663
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.000005    0.007802
7     0.000024    0.009396
8     0.000014    0.008131
9     0.000019     0.00972
10     0.00001     0.00858
11    0.000005    0.009878
12    0.000005    0.008518
13    0.000052    0.009921
14    0.000033    0.008169
15    0.000038    0.010269
16     0.00001    0.008833
17    0.000052    0.009777
18         0.0    0.008274
19    0.000024    0.009921
20    0.000005     0.00826
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.000806   0.000797     0.000778   0.000792   0.000749   0.000797
10   0.000802   0.000744     0.000787   0.000778    0.00083   0.000754
11   0.000759   0.000835     0.000716   0.000811   0.000701   0.000787
12   0.000849   0.000701     0.000806   0.000682   0.000883   0.000754
13   0.000835   0.000802     0.000787   0.000826   0.000725   0.000806
14   0.000783   0.000701     0.000797   0.000816   0.000868   0.000802
15   0.000763   0.000792     0.000778   0.000811   0.000783   0.000797
16   0.000735   0.000759     0.000754   0.000744   0.000811   0.000783
17   0.000792   0.000802     0.000711   0.000768   0.000754   0.000821
18   0.000864   0.000721     0.000816   0.000778   0.000849   0.000778
19   0.000797    0.00074     0.000773   0.000754   0.000711   0.000759
20    0.00073    0.00074     0.000744   0.000663   0.000816   0.000792
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.000763   0.000802   0.000783   0.000868  ...    0.000778    0.000873
10   0.000854   0.000721   0.000811   0.000754  ...    0.000816    0.000744
11   0.000859   0.000768   0.000754   0.000816  ...    0.000768    0.000792
12    0.00083   0.000768   0.000797   0.000735  ...    0.000826    0.000759
13   0.000768   0.000783   0.000735   0.000763  ...    0.000763    0.000826
14   0.000811   0.000768   0.000783   0.000778  ...    0.000821    0.000768
15   0.000802   0.000811   0.000802   0.000802  ...    0.000716    0.000759
16   0.000802   0.000759   0.000854    0.00074  ...    0.000797    0.000773
17    0.00074   0.000821   0.000759   0.000802  ...    0.000749    0.000716
18    0.00083   0.000768   0.000797   0.000773  ...    0.000854    0.000754
19   0.000735   0.000802    0.00073   0.000811  ...    0.000802    0.000763
20   0.000821   0.000725   0.000787   0.000759  ...    0.000744    0.000678
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2804        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         35  ...         NaN         NaN
24        NaN  7/26/2023          5         37  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9     0.000773    0.000768    0.000783    0.000778    0.000811    0.000821
10    0.000787    0.000754    0.000783    0.000763    0.000821    0.000735
11    0.000759    0.000787    0.000711     0.00083    0.000778    0.000735
12    0.000744    0.000744    0.000783    0.000783    0.000816    0.000716
13    0.000763    0.000754    0.000773    0.000816    0.000763    0.000749
14    0.000811    0.000768    0.000797    0.000783    0.000783    0.000711
15    0.000711    0.000826    0.000783    0.000768    0.000721    0.000773
16    0.000826    0.000773    0.000754    0.000792    0.000778    0.000721
17    0.000759    0.000778    0.000768    0.000835    0.000802    0.000821
18    0.000806    0.000778    0.000806    0.000678    0.000849    0.000763
19    0.000692    0.000725    0.000787    0.000835    0.000735    0.000778
20    0.000821    0.000759     0.00084    0.000787    0.000787    0.000663
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9     0.000019     0.00972
10     0.00001     0.00858
11    0.000005    0.009878
12    0.000005    0.008518
13    0.000052    0.009921
14    0.000033    0.008169
15    0.000038    0.010269
16     0.00001    0.008833
17    0.000052    0.009777
18         0.0    0.008274
19    0.000024    0.009921
20    0.000005     0.00826
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.000802   0.000744     0.000787   0.000778    0.00083   0.000754
11   0.000759   0.000835     0.000716   0.000811   0.000701   0.000787
12   0.000849   0.000701     0.000806   0.000682   0.000883   0.000754
13   0.000835   0.000802     0.000787   0.000826   0.000725   0.000806
14   0.000783   0.000701     0.000797   0.000816   0.000868   0.000802
15   0.000763   0.000792     0.000778   0.000811   0.000783   0.000797
16   0.000735   0.000759     0.000754   0.000744   0.000811   0.000783
17   0.000792   0.000802     0.000711   0.000768   0.000754   0.000821
18   0.000864   0.000721     0.000816   0.000778   0.000849   0.000778
19   0.000797    0.00074     0.000773   0.000754   0.000711   0.000759
20    0.00073    0.00074     0.000744   0.000663   0.000816   0.000792
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.000854   0.000721   0.000811   0.000754  ...    0.000816    0.000744
11   0.000859   0.000768   0.000754   0.000816  ...    0.000768    0.000792
12    0.00083   0.000768   0.000797   0.000735  ...    0.000826    0.000759
13   0.000768   0.000783   0.000735   0.000763  ...    0.000763    0.000826
14   0.000811   0.000768   0.000783   0.000778  ...    0.000821    0.000768
15   0.000802   0.000811   0.000802   0.000802  ...    0.000716    0.000759
16   0.000802   0.000759   0.000854    0.00074  ...    0.000797    0.000773
17    0.00074   0.000821   0.000759   0.000802  ...    0.000749    0.000716
18    0.00083   0.000768   0.000797   0.000773  ...    0.000854    0.000754
19   0.000735   0.000802    0.00073   0.000811  ...    0.000802    0.000763
20   0.000821   0.000725   0.000787   0.000759  ...    0.000744    0.000678
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2804        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          5         35  ...         NaN         NaN
24        NaN  7/26/2023          5         37  ...         NaN         NaN
25        NaN  7/26/2023          5         37  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
10    0.000787    0.000754    0.000783    0.000763    0.000821    0.000735
11    0.000759    0.000787    0.000711     0.00083    0.000778    0.000735
12    0.000744    0.000744    0.000783    0.000783    0.000816    0.000716
13    0.000763    0.000754    0.000773    0.000816    0.000763    0.000749
14    0.000811    0.000768    0.000797    0.000783    0.000783    0.000711
15    0.000711    0.000826    0.000783    0.000768    0.000721    0.000773
16    0.000826    0.000773    0.000754    0.000792    0.000778    0.000721
17    0.000759    0.000778    0.000768    0.000835    0.000802    0.000821
18    0.000806    0.000778    0.000806    0.000678    0.000849    0.000763
19    0.000692    0.000725    0.000787    0.000835    0.000735    0.000778
20    0.000821    0.000759     0.00084    0.000787    0.000787    0.000663
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
10     0.00001     0.00858
11    0.000005    0.009878
12    0.000005    0.008518
13    0.000052    0.009921
14    0.000033    0.008169
15    0.000038    0.010269
16     0.00001    0.008833
17    0.000052    0.009777
18         0.0    0.008274
19    0.000024    0.009921
20    0.000005     0.00826
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN
25         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 114 65 DF Values count: 270 done
94  skip normalized data
80  DF NA count: 134 65 DF Values count: 250 done
94  skip normalized data
80  DF NA count: 156 65 DF Values count: 228 done
94  skip normalized data
80  DF NA count: 178 65 DF Values count: 206 done
94  skip normalized data
80  DF NA count: 201 65 DF Values count: 183 done
94  skip normalized data
80  DF NA count: 221 65 DF Values count: 163 done
94  skip normalized data
80  DF NA count: 240 65 DF Values count: 144 done
94  skip normalized data
80  DF NA count: 260 65 DF Values count: 124 done
94  skip normalized data
80  DF NA count: 279 65 DF Values count: 105 done
94  skip normalized data
80  DF NA count: 299 65 DF Values count: 85 done
94  skip normalized data
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\ and 27.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\27.csv 27.csv FARS2screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\27_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\27_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\27_normalized.csv FARS2screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([90], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//27_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\27_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\27_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//3_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\3_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\3_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\3_normalized_zscore_list.csv
307  unzipped files 4.csv
36 foldername FARS2screenTargetMol

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.57
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              22.89
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             45.8
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      45.8
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.44
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        23.17
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       40
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         22
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7760       8000       7760       8400       8720       8080
6        8000       7680       8760       7800       8000       8040
7        7840       8520       8480       9040       7080       7240
8        8200       7520       9040       7120       7240       8520
9        7600       7880       7840       8080       8280       8080
10       8680       7640       8800       7760       8000       8000
11       8080       7840       7560       8600       8280       7920
12       7960       8120       9000       7320       8080       8440
13       7960       8280       8080       8400       8960       8800
14       8400       8040       8280       7920       8400       8120
15       8080       8480       7400       8360       7840       8640
16       7720       7480       7960       7840       9120       7440
17       7520       7760       7640       8520       7960       7600
18       8160       7760       7160       6840       7880       7320
19       7720       7840       7360       7360       7680       8160
20       7120       6680       7440       7600       7760       7720

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7600       7440       7800       7680  ...        7440        7520
6        8000       7720       8720       7920  ...        8840        8040
7        7040       9240       7160       7880  ...        7120        7640
8        8760       7800       8640       8120  ...        8360        7640
9        8720       8840       9040       9320  ...        8520        9200
10       9240       7680       8880       7640  ...        8560        7560
11       8520       8440       8680       8440  ...        8400        8440
12       8840       7760       8800       8240  ...        8200        8040
13       8000       8720       7800       8280  ...        8680        8440
14       7920       7640       8840       8280  ...        7840        7880
15       8640       8480       8760       8600  ...        9120        8560
16       8560       7720       8200       7640  ...        8360        8480
17       7920       8000       7760       7720  ...        7840        7880
18       7680       7840       7520       7320  ...        7360        7400
19       7400       7920       7800       7640  ...        8160        8440
20       7960       7120       6840       6720  ...        7040        6600

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         7320        7640        7600        7840        8440        7560
6         7880        7600        8160        7600        7440        6440
7         7200        7160        6880        7200        7320        7360
8         7760        7440        8240        7400        8240        6640
9         8440        7880        7280        7040        7440        7240
10        8400        7400        7400        7360        6720        6560
11        8800        8680        8760        9000        7720        7480
12        7920        7240        6960        6200        6400        5880
13        8160        8800        8200        9960        8480        8800
14        8720        8320        8200        7440        8000        6760
15        7840        8320        8040        8000        7720        8480
16        8560        7800        7960        7680        8120        7720
17        7800        8520        7680        8320        7840        8400
18        7160        7440        7560        7360        7240        6480
19        7600        8000        7680        8360        7960        8680
20        6520        6840        7360        6800        7960        9640

   Unnamed: 22 Unnamed: 23
5          800       46440
6          280       39920
7          840       53800
8          600       38640
9          800       47960
10        1480       37000
11         960       53000
12        1960       38760
13         600       46080
14        1800       40600
15         600       41400
16         680       38600
17         560       47640
18         520       45240
19         760       63840
20         680       49040

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6     0.12146   0.116425     0.133417   0.118313    0.12146   0.122089
7    0.118943   0.129641     0.129012   0.137823   0.106986   0.109503
8    0.124607   0.113908     0.137823   0.107615   0.109503   0.129641
9    0.115167   0.119572     0.118943   0.122719   0.125865   0.122719
10   0.132159   0.115796     0.134047   0.117684    0.12146    0.12146
11   0.122719   0.118943     0.114537     0.1309   0.125865   0.120201
12   0.120831   0.123348     0.137193   0.110761   0.122719   0.128383
13   0.120831   0.125865     0.122719   0.127753   0.136564   0.134047
14   0.127753   0.122089     0.125865   0.120201   0.127753   0.123348
15   0.122719   0.129012      0.11202   0.127124   0.118943   0.131529
16   0.117055   0.113279     0.120831   0.118943   0.139081   0.112649
17   0.113908   0.117684     0.115796   0.129641   0.120831   0.115167
18   0.123977   0.117684     0.108244    0.10321   0.119572   0.110761
19   0.117055   0.118943     0.111391   0.111391   0.116425   0.123977
20   0.107615   0.100692     0.112649   0.115167   0.117684   0.117055
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6     0.12146   0.117055   0.132788   0.120201  ...    0.134676    0.122089
7    0.106356   0.140969   0.108244   0.119572  ...    0.107615    0.115796
8    0.133417   0.118313   0.131529   0.123348  ...    0.127124    0.115796
9    0.132788   0.134676   0.137823   0.142228  ...    0.129641     0.14034
10   0.140969   0.116425   0.135305   0.115796  ...    0.130271    0.114537
11   0.129641   0.128383   0.132159   0.128383  ...    0.127753    0.128383
12   0.134676   0.117684   0.134047   0.125236  ...    0.124607    0.122089
13    0.12146   0.132788   0.118313   0.125865  ...    0.132159    0.128383
14   0.120201   0.115796   0.134676   0.125865  ...    0.118943    0.119572
15   0.131529   0.129012   0.133417     0.1309  ...    0.139081    0.130271
16   0.130271   0.117055   0.124607   0.115796  ...    0.127124    0.129012
17   0.120201    0.12146   0.117684   0.117055  ...    0.118943    0.119572
18   0.116425   0.118943   0.113908   0.110761  ...    0.111391     0.11202
19    0.11202   0.120201   0.118313   0.115796  ...    0.123977    0.128383
20   0.120831   0.107615    0.10321   0.101322  ...    0.106356    0.099434
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.119572    0.115167    0.123977    0.115167    0.112649    0.096916
7     0.108874    0.108244    0.103839    0.108874    0.110761    0.111391
8     0.117684    0.112649    0.125236     0.11202    0.125236    0.100063
9     0.128383    0.119572    0.110132    0.106356    0.112649    0.109503
10    0.127753     0.11202     0.11202    0.111391    0.101322    0.098804
11    0.134047    0.132159    0.133417    0.137193    0.117055    0.113279
12    0.120201    0.109503    0.105098     0.09314    0.096287    0.088106
13    0.123977    0.134047    0.124607    0.152297    0.129012    0.134047
14    0.132788    0.126495    0.124607    0.112649     0.12146    0.101951
15    0.118943    0.126495    0.122089     0.12146    0.117055    0.129012
16    0.130271    0.118313    0.120831    0.116425    0.123348    0.117055
17    0.118313    0.129641    0.116425    0.126495    0.118943    0.127753
18    0.108244    0.112649    0.114537    0.111391    0.109503    0.097546
19    0.115167     0.12146    0.116425    0.127124    0.120831    0.132159
20    0.098175     0.10321    0.111391     0.10258    0.120831    0.147262
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6          0.0    0.623663
7     0.008811    0.842039
8     0.005035    0.603524
9     0.008181    0.750157
10     0.01888    0.577722
11    0.010699    0.829452
12    0.026432    0.605412
13    0.005035    0.720579
14    0.023914    0.634361
15    0.005035    0.646948
16    0.006293    0.602895
17    0.004405    0.745123
18    0.003776    0.707363
19    0.007552         1.0
20    0.006293    0.767149
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.118943   0.129641     0.129012   0.137823   0.106986   0.109503
8    0.124607   0.113908     0.137823   0.107615   0.109503   0.129641
9    0.115167   0.119572     0.118943   0.122719   0.125865   0.122719
10   0.132159   0.115796     0.134047   0.117684    0.12146    0.12146
11   0.122719   0.118943     0.114537     0.1309   0.125865   0.120201
12   0.120831   0.123348     0.137193   0.110761   0.122719   0.128383
13   0.120831   0.125865     0.122719   0.127753   0.136564   0.134047
14   0.127753   0.122089     0.125865   0.120201   0.127753   0.123348
15   0.122719   0.129012      0.11202   0.127124   0.118943   0.131529
16   0.117055   0.113279     0.120831   0.118943   0.139081   0.112649
17   0.113908   0.117684     0.115796   0.129641   0.120831   0.115167
18   0.123977   0.117684     0.108244    0.10321   0.119572   0.110761
19   0.117055   0.118943     0.111391   0.111391   0.116425   0.123977
20   0.107615   0.100692     0.112649   0.115167   0.117684   0.117055
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//5_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\5_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\5_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\5_normalized_zscore_list.csv
307  unzipped files 6.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.37
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.4
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               47
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.4
2       NaN
3       NaN
4         4
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.66
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        22.29
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       45
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         05
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        7400       7560       6600       7040       6440       7120
6        7880       7280       7480       7320       7840       6440
7        7120       7040       6640       6440       6760       6600
8        7480       7080       6920       6920      19120       6880
9        7600       7560       7680       7720       7040       7360
10       7400       6840       7640       7000       7400       6960
11       7560       7240       7680       8360       7560       8000
12       7240       7240       8200       6920       7160       6920
13       8080       7640       7760       7840       8040       8000
14       7720       6440       6840       6840       7640       6560
15       7360       7520       7280       6880       7240       8840
16       7440       7120       7240       6240       6240       6840
17       6560       6560       7080       5640       7040       6920
18       6960       6680       6480       6280       6760       6520
19       7240       7080       6280       7080       7000       7240
20       6000       6080       6000       5840       6240       6360

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        6800       7000       7680       7080  ...        5800        6440
6        7800       7160       7000       6840  ...        7480        6960
7        6800       6440       6000       6480  ...        6600        6360
8        8000       7400       7160       7320  ...        7160        7480
9        6640       6720       6920       6880  ...        6520        6880
10       7440       7600       7360       7120  ...        7520        7040
11       6920       7000       7240       7000  ...        6280        6520
12       6960       6760       7360       6600  ...        7160        6080
13       7920       7760      31280       7960  ...        7320        7560
14       7120       6280       7160       6400  ...        6520        5960
15       7640       7360       7200       7200  ...        7040        7040
16       6880       6440       6640       6720  ...        6840        5800
17       7240       7440       7320       7360  ...        6920        6600
18       6480       6200       6960       6800  ...        6120        4920
19       7080       6840       6760       6480  ...        7080        7000
20       5960       5880       6240       6000  ...        6000        5760

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         6160        6640        6720        6120        6920        6760
6         7400        6480        6760        5920        5720        5600
7         5920        6280        6400        6640        5840        6760
8         7560        7040        7000        6280        6200        5280
9         6640        6640        6760        6560        6240        6480
10        7040        6520        7160        6600        6080        5280
11        7040        6720        6560        6800        6120        6640
12        6520        6160        6640        6040        5960        5040
13        7120        7360        7640        8120        7440        7240
14        5960        6080        6040        5320        5280        4960
15        6680        7480        6440        7920        7480        6640
16        6320        6560        6240        5160        6400        5520
17        6480        7120        7440        7400        7640        7760
18        6320        5920        6000        5880        6320        5680
19        7160        7000        6480        7400        6640        6720
20        5520        6080        5720        5720        8760        5840

   Unnamed: 22 Unnamed: 23
5          840       35800
6          480       34840
7          760       35920
8          760       34520
9          560       42120
10        1080       35000
11         520       45680
12        2000       33000
13         440       47640
14        2680       32320
15         520       38760
16        1840       36560
17         400       39880
18        1280       44200
19         480       40280
20        1240       43200

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6     0.15834   0.145639     0.149873   0.146486   0.157494   0.127858
7    0.142252   0.140559     0.132091   0.127858   0.134632   0.131245
8    0.149873   0.141406     0.138019   0.138019   0.396274   0.137172
9    0.152413   0.151566     0.154107   0.154953   0.140559   0.147333
10    0.14818   0.136325      0.15326   0.139712    0.14818   0.138865
11   0.151566   0.144793     0.154107   0.168501   0.151566   0.160881
12   0.144793   0.144793     0.165114   0.138019   0.143099   0.138019
13   0.162574    0.15326       0.1558   0.157494   0.161727   0.160881
14   0.154953   0.127858     0.136325   0.136325    0.15326   0.130398
15   0.147333    0.15072     0.145639   0.137172   0.144793   0.178662
16   0.149026   0.142252     0.144793   0.123624   0.123624   0.136325
17   0.130398   0.130398     0.141406   0.110923   0.140559   0.138019
18   0.138865   0.132938     0.128704   0.124471   0.134632   0.129551
19   0.144793   0.141406     0.124471   0.141406   0.139712   0.144793
20   0.118544   0.120237     0.118544   0.115157   0.123624   0.126164
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.156647   0.143099   0.139712   0.136325  ...    0.149873    0.138865
7    0.135478   0.127858   0.118544   0.128704  ...    0.131245    0.126164
8    0.160881    0.14818   0.143099   0.146486  ...    0.143099    0.149873
9    0.132091   0.133785   0.138019   0.137172  ...    0.129551    0.137172
10   0.149026   0.152413   0.147333   0.142252  ...     0.15072    0.140559
11   0.138019   0.139712   0.144793   0.139712  ...    0.124471    0.129551
12   0.138865   0.134632   0.147333   0.131245  ...    0.143099    0.120237
13   0.159187     0.1558   0.653683   0.160034  ...    0.146486    0.151566
14   0.142252   0.124471   0.143099   0.127011  ...    0.129551    0.117697
15    0.15326   0.147333   0.143946   0.143946  ...    0.140559    0.140559
16   0.137172   0.127858   0.132091   0.133785  ...    0.136325     0.11431
17   0.144793   0.149026   0.146486   0.147333  ...    0.138019    0.131245
18   0.128704   0.122777   0.138865   0.135478  ...    0.121084    0.095682
19   0.141406   0.136325   0.134632   0.128704  ...    0.141406    0.139712
20   0.117697   0.116003   0.123624   0.118544  ...    0.118544    0.113463
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6      0.14818    0.128704    0.134632     0.11685    0.112616    0.110076
7      0.11685    0.124471    0.127011    0.132091    0.115157    0.134632
8     0.151566    0.140559    0.139712    0.124471    0.122777    0.103302
9     0.132091    0.132091    0.134632    0.130398    0.123624    0.128704
10    0.140559    0.129551    0.143099    0.131245    0.120237    0.103302
11    0.140559    0.133785    0.130398    0.135478    0.121084    0.132091
12    0.129551    0.121931    0.132091     0.11939    0.117697    0.098222
13    0.142252    0.147333     0.15326    0.163421    0.149026    0.144793
14    0.117697    0.120237     0.11939    0.104149    0.103302    0.096528
15    0.132938    0.149873    0.127858    0.159187    0.149873    0.132091
16    0.125318    0.130398    0.123624    0.100762    0.127011    0.108383
17    0.128704    0.142252    0.149026     0.14818     0.15326      0.1558
18    0.125318     0.11685    0.118544    0.116003    0.125318     0.11177
19    0.143099    0.139712    0.128704     0.14818    0.132091    0.133785
20    0.108383    0.120237    0.112616    0.112616    0.176969    0.115157
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.001693    0.729043
7     0.007621    0.751905
8     0.007621    0.722269
9     0.003387     0.88315
10    0.014395     0.73243
11     0.00254     0.95851
12     0.03387    0.690093
13    0.000847         1.0
14    0.048264    0.675699
15     0.00254    0.812024
16    0.030483    0.765453
17         0.0    0.835732
18    0.018628     0.92718
19    0.001693      0.8442
20    0.017782    0.906012
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.142252   0.140559     0.132091   0.127858   0.134632   0.131245
8    0.149873   0.141406     0.138019   0.138019   0.396274   0.137172
9    0.152413   0.151566     0.154107   0.154953   0.140559   0.147333
10    0.14818   0.136325      0.15326   0.139712    0.14818   0.138865
11   0.151566   0.144793     0.154107   0.168501   0.151566   0.160881
12   0.144793   0.144793     0.165114   0.138019   0.143099   0.138019
13   0.162574    0.15326       0.1558   0.157494   0.161727   0.160881
14   0.154953   0.127858     0.136325   0.136325    0.15326   0.130398
15   0.147333    0.15072     0.145639   0.137172   0.144793   0.178662
16   0.149026   0.142252     0.144793   0.123624   0.123624   0.136325
17   0.130398   0.130398     0.141406   0.110923   0.140559   0.138019
18   0.138865   0.132938     0.128704   0.124471   0.134632   0.129551
19   0.144793   0.141406     0.124471   0.141406   0.139712   0.144793
20   0.118544   0.120237     0.118544   0.115157   0.123624   0.126164
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.135478   0.127858   0.118544   0.128704  ...    0.131245    0.126164
8    0.160881    0.14818   0.143099   0.146486  ...    0.143099    0.149873
9    0.132091   0.133785   0.138019   0.137172  ...    0.129551    0.137172
10   0.149026   0.152413   0.147333   0.142252  ...     0.15072    0.140559
11   0.138019   0.139712   0.144793   0.139712  ...    0.124471    0.129551
12   0.138865   0.134632   0.147333   0.131245  ...    0.143099    0.120237
13   0.159187     0.1558   0.653683   0.160034  ...    0.146486    0.151566
14   0.142252   0.124471   0.143099   0.127011  ...    0.129551    0.117697
15    0.15326   0.147333   0.143946   0.143946  ...    0.140559    0.140559
16   0.137172   0.127858   0.132091   0.133785  ...    0.136325     0.11431
17   0.144793   0.149026   0.146486   0.147333  ...    0.138019    0.131245
18   0.128704   0.122777   0.138865   0.135478  ...    0.121084    0.095682
19   0.141406   0.136325   0.134632   0.128704  ...    0.141406    0.139712
20   0.117697   0.116003   0.123624   0.118544  ...    0.118544    0.113463
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2782        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7      0.11685    0.124471    0.127011    0.132091    0.115157    0.134632
8     0.151566    0.140559    0.139712    0.124471    0.122777    0.103302
9     0.132091    0.132091    0.134632    0.130398    0.123624    0.128704
10    0.140559    0.129551    0.143099    0.131245    0.120237    0.103302
11    0.140559    0.133785    0.130398    0.135478    0.121084    0.132091
12    0.129551    0.121931    0.132091     0.11939    0.117697    0.098222
13    0.142252    0.147333     0.15326    0.163421    0.149026    0.144793
14    0.117697    0.120237     0.11939    0.104149    0.103302    0.096528
15    0.132938    0.149873    0.127858    0.159187    0.149873    0.132091
16    0.125318    0.130398    0.123624    0.100762    0.127011    0.108383
17    0.128704    0.142252    0.149026     0.14818     0.15326      0.1558
18    0.125318     0.11685    0.118544    0.116003    0.125318     0.11177
19    0.143099    0.139712    0.128704     0.14818    0.132091    0.133785
20    0.108383    0.120237    0.112616    0.112616    0.176969    0.115157
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.007621    0.751905
8     0.007621    0.722269
9     0.003387     0.88315
10    0.014395     0.73243
11     0.00254     0.95851
12     0.03387    0.690093
13    0.000847         1.0
14    0.048264    0.675699
15     0.00254    0.812024
16    0.030483    0.765453
17         0.0    0.835732
18    0.018628     0.92718
19    0.001693      0.8442
20    0.017782    0.906012
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.149873   0.141406     0.138019   0.138019   0.396274   0.137172
9    0.152413   0.151566     0.154107   0.154953   0.140559   0.147333
10    0.14818   0.136325      0.15326   0.139712    0.14818   0.138865
11   0.151566   0.144793     0.154107   0.168501   0.151566   0.160881
12   0.144793   0.144793     0.165114   0.138019   0.143099   0.138019
13   0.162574    0.15326       0.1558   0.157494   0.161727   0.160881
14   0.154953   0.127858     0.136325   0.136325    0.15326   0.130398
15   0.147333    0.15072     0.145639   0.137172   0.144793   0.178662
16   0.149026   0.142252     0.144793   0.123624   0.123624   0.136325
17   0.130398   0.130398     0.141406   0.110923   0.140559   0.138019
18   0.138865   0.132938     0.128704   0.124471   0.134632   0.129551
19   0.144793   0.141406     0.124471   0.141406   0.139712   0.144793
20   0.118544   0.120237     0.118544   0.115157   0.123624   0.126164
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.160881    0.14818   0.143099   0.146486  ...    0.143099    0.149873
9    0.132091   0.133785   0.138019   0.137172  ...    0.129551    0.137172
10   0.149026   0.152413   0.147333   0.142252  ...     0.15072    0.140559
11   0.138019   0.139712   0.144793   0.139712  ...    0.124471    0.129551
12   0.138865   0.134632   0.147333   0.131245  ...    0.143099    0.120237
13   0.159187     0.1558   0.653683   0.160034  ...    0.146486    0.151566
14   0.142252   0.124471   0.143099   0.127011  ...    0.129551    0.117697
15    0.15326   0.147333   0.143946   0.143946  ...    0.140559    0.140559
16   0.137172   0.127858   0.132091   0.133785  ...    0.136325     0.11431
17   0.144793   0.149026   0.146486   0.147333  ...    0.138019    0.131245
18   0.128704   0.122777   0.138865   0.135478  ...    0.121084    0.095682
19   0.141406   0.136325   0.134632   0.128704  ...    0.141406    0.139712
20   0.117697   0.116003   0.123624   0.118544  ...    0.118544    0.113463
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2782        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          4         43  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.151566    0.140559    0.139712    0.124471    0.122777    0.103302
9     0.132091    0.132091    0.134632    0.130398    0.123624    0.128704
10    0.140559    0.129551    0.143099    0.131245    0.120237    0.103302
11    0.140559    0.133785    0.130398    0.135478    0.121084    0.132091
12    0.129551    0.121931    0.132091     0.11939    0.117697    0.098222
13    0.142252    0.147333     0.15326    0.163421    0.149026    0.144793
14    0.117697    0.120237     0.11939    0.104149    0.103302    0.096528
15    0.132938    0.149873    0.127858    0.159187    0.149873    0.132091
16    0.125318    0.130398    0.123624    0.100762    0.127011    0.108383
17    0.128704    0.142252    0.149026     0.14818     0.15326      0.1558
18    0.125318     0.11685    0.118544    0.116003    0.125318     0.11177
19    0.143099    0.139712    0.128704     0.14818    0.132091    0.133785
20    0.108383    0.120237    0.112616    0.112616    0.176969    0.115157
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8     0.007621    0.722269
9     0.003387     0.88315
10    0.014395     0.73243
11     0.00254     0.95851
12     0.03387    0.690093
13    0.000847         1.0
14    0.048264    0.675699
15     0.00254    0.812024
16    0.030483    0.765453
17         0.0    0.835732
18    0.018628     0.92718
19    0.001693      0.8442
20    0.017782    0.906012
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.152413   0.151566     0.154107   0.154953   0.140559   0.147333
10    0.14818   0.136325      0.15326   0.139712    0.14818   0.138865
11   0.151566   0.144793     0.154107   0.168501   0.151566   0.160881
12   0.144793   0.144793     0.165114   0.138019   0.143099   0.138019
13   0.162574    0.15326       0.1558   0.157494   0.161727   0.160881
14   0.154953   0.127858     0.136325   0.136325    0.15326   0.130398
15   0.147333    0.15072     0.145639   0.137172   0.144793   0.178662
16   0.149026   0.142252     0.144793   0.123624   0.123624   0.136325
17   0.130398   0.130398     0.141406   0.110923   0.140559   0.138019
18   0.138865   0.132938     0.128704   0.124471   0.134632   0.129551
19   0.144793   0.141406     0.124471   0.141406   0.139712   0.144793
20   0.118544   0.120237     0.118544   0.115157   0.123624   0.126164
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.132091   0.133785   0.138019   0.137172  ...    0.129551    0.137172
10   0.149026   0.152413   0.147333   0.142252  ...     0.15072    0.140559
11   0.138019   0.139712   0.144793   0.139712  ...    0.124471    0.129551
12   0.138865   0.134632   0.147333   0.131245  ...    0.143099    0.120237
13   0.159187     0.1558   0.653683   0.160034  ...    0.146486    0.151566
14   0.142252   0.124471   0.143099   0.127011  ...    0.129551    0.117697
15    0.15326   0.147333   0.143946   0.143946  ...    0.140559    0.140559
16   0.137172   0.127858   0.132091   0.133785  ...    0.136325     0.11431
17   0.144793   0.149026   0.146486   0.147333  ...    0.138019    0.131245
18   0.128704   0.122777   0.138865   0.135478  ...    0.121084    0.095682
19   0.141406   0.136325   0.134632   0.128704  ...    0.141406    0.139712
20   0.117697   0.116003   0.123624   0.118544  ...    0.118544    0.113463
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2782        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          4         43  ...         NaN         NaN

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//7_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\7_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\7_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\7_normalized_zscore_list.csv
307  unzipped files 8.csv
36 foldername FARS2screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.41
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.28
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.3
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.3
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.97
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       50
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         59
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        8680       8800       9760      10040       8920       8680
6        8200       8600       8480       8760       8560       6960
7        8760       8880       8280       9160       7520       6280
8        8400       8240       9280       7560       8240       7760
9        8680       9920       8920       9720       9680       9680
10       8920       7600       9000       8040       8960       9040
11       8400       9520       8320       8760      10120       9880
12       8640       8080       8680       7880       8760       8480
13       8040       8600       9200       9640       9680       9200
14       8920       8400       9120       8600       9000       8560
15       8200       8520       7680       9440       8720       8640
16       7920       8120       8200       8040       8440       8600
17       7720       7920       7960       8040       7800       8760
18       7880       7720       8120       7360       8280       7480
19       7560       8760       8120       9000       8560       8680
20       7680       6800       8080       7400       8000       7400

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7880       8120       8840       9600  ...        8320        9000
6        8320       8920       8160       7680  ...        8720        7200
7        7600       7920       8040       8120  ...        8280        8080
8        8800       8000       8800       7920  ...        8720        7800
9        9360       9520       8440       8560  ...        8760        8560
10       9160       9000       8920       8520  ...        8240        8680
11       7320       9960       8880       9800  ...        8600        9320
12       9320       8520       9080       8960  ...        9200        7960
13       8840       9960       9360       9040  ...        9520        9560
14       9000       8480       9360       8280  ...        8440        8160
15       8520       9000       9040       8560  ...        8880        8640
16       8800       7920       8400       7720  ...        8200        7760
17       7480       8560       8080       8000  ...        8520        7960
18       7920       7320       8280       7280  ...        8000        7320
19       7800       8880       9040       8200  ...        7400        8160
20       8040       7600       7680       7160  ...        7720        7040

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         8880        8360        7640        8560        7480        8000
6         8520        8000        8560        7600        8080        7400
7         7160        7760        8040        8040        7640        7320
8         8760        7720        8680        8000        8520        6320
9         8200        8280        7520        8320        7760        7240
10        8640        8640        8280        7800        8560        7560
11        9160        9040        8280        9200        8160        8600
12        8720        8960        8880        8360        9040        8200
13        8360        8960        8920        9320        8240        8320
14        8280        8560        8440        7840       11400        7720
15        8120        8480        7680        8280        7480        7800
16        8040        7600        8160        8280        7640        7040
17        7800        7920        8000        7280        7520        7920
18        7840        7320        7960        7280        7840        7440
19        7400        8120        7360        8400        7160        8040
20        7520        7400        7720        7680        7360        5680

   Unnamed: 22 Unnamed: 23
5          560       51880
6          640       56720
7         1000       61440
8          840       58040
9          480       62720
10         520       61640
11         440       62840
12         640       66360
13         680       61320
14         520       63080
15         680       71160
16         560       64840
17         560       64000
18         720       68680
19         480       70840
20         560       62920

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.109729   0.115385     0.113688   0.117647   0.114819   0.092195
7    0.117647   0.119344      0.11086   0.123303   0.100113   0.082579
8    0.112557   0.110294        0.125   0.100679   0.110294   0.103507
9    0.116516    0.13405      0.11991   0.131222   0.130656   0.130656
10    0.11991   0.101244     0.121041   0.107466   0.120475   0.121606
11   0.112557   0.128394     0.111425   0.117647   0.136878   0.133484
12    0.11595   0.108032     0.116516   0.105204   0.117647   0.113688
13   0.107466   0.115385     0.123869    0.13009   0.130656   0.123869
14    0.11991   0.112557     0.122738   0.115385   0.121041   0.114819
15   0.109729   0.114253     0.102376   0.127262   0.117081    0.11595
16   0.105769   0.108597     0.109729   0.107466   0.113122   0.115385
17   0.102941   0.105769     0.106335   0.107466   0.104072   0.117647
18   0.105204   0.102941     0.108597   0.097851    0.11086   0.099548
19   0.100679   0.117647     0.108597   0.121041   0.114819   0.116516
20   0.102376   0.089932     0.108032   0.098416     0.1069   0.098416
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.111425    0.11991   0.109163   0.102376  ...    0.117081    0.095588
7    0.101244   0.105769   0.107466   0.108597  ...     0.11086    0.108032
8    0.118213     0.1069   0.118213   0.105769  ...    0.117081    0.104072
9    0.126131   0.128394   0.113122   0.114819  ...    0.117647    0.114819
10   0.123303   0.121041    0.11991   0.114253  ...    0.110294    0.116516
11   0.097285   0.134615   0.119344   0.132353  ...    0.115385    0.125566
12   0.125566   0.114253   0.122172   0.120475  ...    0.123869    0.106335
13   0.118778   0.134615   0.126131   0.121606  ...    0.128394    0.128959
14   0.121041   0.113688   0.126131    0.11086  ...    0.113122    0.109163
15   0.114253   0.121041   0.121606   0.114819  ...    0.119344     0.11595
16   0.118213   0.105769   0.112557   0.102941  ...    0.109729    0.103507
17   0.099548   0.114819   0.108032     0.1069  ...    0.114253    0.106335
18   0.105769   0.097285    0.11086   0.096719  ...      0.1069    0.097285
19   0.104072   0.119344   0.121606   0.109729  ...    0.098416    0.109163
20   0.107466   0.101244   0.102376   0.095023  ...    0.102941    0.093326
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.114253      0.1069    0.114819    0.101244    0.108032    0.098416
7     0.095023    0.103507    0.107466    0.107466     0.10181    0.097285
8     0.117647    0.102941    0.116516      0.1069    0.114253    0.083145
9     0.109729     0.11086    0.100113    0.111425    0.103507    0.096154
10     0.11595     0.11595     0.11086    0.104072    0.114819    0.100679
11    0.123303    0.121606     0.11086    0.123869    0.109163    0.115385
12    0.117081    0.120475    0.119344    0.111991    0.121606    0.109729
13    0.111991    0.120475     0.11991    0.125566    0.110294    0.111425
14     0.11086    0.114819    0.113122    0.104638    0.154977    0.102941
15    0.108597    0.113688    0.102376     0.11086    0.099548    0.104072
16    0.107466    0.101244    0.109163     0.11086     0.10181    0.093326
17    0.104072    0.105769      0.1069    0.096719    0.100113    0.105769
18    0.104638    0.097285    0.106335    0.096719    0.104638    0.098982
19    0.098416    0.108597    0.097851    0.112557    0.095023    0.107466
20    0.100113    0.098416    0.102941    0.102376    0.097851    0.074095
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.002828    0.795814
7     0.007919    0.862557
8     0.005656     0.81448
9     0.000566    0.880656
10    0.001131    0.865385
11         0.0    0.882353
12    0.002828    0.932127
13    0.003394     0.86086
14    0.001131    0.885747
15    0.003394         1.0
16    0.001697    0.910633
17    0.001697    0.898756
18    0.003959    0.964932
19    0.000566    0.995475
20    0.001697    0.883484
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.117647   0.119344      0.11086   0.123303   0.100113   0.082579
8    0.112557   0.110294        0.125   0.100679   0.110294   0.103507
9    0.116516    0.13405      0.11991   0.131222   0.130656   0.130656
10    0.11991   0.101244     0.121041   0.107466   0.120475   0.121606
11   0.112557   0.128394     0.111425   0.117647   0.136878   0.133484
12    0.11595   0.108032     0.116516   0.105204   0.117647   0.113688
13   0.107466   0.115385     0.123869    0.13009   0.130656   0.123869
14    0.11991   0.112557     0.122738   0.115385   0.121041   0.114819
15   0.109729   0.114253     0.102376   0.127262   0.117081    0.11595
16   0.105769   0.108597     0.109729   0.107466   0.113122   0.115385
17   0.102941   0.105769     0.106335   0.107466   0.104072   0.117647
18   0.105204   0.102941     0.108597   0.097851    0.11086   0.099548
19   0.100679   0.117647     0.108597   0.121041   0.114819   0.116516
20   0.102376   0.089932     0.108032   0.098416     0.1069   0.098416
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.101244   0.105769   0.107466   0.108597  ...     0.11086    0.108032
8    0.118213     0.1069   0.118213   0.105769  ...    0.117081    0.104072
9    0.126131   0.128394   0.113122   0.114819  ...    0.117647    0.114819
10   0.123303   0.121041    0.11991   0.114253  ...    0.110294    0.116516
11   0.097285   0.134615   0.119344   0.132353  ...    0.115385    0.125566
12   0.125566   0.114253   0.122172   0.120475  ...    0.123869    0.106335
13   0.118778   0.134615   0.126131   0.121606  ...    0.128394    0.128959
14   0.121041   0.113688   0.126131    0.11086  ...    0.113122    0.109163
15   0.114253   0.121041   0.121606   0.114819  ...    0.119344     0.11595
16   0.118213   0.105769   0.112557   0.102941  ...    0.109729    0.103507
17   0.099548   0.114819   0.108032     0.1069  ...    0.114253    0.106335
18   0.105769   0.097285    0.11086   0.096719  ...      0.1069    0.097285
19   0.104072   0.119344   0.121606   0.109729  ...    0.098416    0.109163
20   0.107466   0.101244   0.102376   0.095023  ...    0.102941    0.093326
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2784        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.095023    0.103507    0.107466    0.107466     0.10181    0.097285
8     0.117647    0.102941    0.116516      0.1069    0.114253    0.083145
9     0.109729     0.11086    0.100113    0.111425    0.103507    0.096154
10     0.11595     0.11595     0.11086    0.104072    0.114819    0.100679
11    0.123303    0.121606     0.11086    0.123869    0.109163    0.115385
12    0.117081    0.120475    0.119344    0.111991    0.121606    0.109729
13    0.111991    0.120475     0.11991    0.125566    0.110294    0.111425
14     0.11086    0.114819    0.113122    0.104638    0.154977    0.102941
15    0.108597    0.113688    0.102376     0.11086    0.099548    0.104072
16    0.107466    0.101244    0.109163     0.11086     0.10181    0.093326
17    0.104072    0.105769      0.1069    0.096719    0.100113    0.105769
18    0.104638    0.097285    0.106335    0.096719    0.104638    0.098982
19    0.098416    0.108597    0.097851    0.112557    0.095023    0.107466
20    0.100113    0.098416    0.102941    0.102376    0.097851    0.074095
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.007919    0.862557
8     0.005656     0.81448
9     0.000566    0.880656
10    0.001131    0.865385
11         0.0    0.882353
12    0.002828    0.932127
13    0.003394     0.86086
14    0.001131    0.885747
15    0.003394         1.0
16    0.001697    0.910633
17    0.001697    0.898756
18    0.003959    0.964932
19    0.000566    0.995475
20    0.001697    0.883484
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.112557   0.110294        0.125   0.100679   0.110294   0.103507

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\//9_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\9_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\9_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([90], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\FARS2screenTargetMol\FARS2screenTargetMol\\!completed\FARS2screenTargetMol
foldername: FARS2screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\FARS2screenTargetMol\9_normalized_zscore_list.csv
297  unzipped folder SURF1screenTargetMol SURF1screenTargetMol
299  unzipped folder final C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\
278  folder making C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\
302  unzipped folder list ['1.csv', '10.csv', '11.csv', '12.csv', '13.csv', '14.csv', '15.csv', '16.csv', '17.csv', '18.csv', '19.csv', '2.csv', '20.csv', '21.csv', '22.csv', '23.csv', '24.csv', '25.csv', '26.csv', '27.csv', '3.csv', '4.csv', '5.csv', '6.csv', '7.csv', '8.csv', '9.csv']
307  unzipped files 1.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.77
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              22.99
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             45.1
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      45.8
2       NaN
3       NaN
4        20
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      23.44
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        23.37
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       07
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         00
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\ and 1.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\1.csv 1.csv SURF1screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\1_normalized.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\1_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\1_normalized.csv SURF1screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//1_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\1_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\1_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\1_normalized_zscore_list.csv
307  unzipped files 10.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             47.5
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       47
2      NaN
3      NaN
4       20
      ...
115    NaN
116    NaN
117    NaN
118    out
119    NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.46
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.38
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       26
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         20
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\11_normalized_zscore_list.csv
307  unzipped files 12.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.88
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             47.4
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.5
2       NaN
3       NaN
4        12
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.36
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.29
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       30
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         48
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       14080      14520      13960      14320      15800      16520
6       14120      13760      15400      14400      14520      17360
7       13080      14120      13840      15440      14040      15320
8       13720      13400      15080      14640      16240      16800
9       13920      13440      13520      15400      15400      17160
10      15040      14000      14560      10200      15600      16080
11      13360      14760      14320      16080      15840      12640
12      13440      14000      15280      14560      15680      16080
13      13640      14440      14720      12080      12520      15960
14      14480      13680      16080      13600      17360      15280
15      12720      13520      12160      16320      14960      14800
16      12880      13080      14880      13760      15240      14440
17      12160      12560      11400      12920      13480      13840
18      12480      11400      13120      12360      13880      13800
19      11840      13360      14480      12560      13520      14400
20      11200      11040      12080      11400      13200      12200

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       16560      14280      16520      15480  ...       14560       14680
6       18400      16360      17600      18000  ...       17080       14960
7       12880      15480      14960      17120  ...       15040       16280
8       15880      15280      17400      15520  ...       16800       14600
9       10200      17240      16800      17320  ...       16920       16360
10      17280      16120      17480      16640  ...       19120       17560
11      15080      16280      15960      15520  ...       12640       16880
12      17320      16000      16360       8920  ...       17200       15040
13      12160      16560      16320      18600  ...       15680       15240
14      16240      14680      14920      14840  ...       15920       15440
15      14880      14520      15560      16080  ...       13880       13120
16      15800      12240      15480      13760  ...       15880       14720
17      13800      14560      13440      14520  ...       13680       15760
18      14480      14080      58360      11440  ...       15320       13080
19      13960      13680      14280      13560  ...       10720       14360
20      12360      12200      12080      12640  ...       13720       12320

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        15120       11840       12000       15120       13360       13560
6        16200       15000       15680       11200       12640       13400
7        14960       13680       13240       14280       14120       14160
8        15600       14400       14960       13360       14240       16120
9        15920       15680       14160       11200       15200       14320
10       11480       15400       17200       14440       15040       13200
11       11000       17240       11400       15680       11880       13720
12       13920       16080       14720       13320       15080       14280
13       14560       16400       16880       15840       14800       15320
14       13320       20440       17680       15600       17120       13720
15       14160       16080       14800       15200       13840       13440
16       15640       13960       17000       12880       13600       12720
17       15200       13000       14320        7240       12320       12360
18       12880       13240       13560       13600       14040       11200
19       11040       15160       13720       14320       13240       11680
20       13400       12520       12560       12720       13080       10800

   Unnamed: 22 Unnamed: 23
5         1240       81040
6          840       67360
7         1240       85160
8          880       75120
9          880       87840
10         920       78760
11         880       96160
12         880       83560
13         960       90000
14         960       80680
15         760       93840
16         880       84640
17         680       91200
18         680       80280
19        1080       89680
20         880       87600

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.140762   0.136992     0.154168   0.143695   0.144952   0.174696
7     0.12987   0.140762      0.13783   0.154587   0.139925   0.153331
8    0.136573   0.133222     0.150817   0.146209   0.162966   0.168831
9    0.138668   0.133641     0.134478   0.154168   0.154168   0.172602
10   0.150398   0.139506     0.145371   0.099707   0.156263    0.16129
11   0.132803   0.147465     0.142857    0.16129   0.158777   0.125262
12   0.133641   0.139506     0.152912   0.145371   0.157101    0.16129
13   0.135735   0.144114     0.147047   0.119397   0.124005   0.160034
14   0.144533   0.136154      0.16129   0.135316   0.174696   0.152912
15     0.1261   0.134478     0.120235   0.163804    0.14956   0.147884
16   0.127775    0.12987     0.148722   0.136992   0.152493   0.144114
17   0.120235   0.124424     0.112275   0.128194   0.134059    0.13783
18   0.123586   0.112275     0.130289   0.122329   0.138249   0.137411
19   0.116883   0.132803     0.144533   0.124424   0.134478   0.143695
20    0.11018   0.108504     0.119397   0.112275   0.131127   0.120654
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.185589   0.164223    0.17721   0.181399  ...    0.171764     0.14956
7    0.127775   0.155006    0.14956   0.172183  ...    0.150398    0.163385
8    0.159196   0.152912   0.175115   0.155425  ...    0.168831     0.14579
9    0.099707   0.173439   0.168831   0.174277  ...    0.170088    0.164223
10   0.173858   0.161709   0.175953   0.167155  ...    0.193129    0.176791
11   0.150817   0.163385   0.160034   0.155425  ...    0.125262    0.169669
12   0.174277   0.160452   0.164223   0.086301  ...    0.173021    0.150398
13   0.120235   0.166318   0.163804   0.187683  ...    0.157101    0.152493
14   0.162966   0.146628   0.149141   0.148303  ...    0.159615    0.154587
15   0.148722   0.144952   0.155844    0.16129  ...    0.138249    0.130289
16   0.158358   0.121072   0.155006   0.136992  ...    0.159196    0.147047
17   0.137411   0.145371   0.133641   0.144952  ...    0.136154    0.157939
18   0.144533   0.140344   0.604106   0.112694  ...    0.153331     0.12987
19   0.139087   0.136154   0.142438   0.134897  ...    0.105153    0.143276
20   0.122329   0.120654   0.119397   0.125262  ...    0.136573     0.12191
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.162547    0.149979    0.157101     0.11018    0.125262    0.133222
7      0.14956    0.136154    0.131546    0.142438    0.140762    0.141181
8     0.156263    0.143695     0.14956    0.132803    0.142019    0.161709
9     0.159615    0.157101    0.141181     0.11018    0.152074    0.142857
10    0.113113    0.154168    0.173021    0.144114    0.150398    0.131127
11    0.108085    0.173439    0.112275    0.157101    0.117302    0.136573
12    0.138668     0.16129    0.147047    0.132384    0.150817    0.142438
13    0.145371    0.164642    0.169669    0.158777    0.147884    0.153331
14    0.132384    0.206954    0.178048    0.156263    0.172183    0.136573
15    0.141181     0.16129    0.147884    0.152074     0.13783    0.133641
16    0.156682    0.139087    0.170926    0.127775    0.135316      0.1261
17    0.152074    0.129032    0.142857    0.068705     0.12191    0.122329
18    0.127775    0.131546    0.134897    0.135316    0.139925     0.11018
19    0.108504    0.151655    0.136573    0.142857    0.131546    0.115207
20    0.133222    0.124005    0.124424      0.1261     0.12987    0.105991
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.001676    0.698366
7     0.005865    0.884793
8     0.002095     0.77964
9     0.002095    0.912861
10    0.002514    0.817763
11    0.002095         1.0
12    0.002095    0.868035
13    0.002933    0.935484
14    0.002933    0.837872
15    0.000838    0.975702
16    0.002095    0.879346
17         0.0    0.948052
18         0.0    0.833682
19    0.004189    0.932132
20    0.002095    0.910348
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7     0.12987   0.140762      0.13783   0.154587   0.139925   0.153331
8    0.136573   0.133222     0.150817   0.146209   0.162966   0.168831

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//12_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\12_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\12_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\12_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 13.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.46
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.18
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.91
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             47.8
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.8
2       NaN
3       NaN
4         4
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.17
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.19
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       32
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         53
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       12520      14280      13960      14600      14480      14520
6       14720      13880      15360       9600      15680      15200
7       13320      15080      12880      14560      13760      15560
8       12640      13280      13240      13680      12600      14960
9       11560      14200      14520      15280      14720      15400
10      13800      13400      13120      13160      12920      16360
11      12840      14960      13640      14920      15240      15360
12      14440      13240      14840      14280      12920      15520
13      14280      15200      14000      15560      13000      15920
14      14400      14760      14520      14960      15400      14960
15      13520      13920      13200      14760      13320      16680
16      12640      13120      14440       7840      14880      14400
17      11200      12880      12520      13480      15080      15400
18      13040      12040      13760      12600      15280      12960
19      12840      13080      12360      13960      13920      15680
20      12120      11680      12200      11600      11880      12920

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       13320      16040      14960      12640  ...       13880       15760
6       15720      14680      17120      15280  ...       16400       13760
7       13480      15760      14360      12160  ...       14600       13920
8       15480      14840      16240      14000  ...       15320       14800
9       15800      16800      15800      18760  ...       16280       14240
10      15400      15560      16360       9040  ...       17720       17560
11      14840      16800      16240      16760  ...       13920       17480
12      13680      12360      15840      15400  ...       16120       15480
13      15200      16000      16760      16280  ...       11320       16840
14      16880      13080      16800      14560  ...       15680       14480
15      16200      17080      16160      10920  ...        9840       16040
16      16280      15760      15040      14880  ...       15560       14520
17      12120      15640      11520      13760  ...       15400       15400
18      16720      13520      15480      13880  ...       15840       14600
19      15320      15600      15080      15400  ...       14400       16360
20      13720      12960      14040      13760  ...       13920       13520

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        12920       13720       12400       14480       13360       13600
6        15440       14680       15080       13760       15240       11760
7        14720       13640       13240       14320       12880       13000
8        14920       14720       15560       12880       15240       13240
9        16040       16680       15320       15400       14560       14120
10       15640       16880       17880       14520       15680       14160
11       15360       16600       14280       16440       14720       15040
12       17160       17440       17480       16280       13400       14360
13       16800       18480       17720       18160       14800       15560
14       12480       16360       16960       16280       17520        9640
15       16480       17760       16720       16640       15600       16240
16       17400       15960       17320       15000       16880       13800
17       15080       15360       15760       16680       12160       13160
18       15360       14680       15840       14480       14680       13280
19       14120       14520       16080       14760       13600       13440
20       16760       13000       13880       11640       13240       12320

   Unnamed: 22 Unnamed: 23
5         1040       99720
6          840       77800
7          960       95720
8          800       75040
9          760       87080
10         960       79520
11         840       89960
12         960       83520
13         800       94400
14        1080       79320
15         800       92840
16         680       81800
17         640       89200
18         640       76080
19         600       95480
20         520       84680

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.143145   0.134677     0.149597   0.091532   0.152823   0.147984
7    0.129032   0.146774     0.124597   0.141532   0.133468   0.151613
8    0.122177   0.128629     0.128226   0.132661   0.121774   0.145565
9     0.11129   0.137903     0.141129    0.14879   0.143145       0.15
10   0.133871   0.129839     0.127016   0.127419      0.125   0.159677
11   0.124194   0.145565     0.132258   0.145161   0.148387   0.149597
12   0.140323   0.128226     0.144355    0.13871      0.125    0.15121
13    0.13871   0.147984     0.135887   0.151613   0.125806   0.155242
14   0.139919   0.143548     0.141129   0.145565       0.15   0.145565
15   0.131048   0.135081     0.127823   0.143548   0.129032   0.162903
16   0.122177   0.127016     0.140323    0.07379   0.144758   0.139919
17   0.107661   0.124597     0.120968   0.130645   0.146774       0.15
18    0.12621   0.116129     0.133468   0.121774    0.14879   0.125403
19   0.124194   0.126613     0.119355   0.135484   0.135081   0.152823
20   0.116935     0.1125     0.117742   0.111694   0.114516      0.125
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.153226   0.142742   0.167339    0.14879  ...    0.160081    0.133468
7    0.130645   0.153629   0.139516   0.117339  ...    0.141935    0.135081
8    0.150806   0.144355   0.158468   0.135887  ...    0.149194    0.143952
9    0.154032   0.164113   0.154032   0.183871  ...    0.158871    0.138306
10       0.15   0.151613   0.159677   0.085887  ...    0.173387    0.171774
11   0.144355   0.164113   0.158468    0.16371  ...    0.135081    0.170968
12   0.132661   0.119355   0.154435       0.15  ...    0.157258    0.150806
13   0.147984   0.156048    0.16371   0.158871  ...    0.108871    0.164516
14   0.164919   0.126613   0.164113   0.141532  ...    0.152823    0.140726
15   0.158065   0.166935   0.157661   0.104839  ...    0.093952    0.156452
16   0.158871   0.153629   0.146371   0.144758  ...    0.151613    0.141129
17   0.116935   0.152419   0.110887   0.133468  ...        0.15        0.15
18   0.163306   0.131048   0.150806   0.134677  ...    0.154435    0.141935
19   0.149194   0.152016   0.146774       0.15  ...    0.139919    0.159677
20   0.133065   0.125403    0.13629   0.133468  ...    0.135081    0.131048
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.150403    0.142742    0.146774    0.133468    0.148387    0.113306
7     0.143145    0.132258    0.128226    0.139113    0.124597    0.125806
8     0.145161    0.143145    0.151613    0.124597    0.148387    0.128226
9     0.156452    0.162903    0.149194        0.15    0.141532    0.137097
10    0.152419    0.164919       0.175    0.141129    0.152823      0.1375
11    0.149597    0.162097     0.13871    0.160484    0.143145    0.146371
12    0.167742    0.170565    0.170968    0.158871    0.129839    0.139516
13    0.164113    0.181048    0.173387    0.177823    0.143952    0.151613
14    0.120565    0.159677    0.165726    0.158871    0.171371    0.091935
15    0.160887     0.17379    0.163306      0.1625    0.152016    0.158468
16    0.170161    0.155645    0.169355    0.145968    0.164919    0.133871
17    0.146774    0.149597    0.153629    0.162903    0.117339    0.127419
18    0.149597    0.142742    0.154435    0.140726    0.142742    0.128629
19    0.137097    0.141129    0.156855    0.143548    0.131855    0.130242
20     0.16371    0.125806    0.134677    0.112097    0.128226    0.118952
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.003226    0.779032
7     0.004435    0.959677
8     0.002823     0.75121
9     0.002419    0.872581
10    0.004435    0.796371
11    0.003226    0.901613
12    0.004435    0.836694
13    0.002823    0.946371
14    0.005645    0.794355
15    0.002823    0.930645
16    0.001613    0.819355
17     0.00121    0.893952
18     0.00121    0.761694
19    0.000806    0.957258
20         0.0    0.848387
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.129032   0.146774     0.124597   0.141532   0.133468   0.151613
8    0.122177   0.128629     0.128226   0.132661   0.121774   0.145565
9     0.11129   0.137903     0.141129    0.14879   0.143145       0.15
10   0.133871   0.129839     0.127016   0.127419      0.125   0.159677
11   0.124194   0.145565     0.132258   0.145161   0.148387   0.149597
12   0.140323   0.128226     0.144355    0.13871      0.125    0.15121
13    0.13871   0.147984     0.135887   0.151613   0.125806   0.155242
14   0.139919   0.143548     0.141129   0.145565       0.15   0.145565
15   0.131048   0.135081     0.127823   0.143548   0.129032   0.162903
16   0.122177   0.127016     0.140323    0.07379   0.144758   0.139919
17   0.107661   0.124597     0.120968   0.130645   0.146774       0.15
18    0.12621   0.116129     0.133468   0.121774    0.14879   0.125403
19   0.124194   0.126613     0.119355   0.135484   0.135081   0.152823
20   0.116935     0.1125     0.117742   0.111694   0.114516      0.125
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//14_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\14_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\14_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\14_normalized_zscore_list.csv
307  unzipped files 15.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.78
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               47
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.5
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.85
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.88
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       37
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         18
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       10120      10920       9760       9400       9600       9200
6        9400       8760       8720       8640       9080       8440
7        8960       9560       8320       8760       8160       9280
8        9040       8560       8640       7680       8360       7720
9        9120       8640       8120       8320       7520       8760
10       8400       8160       8040       7760       8400       8040
11       8040       8440       8360       8040       8520       8560
12       8680       8040       8280       7840       7840       7960
13       8840       8720       8920       8240       8600       8720
14       8600       7200       7360       6840       8160       7240
15       8280       9160       7920       8520       7720       9480
16       7600       6800       6440       6480       7680       6720
17       7880       7800       7240       8160       8360       8160
18       7960       7000       7760       6920       7360       7560
19       7000       8720       8200       8440       8120       8840
20       7720       7080       7360       7440       7800       7080

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        9800       9800       8880       9440  ...        8280        8680
6        9080       9200       8760       8160  ...        9120        7360
7        8360       8320       7760       8440  ...        7800        8080
8        8600       8680       7920       7400  ...        7520        8120
9        8760       7960       8080       8760  ...        8720        8880
10       8280       8000       7800       7640  ...        8800        8000
11       8520       9120       8400       9240  ...        9280        9240
12       7960       7920       7040       7560  ...        7840        7600
13       9160       9800       8800       9000  ...        8280        6600
14       8280       7120       7760       7520  ...        7400        7240
15       8760       9080       7880       7480  ...       10760        8880
16       6800       6840       7320       6760  ...        6920        6880
17       8080       8120       8080       8840  ...        7320        7720
18       6800       6600       6080       6680  ...        6640        6520
19       8600      10000       8960       9600  ...        8600        8480
20       7040       7320       7760       7080  ...        6680        6040

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         8880        8360        8600        8680        8120        8760
6         8080        7280        8640        8960        8040        7360
7         7280        8200        5800        8280        6760        8360
8         7880        6880        7400        7160        8120        6840
9         8480        8680        8360        9160        8600        8680
10        8240        7200        7640        7320        7720        6280
11        7840        8160        7760        8120        8640        8400
12        8040        7560        7960        8760        7720        7440
13        8160        8920        8760        9040       14880        8880
14        7360        6920        7640        8880        6480        6760
15        8240        8080        7000        8000        8240        8320
16        7120        7080        7560        6840        7040        6680
17        7000        6880        6120        6680        6840        7200
18        6040        6120        6400        6080        7200        5800
19        9200        9360        8000        8240        7000        8000
20        7040        6720        7160        7160        7280        6560

   Unnamed: 22 Unnamed: 23
5         1040       77600
6         1320       68120
7          960       72000
8         1200       65960
9          480       82080
10        2000       56000
11         680       79000
12        1160       68560
13         680       80040
14        1800       60080
15         560       79840
16        1360       64160
17         640       82000
18        4120       52880
19         520       85840
20        2720       73480

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.104499   0.097001     0.096532   0.095595    0.10075   0.093252
7    0.099344   0.106373     0.091846   0.097001   0.089972   0.103093
8    0.100281   0.094658     0.095595   0.084349   0.092315   0.084817
9    0.101218   0.095595     0.089503   0.091846   0.082474   0.097001
10   0.092784   0.089972     0.088566   0.085286   0.092784   0.088566
11   0.088566   0.093252     0.092315   0.088566   0.094189   0.094658
12   0.096064   0.088566     0.091378   0.086223   0.086223   0.087629
13   0.097938   0.096532     0.098875   0.090909   0.095127   0.096532
14   0.095127   0.078725       0.0806   0.074508   0.089972   0.079194
15   0.091378   0.101687      0.08716   0.094189   0.084817   0.105436
16   0.083411   0.074039     0.069822   0.070291   0.084349   0.073102
17   0.086692   0.085754     0.079194   0.089972   0.092315   0.089972
18   0.087629   0.076382     0.085286   0.075445     0.0806   0.082943
19   0.076382   0.096532      0.09044   0.093252   0.089503   0.097938
20   0.084817    0.07732       0.0806   0.081537   0.085754    0.07732
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6     0.10075   0.102156   0.097001   0.089972  ...    0.101218      0.0806
7    0.092315   0.091846   0.085286   0.093252  ...    0.085754    0.089035
8    0.095127   0.096064    0.08716   0.081068  ...    0.082474    0.089503
9    0.097001   0.087629   0.089035   0.097001  ...    0.096532    0.098407
10   0.091378   0.088097   0.085754    0.08388  ...     0.09747    0.088097
11   0.094189   0.101218   0.092784   0.102624  ...    0.103093    0.102624
12   0.087629    0.08716   0.076851   0.082943  ...    0.086223    0.083411
13   0.101687   0.109185    0.09747   0.099813  ...    0.091378    0.071696
14   0.091378   0.077788   0.085286   0.082474  ...    0.081068    0.079194
15   0.097001    0.10075   0.086692   0.082006  ...    0.120431    0.098407
16   0.074039   0.074508   0.080131   0.073571  ...    0.075445    0.074977
17   0.089035   0.089503   0.089035   0.097938  ...    0.080131    0.084817
18   0.074039   0.071696   0.065604   0.072634  ...    0.072165    0.070759
19   0.095127   0.111528   0.099344   0.106842  ...    0.095127    0.093721
20   0.076851   0.080131   0.085286    0.07732  ...    0.072634    0.065136
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.089035    0.079663    0.095595    0.099344    0.088566      0.0806
7     0.079663     0.09044    0.062324    0.091378    0.073571    0.092315
8     0.086692    0.074977    0.081068    0.078257    0.089503    0.074508
9     0.093721    0.096064    0.092315    0.101687    0.095127    0.096064
10    0.090909    0.078725     0.08388    0.080131    0.084817    0.067948
11    0.086223    0.089972    0.085286    0.089503    0.095595    0.092784
12    0.088566    0.082943    0.087629    0.097001    0.084817    0.081537
13    0.089972    0.098875    0.097001    0.100281    0.168697    0.098407
14      0.0806    0.075445     0.08388    0.098407    0.070291    0.073571
15    0.090909    0.089035    0.076382    0.088097    0.090909    0.091846
16    0.077788     0.07732    0.082943    0.074508    0.076851    0.072634
17    0.076382    0.074977    0.066073    0.072634    0.074508    0.078725
18    0.065136    0.066073    0.069353    0.065604    0.078725    0.062324
19    0.102156     0.10403    0.088097    0.090909    0.076382    0.088097
20    0.076851    0.073102    0.078257    0.078257    0.079663    0.071228
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.009841    0.792409
7     0.005623    0.837863
8     0.008435    0.767104
9          0.0    0.955951
10    0.017807    0.650422
11    0.002343    0.919869
12    0.007966    0.797563
13    0.002343    0.932052
14    0.015464    0.698219
15    0.000937    0.929709
16    0.010309    0.746017
17    0.001874    0.955014
18    0.042643    0.613871
19    0.000469         1.0
20    0.026242    0.855201
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.099344   0.106373     0.091846   0.097001   0.089972   0.103093
8    0.100281   0.094658     0.095595   0.084349   0.092315   0.084817
9    0.101218   0.095595     0.089503   0.091846   0.082474   0.097001
10   0.092784   0.089972     0.088566   0.085286   0.092784   0.088566
11   0.088566   0.093252     0.092315   0.088566   0.094189   0.094658
12   0.096064   0.088566     0.091378   0.086223   0.086223   0.087629
13   0.097938   0.096532     0.098875   0.090909   0.095127   0.096532
14   0.095127   0.078725       0.0806   0.074508   0.089972   0.079194
15   0.091378   0.101687      0.08716   0.094189   0.084817   0.105436
16   0.083411   0.074039     0.069822   0.070291   0.084349   0.073102
17   0.086692   0.085754     0.079194   0.089972   0.092315   0.089972
18   0.087629   0.076382     0.085286   0.075445     0.0806   0.082943
19   0.076382   0.096532      0.09044   0.093252   0.089503   0.097938
20   0.084817    0.07732       0.0806   0.081537   0.085754    0.07732
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.092315   0.091846   0.085286   0.093252  ...    0.085754    0.089035
8    0.095127   0.096064    0.08716   0.081068  ...    0.082474    0.089503
9    0.097001   0.087629   0.089035   0.097001  ...    0.096532    0.098407
10   0.091378   0.088097   0.085754    0.08388  ...     0.09747    0.088097
11   0.094189   0.101218   0.092784   0.102624  ...    0.103093    0.102624
12   0.087629    0.08716   0.076851   0.082943  ...    0.086223    0.083411
13   0.101687   0.109185    0.09747   0.099813  ...    0.091378    0.071696
14   0.091378   0.077788   0.085286   0.082474  ...    0.081068    0.079194
15   0.097001    0.10075   0.086692   0.082006  ...    0.120431    0.098407
16   0.074039   0.074508   0.080131   0.073571  ...    0.075445    0.074977
17   0.089035   0.089503   0.089035   0.097938  ...    0.080131    0.084817
18   0.074039   0.071696   0.065604   0.072634  ...    0.072165    0.070759
19   0.095127   0.111528   0.099344   0.106842  ...    0.095127    0.093721
20   0.076851   0.080131   0.085286    0.07732  ...    0.072634    0.065136
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2764        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.079663     0.09044    0.062324    0.091378    0.073571    0.092315
8     0.086692    0.074977    0.081068    0.078257    0.089503    0.074508
9     0.093721    0.096064    0.092315    0.101687    0.095127    0.096064
10    0.090909    0.078725     0.08388    0.080131    0.084817    0.067948
11    0.086223    0.089972    0.085286    0.089503    0.095595    0.092784
12    0.088566    0.082943    0.087629    0.097001    0.084817    0.081537
13    0.089972    0.098875    0.097001    0.100281    0.168697    0.098407
14      0.0806    0.075445     0.08388    0.098407    0.070291    0.073571
15    0.090909    0.089035    0.076382    0.088097    0.090909    0.091846
16    0.077788     0.07732    0.082943    0.074508    0.076851    0.072634
17    0.076382    0.074977    0.066073    0.072634    0.074508    0.078725
18    0.065136    0.066073    0.069353    0.065604    0.078725    0.062324
19    0.102156     0.10403    0.088097    0.090909    0.076382    0.088097
20    0.076851    0.073102    0.078257    0.078257    0.079663    0.071228
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.005623    0.837863
8     0.008435    0.767104
9          0.0    0.955951
10    0.017807    0.650422
11    0.002343    0.919869
12    0.007966    0.797563
13    0.002343    0.932052
14    0.015464    0.698219
15    0.000937    0.929709
16    0.010309    0.746017
17    0.001874    0.955014
18    0.042643    0.613871
19    0.000469         1.0
20    0.026242    0.855201
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.100281   0.094658     0.095595   0.084349   0.092315   0.084817
9    0.101218   0.095595     0.089503   0.091846   0.082474   0.097001
10   0.092784   0.089972     0.088566   0.085286   0.092784   0.088566
11   0.088566   0.093252     0.092315   0.088566   0.094189   0.094658
12   0.096064   0.088566     0.091378   0.086223   0.086223   0.087629
13   0.097938   0.096532     0.098875   0.090909   0.095127   0.096532
14   0.095127   0.078725       0.0806   0.074508   0.089972   0.079194
15   0.091378   0.101687      0.08716   0.094189   0.084817   0.105436
16   0.083411   0.074039     0.069822   0.070291   0.084349   0.073102
17   0.086692   0.085754     0.079194   0.089972   0.092315   0.089972
18   0.087629   0.076382     0.085286   0.075445     0.0806   0.082943
19   0.076382   0.096532      0.09044   0.093252   0.089503   0.097938
20   0.084817    0.07732       0.0806   0.081537   0.085754    0.07732
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.095127   0.096064    0.08716   0.081068  ...    0.082474    0.089503
9    0.097001   0.087629   0.089035   0.097001  ...    0.096532    0.098407
10   0.091378   0.088097   0.085754    0.08388  ...     0.09747    0.088097
11   0.094189   0.101218   0.092784   0.102624  ...    0.103093    0.102624
12   0.087629    0.08716   0.076851   0.082943  ...    0.086223    0.083411
13   0.101687   0.109185    0.09747   0.099813  ...    0.091378    0.071696
14   0.091378   0.077788   0.085286   0.082474  ...    0.081068    0.079194
15   0.097001    0.10075   0.086692   0.082006  ...    0.120431    0.098407
16   0.074039   0.074508   0.080131   0.073571  ...    0.075445    0.074977
17   0.089035   0.089503   0.089035   0.097938  ...    0.080131    0.084817
18   0.074039   0.071696   0.065604   0.072634  ...    0.072165    0.070759
19   0.095127   0.111528   0.099344   0.106842  ...    0.095127    0.093721
20   0.076851   0.080131   0.085286    0.07732  ...    0.072634    0.065136
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2764        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         35  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.086692    0.074977    0.081068    0.078257    0.089503    0.074508
9     0.093721    0.096064    0.092315    0.101687    0.095127    0.096064
10    0.090909    0.078725     0.08388    0.080131    0.084817    0.067948
11    0.086223    0.089972    0.085286    0.089503    0.095595    0.092784
12    0.088566    0.082943    0.087629    0.097001    0.084817    0.081537
13    0.089972    0.098875    0.097001    0.100281    0.168697    0.098407
14      0.0806    0.075445     0.08388    0.098407    0.070291    0.073571
15    0.090909    0.089035    0.076382    0.088097    0.090909    0.091846
16    0.077788     0.07732    0.082943    0.074508    0.076851    0.072634
17    0.076382    0.074977    0.066073    0.072634    0.074508    0.078725
18    0.065136    0.066073    0.069353    0.065604    0.078725    0.062324
19    0.102156     0.10403    0.088097    0.090909    0.076382    0.088097
20    0.076851    0.073102    0.078257    0.078257    0.079663    0.071228

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//16_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\16_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\16_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\16_normalized_zscore_list.csv
307  unzipped files 17.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.69
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.91
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.8
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.8
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.17
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.09
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       41
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         45
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       11760      12320      12320      12080      11200      11960
6       12760      11680      11680      12280      13040      12280
7       10600      12280       9200      12880      10360      11200
8       10520      10560      11240      11200      11000      11320
9       11360      11560      10600      10960      10840      11920
10      11840      10920      11360      10840       9280      10000
11      10880      12160      11920      11000      10440      11400
12      10320      11040      11480      11120      11680      10520
13      10040      12640      12680      12520      12520      12960
14      11080      10160       9280       8840      10520      10400
15      10160      11160      11640      12080      11360      12320
16      10480       9640      11080      10400      11400       9760
17       9080      11000      10240      11520      10040      10400
18       9760      10440      10480      10000      10680       9800
19      10480      11800      12200      11880      10720       9800
20      10000       9440      10800      10560      10680      10200

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       11920      11640       8440      11120  ...       10120       10960
6       12760      12680      12520      12720  ...       12040       11360
7       10800      11320      10640      11560  ...       10960        9480
8       11760      11440      12360      11160  ...       11760       11440
9       11800      11400      11560      11040  ...       10160       11000
10      11760       9520      11400      10600  ...       12120       10360
11      10960      11600      11040      11160  ...       11680       11000
12      10560      10920      10720      10680  ...        9440       10120
13      11680      10440      10600      10720  ...       10200       11520
14      11640      10480       9480      10360  ...        8080        9680
15      11600      10640      10800      11440  ...        9920       11080
16      11080       9800       9200       9880  ...        9640        8920
17       9880      10360      10000       9520  ...        8240        9960
18       9800      10320      10320      10040  ...        9520       10280
19       9400      11240      11000      11960  ...       12520       11840
20      10360      10400      10360      10560  ...        9960       10040

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        10360       11000       10520       10440        9240       10480
6        10360       10640       11880       10080        9680        9240
7        11040       11640       10440       10960        9480       10280
8        12560       10520       11640       10040        9600        8760
9        10640       11440        9760       11920       10600       10800
10       10840       10120       10120        9760       10120        8560
11       10480       10400       11160       11040        9760       10000
12       11160       10680       10240        8160        9240        8080
13        9960       12360       11320       10960       10920        9960
14        9960        9640       10200       10480        9680        8920
15       11040       11880       11040       11640       11120       11960

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.143635   0.130263     0.130263   0.137692   0.147103   0.137692
7     0.11689   0.137692     0.099554   0.145121   0.113918   0.124319
8    0.115899   0.116394     0.124814   0.124319   0.121842   0.125805
9      0.1263   0.128777      0.11689   0.121347   0.119861   0.133234
10   0.132244   0.120852       0.1263   0.119861   0.100545    0.10946
11   0.120357   0.136206     0.133234   0.121842   0.114908   0.126795
12   0.113422   0.122338     0.127786   0.123328   0.130263   0.115899
13   0.109955    0.14215     0.142645   0.140664   0.140664   0.146112
14   0.122833   0.111441     0.100545   0.095097   0.115899   0.114413
15   0.111441   0.123824     0.129767   0.135215     0.1263   0.138187
16   0.115404   0.105002     0.122833   0.114413   0.126795   0.106488
17   0.098068   0.121842     0.112432   0.128281   0.109955   0.114413
18   0.106488   0.114908     0.115404    0.10946    0.11788   0.106984
19   0.115404   0.131748     0.136701   0.132739   0.118375   0.106984
20    0.10946   0.102526     0.119366   0.116394    0.11788   0.111937
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.143635   0.142645   0.140664    0.14314  ...     0.13472      0.1263
7    0.119366   0.125805   0.117385   0.128777  ...    0.121347    0.103021
8    0.131253   0.127291   0.138683   0.123824  ...    0.131253    0.127291
9    0.131748   0.126795   0.128777   0.122338  ...    0.111441    0.121842
10   0.131253   0.103517   0.126795    0.11689  ...    0.135711    0.113918
11   0.121347   0.129272   0.122338   0.123824  ...    0.130263    0.121842
12   0.116394   0.120852   0.118375    0.11788  ...    0.102526    0.110946
13   0.130263   0.114908    0.11689   0.118375  ...    0.111937    0.128281
14   0.129767   0.115404   0.103021   0.113918  ...    0.085686    0.105498
15   0.129272   0.117385   0.119366   0.127291  ...     0.10847    0.122833
16   0.122833   0.106984   0.099554   0.107974  ...    0.105002    0.096087
17   0.107974   0.113918    0.10946   0.103517  ...    0.087667    0.108965
18   0.106984   0.113422   0.113422   0.109955  ...    0.103517    0.112927
19   0.102031   0.124814   0.121842    0.13373  ...    0.140664    0.132244
20   0.113918   0.114413   0.113918   0.116394  ...    0.108965    0.109955
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.113918    0.117385    0.132739    0.110451    0.105498     0.10005
7     0.122338    0.129767    0.114908    0.121347    0.103021    0.112927
8     0.141159    0.115899    0.129767    0.109955    0.104507    0.094106
9     0.117385    0.127291    0.106488    0.133234     0.11689    0.119366
10    0.119861    0.110946    0.110946    0.106488    0.110946     0.09163
11    0.115404    0.114413    0.123824    0.122338    0.106488     0.10946
12    0.123824     0.11788    0.112432    0.086677     0.10005    0.085686
13    0.108965    0.138683    0.125805    0.121347    0.120852    0.108965
14    0.108965    0.105002    0.111937    0.115404    0.105498    0.096087
15    0.122338    0.132739    0.122338    0.129767    0.123328     0.13373
16    0.102526    0.105498    0.110451    0.100545    0.111937    0.081228
17    0.102526    0.101535     0.10946    0.123824    0.089648    0.103517
18    0.115404    0.099554    0.106488    0.106984    0.098068    0.064884
19    0.119861    0.138683    0.121347    0.132244     0.12531    0.096087
20    0.107479    0.102526    0.106984    0.102031    0.097573    0.068846
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.013373    0.958891
7     0.003962    0.944527
8     0.020307    0.796929
9          0.0    0.952947
10    0.034175    0.835562
11    0.007925    0.800396
12    0.035166    0.741951
13    0.001981    0.791976
14    0.037147    0.663695
15    0.009906    0.919267
16    0.051015     0.75582
17    0.006934    0.639921
18    0.023279    0.750371
19    0.008915    0.789004
20    0.069837    0.853393
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7     0.11689   0.137692     0.099554   0.145121   0.113918   0.124319
8    0.115899   0.116394     0.124814   0.124319   0.121842   0.125805
9      0.1263   0.128777      0.11689   0.121347   0.119861   0.133234
10   0.132244   0.120852       0.1263   0.119861   0.100545    0.10946
11   0.120357   0.136206     0.133234   0.121842   0.114908   0.126795
12   0.113422   0.122338     0.127786   0.123328   0.130263   0.115899
13   0.109955    0.14215     0.142645   0.140664   0.140664   0.146112
14   0.122833   0.111441     0.100545   0.095097   0.115899   0.114413
15   0.111441   0.123824     0.129767   0.135215     0.1263   0.138187
16   0.115404   0.105002     0.122833   0.114413   0.126795   0.106488
17   0.098068   0.121842     0.112432   0.128281   0.109955   0.114413
18   0.106488   0.114908     0.115404    0.10946    0.11788   0.106984
19   0.115404   0.131748     0.136701   0.132739   0.118375   0.106984
20    0.10946   0.102526     0.119366   0.116394    0.11788   0.111937
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.119366   0.125805   0.117385   0.128777  ...    0.121347    0.103021
8    0.131253   0.127291   0.138683   0.123824  ...    0.131253    0.127291
9    0.131748   0.126795   0.128777   0.122338  ...    0.111441    0.121842
10   0.131253   0.103517   0.126795    0.11689  ...    0.135711    0.113918
11   0.121347   0.129272   0.122338   0.123824  ...    0.130263    0.121842
12   0.116394   0.120852   0.118375    0.11788  ...    0.102526    0.110946
13   0.130263   0.114908    0.11689   0.118375  ...    0.111937    0.128281
14   0.129767   0.115404   0.103021   0.113918  ...    0.085686    0.105498
15   0.129272   0.117385   0.119366   0.127291  ...     0.10847    0.122833
16   0.122833   0.106984   0.099554   0.107974  ...    0.105002    0.096087
17   0.107974   0.113918    0.10946   0.103517  ...    0.087667    0.108965
18   0.106984   0.113422   0.113422   0.109955  ...    0.103517    0.112927
19   0.102031   0.124814   0.121842    0.13373  ...    0.140664    0.132244
20   0.113918   0.114413   0.113918   0.116394  ...    0.108965    0.109955
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2766        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.122338    0.129767    0.114908    0.121347    0.103021    0.112927
8     0.141159    0.115899    0.129767    0.109955    0.104507    0.094106
9     0.117385    0.127291    0.106488    0.133234     0.11689    0.119366
10    0.119861    0.110946    0.110946    0.106488    0.110946     0.09163
11    0.115404    0.114413    0.123824    0.122338    0.106488     0.10946
12    0.123824     0.11788    0.112432    0.086677     0.10005    0.085686
13    0.108965    0.138683    0.125805    0.121347    0.120852    0.108965
14    0.108965    0.105002    0.111937    0.115404    0.105498    0.096087
15    0.122338    0.132739    0.122338    0.129767    0.123328     0.13373
16    0.102526    0.105498    0.110451    0.100545    0.111937    0.081228
17    0.102526    0.101535     0.10946    0.123824    0.089648    0.103517
18    0.115404    0.099554    0.106488    0.106984    0.098068    0.064884
19    0.119861    0.138683    0.121347    0.132244     0.12531    0.096087
20    0.107479    0.102526    0.106984    0.102031    0.097573    0.068846
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.003962    0.944527
8     0.020307    0.796929
9          0.0    0.952947
10    0.034175    0.835562
11    0.007925    0.800396
12    0.035166    0.741951
13    0.001981    0.791976
14    0.037147    0.663695
15    0.009906    0.919267
16    0.051015     0.75582
17    0.006934    0.639921
18    0.023279    0.750371
19    0.008915    0.789004
20    0.069837    0.853393
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.115899   0.116394     0.124814   0.124319   0.121842   0.125805
9      0.1263   0.128777      0.11689   0.121347   0.119861   0.133234
10   0.132244   0.120852       0.1263   0.119861   0.100545    0.10946
11   0.120357   0.136206     0.133234   0.121842   0.114908   0.126795
12   0.113422   0.122338     0.127786   0.123328   0.130263   0.115899
13   0.109955    0.14215     0.142645   0.140664   0.140664   0.146112
14   0.122833   0.111441     0.100545   0.095097   0.115899   0.114413
15   0.111441   0.123824     0.129767   0.135215     0.1263   0.138187
16   0.115404   0.105002     0.122833   0.114413   0.126795   0.106488
17   0.098068   0.121842     0.112432   0.128281   0.109955   0.114413
18   0.106488   0.114908     0.115404    0.10946    0.11788   0.106984
19   0.115404   0.131748     0.136701   0.132739   0.118375   0.106984
20    0.10946   0.102526     0.119366   0.116394    0.11788   0.111937
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.131253   0.127291   0.138683   0.123824  ...    0.131253    0.127291
9    0.131748   0.126795   0.128777   0.122338  ...    0.111441    0.121842
10   0.131253   0.103517   0.126795    0.11689  ...    0.135711    0.113918
11   0.121347   0.129272   0.122338   0.123824  ...    0.130263    0.121842
12   0.116394   0.120852   0.118375    0.11788  ...    0.102526    0.110946
13   0.130263   0.114908    0.11689   0.118375  ...    0.111937    0.128281
14   0.129767   0.115404   0.103021   0.113918  ...    0.085686    0.105498
15   0.129272   0.117385   0.119366   0.127291  ...     0.10847    0.122833
16   0.122833   0.106984   0.099554   0.107974  ...    0.105002    0.096087
17   0.107974   0.113918    0.10946   0.103517  ...    0.087667    0.108965
18   0.106984   0.113422   0.113422   0.109955  ...    0.103517    0.112927
19   0.102031   0.124814   0.121842    0.13373  ...    0.140664    0.132244
20   0.113918   0.114413   0.113918   0.116394  ...    0.108965    0.109955
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2766        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         40  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.141159    0.115899    0.129767    0.109955    0.104507    0.094106
9     0.117385    0.127291    0.106488    0.133234     0.11689    0.119366
10    0.119861    0.110946    0.110946    0.106488    0.110946     0.09163
11    0.115404    0.114413    0.123824    0.122338    0.106488     0.10946
12    0.123824     0.11788    0.112432    0.086677     0.10005    0.085686
13    0.108965    0.138683    0.125805    0.121347    0.120852    0.108965
14    0.108965    0.105002    0.111937    0.115404    0.105498    0.096087
15    0.122338    0.132739    0.122338    0.129767    0.123328     0.13373
16    0.102526    0.105498    0.110451    0.100545    0.111937    0.081228
17    0.102526    0.101535     0.10946    0.123824    0.089648    0.103517
18    0.115404    0.099554    0.106488    0.106984    0.098068    0.064884
19    0.119861    0.138683    0.121347    0.132244     0.12531    0.096087
20    0.107479    0.102526    0.106984    0.102031    0.097573    0.068846
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8     0.020307    0.796929
9          0.0    0.952947
10    0.034175    0.835562
11    0.007925    0.800396
12    0.035166    0.741951
13    0.001981    0.791976
14    0.037147    0.663695
15    0.009906    0.919267
16    0.051015     0.75582
17    0.006934    0.639921
18    0.023279    0.750371
19    0.008915    0.789004
20    0.069837    0.853393
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9      0.1263   0.128777      0.11689   0.121347   0.119861   0.133234
10   0.132244   0.120852       0.1263   0.119861   0.100545    0.10946
11   0.120357   0.136206     0.133234   0.121842   0.114908   0.126795
12   0.113422   0.122338     0.127786   0.123328   0.130263   0.115899
13   0.109955    0.14215     0.142645   0.140664   0.140664   0.146112
14   0.122833   0.111441     0.100545   0.095097   0.115899   0.114413
15   0.111441   0.123824     0.129767   0.135215     0.1263   0.138187
16   0.115404   0.105002     0.122833   0.114413   0.126795   0.106488
17   0.098068   0.121842     0.112432   0.128281   0.109955   0.114413
18   0.106488   0.114908     0.115404    0.10946    0.11788   0.106984
19   0.115404   0.131748     0.136701   0.132739   0.118375   0.106984
20    0.10946   0.102526     0.119366   0.116394    0.11788   0.111937
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.131748   0.126795   0.128777   0.122338  ...    0.111441    0.121842
10   0.131253   0.103517   0.126795    0.11689  ...    0.135711    0.113918
11   0.121347   0.129272   0.122338   0.123824  ...    0.130263    0.121842
12   0.116394   0.120852   0.118375    0.11788  ...    0.102526    0.110946
13   0.130263   0.114908    0.11689   0.118375  ...    0.111937    0.128281
14   0.129767   0.115404   0.103021   0.113918  ...    0.085686    0.105498
15   0.129272   0.117385   0.119366   0.127291  ...     0.10847    0.122833
16   0.122833   0.106984   0.099554   0.107974  ...    0.105002    0.096087
17   0.107974   0.113918    0.10946   0.103517  ...    0.087667    0.108965
18   0.106984   0.113422   0.113422   0.109955  ...    0.103517    0.112927
19   0.102031   0.124814   0.121842    0.13373  ...    0.140664    0.132244
20   0.113918   0.114413   0.113918   0.116394  ...    0.108965    0.109955
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2766        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         40  ...         NaN         NaN
24        NaN  7/26/2023          3         41  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9     0.117385    0.127291    0.106488    0.133234     0.11689    0.119366
10    0.119861    0.110946    0.110946    0.106488    0.110946     0.09163
11    0.115404    0.114413    0.123824    0.122338    0.106488     0.10946
12    0.123824     0.11788    0.112432    0.086677     0.10005    0.085686
13    0.108965    0.138683    0.125805    0.121347    0.120852    0.108965
14    0.108965    0.105002    0.111937    0.115404    0.105498    0.096087
15    0.122338    0.132739    0.122338    0.129767    0.123328     0.13373
16    0.102526    0.105498    0.110451    0.100545    0.111937    0.081228
17    0.102526    0.101535     0.10946    0.123824    0.089648    0.103517
18    0.115404    0.099554    0.106488    0.106984    0.098068    0.064884
19    0.119861    0.138683    0.121347    0.132244     0.12531    0.096087
20    0.107479    0.102526    0.106984    0.102031    0.097573    0.068846
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9          0.0    0.952947
10    0.034175    0.835562
11    0.007925    0.800396
12    0.035166    0.741951
13    0.001981    0.791976
14    0.037147    0.663695
15    0.009906    0.919267
16    0.051015     0.75582
17    0.006934    0.639921
18    0.023279    0.750371
19    0.008915    0.789004
20    0.069837    0.853393
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.132244   0.120852       0.1263   0.119861   0.100545    0.10946
11   0.120357   0.136206     0.133234   0.121842   0.114908   0.126795
12   0.113422   0.122338     0.127786   0.123328   0.130263   0.115899
13   0.109955    0.14215     0.142645   0.140664   0.140664   0.146112
14   0.122833   0.111441     0.100545   0.095097   0.115899   0.114413
15   0.111441   0.123824     0.129767   0.135215     0.1263   0.138187
16   0.115404   0.105002     0.122833   0.114413   0.126795   0.106488
17   0.098068   0.121842     0.112432   0.128281   0.109955   0.114413
18   0.106488   0.114908     0.115404    0.10946    0.11788   0.106984
19   0.115404   0.131748     0.136701   0.132739   0.118375   0.106984
20    0.10946   0.102526     0.119366   0.116394    0.11788   0.111937
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.131253   0.103517   0.126795    0.11689  ...    0.135711    0.113918
11   0.121347   0.129272   0.122338   0.123824  ...    0.130263    0.121842
12   0.116394   0.120852   0.118375    0.11788  ...    0.102526    0.110946
13   0.130263   0.114908    0.11689   0.118375  ...    0.111937    0.128281
14   0.129767   0.115404   0.103021   0.113918  ...    0.085686    0.105498
15   0.129272   0.117385   0.119366   0.127291  ...     0.10847    0.122833
16   0.122833   0.106984   0.099554   0.107974  ...    0.105002    0.096087
17   0.107974   0.113918    0.10946   0.103517  ...    0.087667    0.108965
18   0.106984   0.113422   0.113422   0.109955  ...    0.103517    0.112927
19   0.102031   0.124814   0.121842    0.13373  ...    0.140664    0.132244
20   0.113918   0.114413   0.113918   0.116394  ...    0.108965    0.109955
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2766        NaN        NaN  ...         NaN         NaN

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\18_normalized_zscore_list.csv
307  unzipped files 19.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.46
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.69
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.51
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             49.4
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      49.1
2       NaN
3       NaN
4        12
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.77
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1         21.7
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       47
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         00
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        8920       9280       8560       9320       9560       8880
6        9760       9560       9040       8520       9720       8960
7        8560       9440       8480       9440       8840       9320
8        9240       8520       8800       8280       9200       8880
9        9400       9440       8960       9240       9080       9760
10       9600       9280       9520       8920      10240       8920
11       9520       9720       9880       8160       9120      10080
12      10120       9080       9280       8160       9520       9600
13       9840      10280       9280      10800       9840       9440
14      10520       9400       9680       9680      10400       9440
15       9560      10280       9000      10280      10040       9720
16       9520       9400       9320       9480       9760       8880
17       9000       9520       8520       9400       9120       8960
18       9000       8920       8760       8160       9120       8480
19       7960       8200       8440       7920       9160      10320
20       7640       8360       8240       8040       8200       8440

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        7440       9120       8840      10240  ...        8680        9280
6        9600       9160      10240       9240  ...        9880        9320
7        9040       9440       9120       7720  ...        9200       10200
8       10480       9200       8400       9240  ...        9160        9480
9        9280       9480       9280       9680  ...        9840       10320
10       9640       9600      10760      10120  ...       10280        9280
11       9600      10280       9960      10040  ...        8720       10320
12       9920       9600      10480       9680  ...        8640        8840
13      10160      10120      10640      11320  ...        8160        9800
14       9520       9480       9080       9040  ...        9640        8760
15       9880      11200       9000      10040  ...       10360       10520
16       8520       8160       8520       8440  ...        9080        8200
17       8560       8080      10720       8960  ...        9320       10080
18       9080       8360       9560       8680  ...        8560        7080
19       9560       9840       9400       9760  ...        9120        9000
20       8520       8960      13800       8440  ...        8920        7960

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         8920        8880        9760        9760        9080       10160
6         8800        8240        8760        9040        9040        8280
7         7840       10360        9000        9320        8600        8520
8        10480        7720        9360        9360        8720        7440
9         9000        9880        9720        9760        9400        9400
10       10000        8440        9600        9080        9640        7200
11        8880       10040        9600       10440        9240        9040
12       10080        9080       10040        9640        9680        8840
13       10240        9200       10000       10200        9960       10280
14        9160        9320        9800       10120       10400        9960
15        9840       10400        8720        9720        9440       10880
16        9160        9000        8480        8760        9120        8960
17        9240        7840        8680        8800        9000       19160
18        9600        9160        9160        8920       10520        8200
19        8120       10600        9240       10600        9280        9040
20        8680        8440        8240        8200        8840        7920

   Unnamed: 22 Unnamed: 23
5          640       87960
6         1720       57000
7         1200       78600
8         1360       61000
9         1000       73680
10        1440       64040
11        1000       75080
12        1280       66880
13         840       74560
14         960       62160
15         800       80920
16        1080       66600
17         880       81800
18        1160       67880
19        1680       86480

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.100321   0.100779     0.095282   0.098488   0.096656   0.104443
10   0.102611   0.098946     0.101695   0.094824    0.10994   0.094824
11   0.101695   0.103985     0.105818    0.08612   0.097114   0.108108
12   0.108566   0.096656     0.098946    0.08612   0.101695   0.102611
13    0.10536   0.110399     0.098946   0.116354    0.10536   0.100779
14   0.113147   0.100321     0.103527   0.103527   0.111773   0.100779
15   0.102153   0.110399      0.09574   0.110399    0.10765   0.103985
16   0.101695   0.100321     0.099404   0.101237   0.104443   0.094366
17    0.09574   0.101695     0.090243   0.100321   0.097114   0.095282
18    0.09574   0.094824     0.092991    0.08612   0.097114   0.089785
19    0.08383   0.086578     0.089327   0.083372   0.097572   0.110857
20   0.080165    0.08841     0.087036   0.084746   0.086578   0.089327
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.098946   0.101237   0.098946   0.103527  ...     0.10536    0.110857
10   0.103069   0.102611   0.115896   0.108566  ...    0.110399    0.098946
11   0.102611   0.110399   0.106734    0.10765  ...    0.092533    0.110857
12   0.106276   0.102611   0.112689   0.103527  ...    0.091617    0.093907
13   0.109024   0.108566   0.114521   0.122309  ...     0.08612    0.104902
14   0.101695   0.101237   0.096656   0.096198  ...    0.103069    0.092991
15   0.105818   0.120934    0.09574    0.10765  ...    0.111315    0.113147
16   0.090243    0.08612   0.090243   0.089327  ...    0.096656    0.086578
17   0.090701   0.085204   0.115437   0.095282  ...    0.099404    0.108108
18   0.096656    0.08841   0.102153   0.092075  ...    0.090701    0.073752
19   0.102153    0.10536   0.100321   0.104443  ...    0.097114     0.09574
20   0.090243   0.095282    0.15071   0.089327  ...    0.094824     0.08383
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2768        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         45  ...         NaN         NaN
24        NaN  7/26/2023          3         47  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9      0.09574    0.105818    0.103985    0.104443    0.100321    0.100321
10    0.107192    0.089327    0.102611    0.096656    0.103069    0.075126
11    0.094366     0.10765    0.102611    0.112231    0.098488    0.096198
12    0.108108    0.096656     0.10765    0.103069    0.103527    0.093907
13     0.10994     0.09803    0.107192    0.109482    0.106734    0.110399
14    0.097572    0.099404    0.104902    0.108566    0.111773    0.106734
15     0.10536    0.111773    0.092533    0.103985    0.100779     0.11727
16    0.097572     0.09574    0.089785    0.092991    0.097114    0.095282
17    0.098488    0.082455    0.092075    0.093449     0.09574    0.212093
18    0.102611    0.097572    0.097572    0.094824    0.113147    0.086578
19    0.085662    0.114063    0.098488    0.114063    0.098946    0.096198
20    0.092075    0.089327    0.087036    0.086578    0.093907    0.083372
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9     0.004123    0.836464
10    0.009162    0.726065
11    0.004123    0.852497
12    0.007329    0.758589
13     0.00229    0.846541
14    0.003665    0.704535
15    0.001832    0.919377
16    0.005039    0.755383
17    0.002749    0.929455
18    0.005955    0.770041
19     0.01191    0.983051
20    0.006871    0.879066
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.102611   0.098946     0.101695   0.094824    0.10994   0.094824
11   0.101695   0.103985     0.105818    0.08612   0.097114   0.108108
12   0.108566   0.096656     0.098946    0.08612   0.101695   0.102611
13    0.10536   0.110399     0.098946   0.116354    0.10536   0.100779
14   0.113147   0.100321     0.103527   0.103527   0.111773   0.100779
15   0.102153   0.110399      0.09574   0.110399    0.10765   0.103985
16   0.101695   0.100321     0.099404   0.101237   0.104443   0.094366
17    0.09574   0.101695     0.090243   0.100321   0.097114   0.095282
18    0.09574   0.094824     0.092991    0.08612   0.097114   0.089785
19    0.08383   0.086578     0.089327   0.083372   0.097572   0.110857
20   0.080165    0.08841     0.087036   0.084746   0.086578   0.089327
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.103069   0.102611   0.115896   0.108566  ...    0.110399    0.098946
11   0.102611   0.110399   0.106734    0.10765  ...    0.092533    0.110857
12   0.106276   0.102611   0.112689   0.103527  ...    0.091617    0.093907
13   0.109024   0.108566   0.114521   0.122309  ...     0.08612    0.104902
14   0.101695   0.101237   0.096656   0.096198  ...    0.103069    0.092991
15   0.105818   0.120934    0.09574    0.10765  ...    0.111315    0.113147
16   0.090243    0.08612   0.090243   0.089327  ...    0.096656    0.086578
17   0.090701   0.085204   0.115437   0.095282  ...    0.099404    0.108108
18   0.096656    0.08841   0.102153   0.092075  ...    0.090701    0.073752
19   0.102153    0.10536   0.100321   0.104443  ...    0.097114     0.09574
20   0.090243   0.095282    0.15071   0.089327  ...    0.094824     0.08383
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2768        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         45  ...         NaN         NaN
24        NaN  7/26/2023          3         47  ...         NaN         NaN
25        NaN  7/26/2023          3         47  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
10    0.107192    0.089327    0.102611    0.096656    0.103069    0.075126
11    0.094366     0.10765    0.102611    0.112231    0.098488    0.096198
12    0.108108    0.096656     0.10765    0.103069    0.103527    0.093907
13     0.10994     0.09803    0.107192    0.109482    0.106734    0.110399
14    0.097572    0.099404    0.104902    0.108566    0.111773    0.106734
15     0.10536    0.111773    0.092533    0.103985    0.100779     0.11727
16    0.097572     0.09574    0.089785    0.092991    0.097114    0.095282
17    0.098488    0.082455    0.092075    0.093449     0.09574    0.212093
18    0.102611    0.097572    0.097572    0.094824    0.113147    0.086578
19    0.085662    0.114063    0.098488    0.114063    0.098946    0.096198
20    0.092075    0.089327    0.087036    0.086578    0.093907    0.083372
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
10    0.009162    0.726065
11    0.004123    0.852497
12    0.007329    0.758589
13     0.00229    0.846541
14    0.003665    0.704535
15    0.001832    0.919377
16    0.005039    0.755383
17    0.002749    0.929455
18    0.005955    0.770041
19     0.01191    0.983051
20    0.006871    0.879066
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN
25         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 114 65 DF Values count: 270 done
94  skip normalized data
80  DF NA count: 134 65 DF Values count: 250 done
94  skip normalized data
80  DF NA count: 156 65 DF Values count: 228 done
94  skip normalized data
80  DF NA count: 178 65 DF Values count: 206 done
94  skip normalized data
80  DF NA count: 201 65 DF Values count: 183 done
94  skip normalized data
80  DF NA count: 221 65 DF Values count: 163 done
94  skip normalized data
80  DF NA count: 240 65 DF Values count: 144 done
94  skip normalized data
80  DF NA count: 260 65 DF Values count: 124 done
94  skip normalized data
80  DF NA count: 279 65 DF Values count: 105 done
94  skip normalized data
80  DF NA count: 299 65 DF Values count: 85 done
94  skip normalized data
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\ and 19.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\19.csv 19.csv SURF1screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\19_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\19_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\19_normalized.csv SURF1screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//19_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\19_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\19_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.128065   0.133969     0.123524   0.134877   0.118529   0.127611
10   0.132607   0.126703     0.119437   0.117166   0.135786   0.129428
11   0.124886   0.119891     0.121708   0.159401   0.119437   0.128974
12   0.124432   0.116712     0.120799   0.127611   0.133969   0.124886
13   0.118074   0.116712     0.110354   0.133515   0.124886   0.149864
14   0.123524   0.112625     0.123524   0.120799   0.119891   0.123524
15   0.112625   0.125795     0.112171   0.122162   0.118983   0.133061
16   0.115804   0.105359     0.108538   0.080836   0.112625   0.110354
17    0.10218   0.116258     0.107175   0.115804   0.103996   0.116258
18   0.111262   0.103088     0.109446   0.108538   0.099001   0.104905
19   0.094914   0.106721     0.104905   0.111717   0.111262   0.119437
20    0.09673   0.094005     0.103542   0.106721   0.095822   0.097184
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.121253   0.128065   0.140781   0.129428  ...    0.100363    0.122162
10   0.132153   0.125341   0.131698   0.129428  ...    0.126249    0.110354
11   0.123978   0.146685   0.133515   0.128065  ...    0.114896    0.129882
12   0.113987   0.124432   0.125795   0.124886  ...    0.132153     0.12852
13   0.130336    0.14396    0.14941   0.154405  ...     0.12852    0.149864
14   0.122616   0.130336   0.224796   0.123524  ...     0.12307    0.119437
15   0.119891   0.134877   0.138965   0.139873  ...    0.154859    0.140327
16   0.110354   0.107175   0.124432     0.1099  ...    0.119891    0.112171
17   0.113533   0.126249   0.118074   0.122616  ...    0.123524    0.126703
18   0.118074   0.107175   0.119437   0.112625  ...    0.108084    0.108992
19   0.111262   0.121708   0.103996   0.121708  ...    0.116258    0.116258
20    0.10218   0.103088    0.10445   0.102634  ...    0.097184    0.097639
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2769        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         48  ...         NaN         NaN
24        NaN  7/26/2023          3         50  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
9     0.143052    0.129428    0.143506    0.113533    0.103088    0.110354
10    0.129882    0.115804     0.12852    0.180745    0.109446    0.100363
11    0.128974    0.128974    0.120345    0.126703    0.109446    0.114896
12    0.139873    0.129882    0.132607    0.113079    0.108084    0.106267
13    0.140781    0.153043    0.129882     0.13624    0.125341    0.112625
14    0.126703    0.107175    0.133061    0.120345    0.132153    0.109446
15    0.117166    0.142144    0.106721    0.117166    0.106721    0.118529
16    0.119891    0.113533    0.124432    0.092189    0.113079     0.10218
17    0.123524    0.121253     0.09446    0.114896    0.108538    0.118529
18    0.110354    0.106721    0.124886    0.094005    0.118983    0.106721
19    0.124886    0.116712    0.116712    0.127611    0.106267    0.104905
20    0.098093    0.091735    0.100817    0.097184    0.097184    0.099001
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
9     0.001362    0.919164
10    0.009083    0.751135
11    0.000908    0.996821
12    0.008174    0.756131
13    0.003633    0.904632
14    0.001362    0.792461
15    0.001817      0.9505
16    0.001817    0.830609
17         0.0    0.984105
18    0.001817    0.810627
19    0.002725         1.0
20    0.009083    0.898274
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 93 65 DF Values count: 291 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
10   0.132607   0.126703     0.119437   0.117166   0.135786   0.129428
11   0.124886   0.119891     0.121708   0.159401   0.119437   0.128974
12   0.124432   0.116712     0.120799   0.127611   0.133969   0.124886
13   0.118074   0.116712     0.110354   0.133515   0.124886   0.149864
14   0.123524   0.112625     0.123524   0.120799   0.119891   0.123524
15   0.112625   0.125795     0.112171   0.122162   0.118983   0.133061
16   0.115804   0.105359     0.108538   0.080836   0.112625   0.110354
17    0.10218   0.116258     0.107175   0.115804   0.103996   0.116258
18   0.111262   0.103088     0.109446   0.108538   0.099001   0.104905
19   0.094914   0.106721     0.104905   0.111717   0.111262   0.119437
20    0.09673   0.094005     0.103542   0.106721   0.095822   0.097184
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN
25      Assay   Exported          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
10   0.132153   0.125341   0.131698   0.129428  ...    0.126249    0.110354
11   0.123978   0.146685   0.133515   0.128065  ...    0.114896    0.129882
12   0.113987   0.124432   0.125795   0.124886  ...    0.132153     0.12852
13   0.130336    0.14396    0.14941   0.154405  ...     0.12852    0.149864
14   0.122616   0.130336   0.224796   0.123524  ...     0.12307    0.119437
15   0.119891   0.134877   0.138965   0.139873  ...    0.154859    0.140327
16   0.110354   0.107175   0.124432     0.1099  ...    0.119891    0.112171
17   0.113533   0.126249   0.118074   0.122616  ...    0.123524    0.126703
18   0.118074   0.107175   0.119437   0.112625  ...    0.108084    0.108992
19   0.111262   0.121708   0.103996   0.121708  ...    0.116258    0.116258
20    0.10218   0.103088    0.10445   0.102634  ...    0.097184    0.097639
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2769        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         48  ...         NaN         NaN
24        NaN  7/26/2023          3         50  ...         NaN         NaN
25        NaN  7/26/2023          3         50  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
10    0.129882    0.115804     0.12852    0.180745    0.109446    0.100363
11    0.128974    0.128974    0.120345    0.126703    0.109446    0.114896
12    0.139873    0.129882    0.132607    0.113079    0.108084    0.106267
13    0.140781    0.153043    0.129882     0.13624    0.125341    0.112625
14    0.126703    0.107175    0.133061    0.120345    0.132153    0.109446
15    0.117166    0.142144    0.106721    0.117166    0.106721    0.118529
16    0.119891    0.113533    0.124432    0.092189    0.113079     0.10218
17    0.123524    0.121253     0.09446    0.114896    0.108538    0.118529
18    0.110354    0.106721    0.124886    0.094005    0.118983    0.106721
19    0.124886    0.116712    0.116712    0.127611    0.106267    0.104905
20    0.098093    0.091735    0.100817    0.097184    0.097184    0.099001
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
10    0.009083    0.751135
11    0.000908    0.996821
12    0.008174    0.756131
13    0.003633    0.904632
14    0.001362    0.792461
15    0.001817      0.9505
16    0.001817    0.830609
17         0.0    0.984105
18    0.001817    0.810627
19    0.002725         1.0
20    0.009083    0.898274
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN
25         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 114 65 DF Values count: 270 done
94  skip normalized data
80  DF NA count: 134 65 DF Values count: 250 done
94  skip normalized data
80  DF NA count: 156 65 DF Values count: 228 done
94  skip normalized data
80  DF NA count: 178 65 DF Values count: 206 done
94  skip normalized data
80  DF NA count: 201 65 DF Values count: 183 done
94  skip normalized data
80  DF NA count: 221 65 DF Values count: 163 done
94  skip normalized data
80  DF NA count: 240 65 DF Values count: 144 done
94  skip normalized data
80  DF NA count: 260 65 DF Values count: 124 done
94  skip normalized data
80  DF NA count: 279 65 DF Values count: 105 done
94  skip normalized data
80  DF NA count: 299 65 DF Values count: 85 done
94  skip normalized data
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\ and 20.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\20.csv 20.csv SURF1screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\20_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\20_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\20_normalized.csv SURF1screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//20_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\20_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\20_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\21_normalized_zscore_list.csv
307  unzipped files 22.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.46
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.39
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.41
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             49.4
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      49.1
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.77
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.38
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       54
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

48 0 INDEX#1
43  DF column number 0      Group
1         00
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       10160      11360      10000       9480       9880      10760
6       11640      10360      10480      11120      11080      11040
7       10320       9600       9800      10040       9800      10840
8       10280      10240      10520       9960      10640      10080
9        9600      10000       9320      10040      10600      10920
10      11120      10160      10320      10320      11160      11040
11       9640      10040       9680      10040      10320      10560
12      10440      10400       9680       9960      10920       9960
13      10080      10560      10440      10640      10120      11200
14      10960      10280      10760       9200      10760       8320
15       9840      10280      10320       9840      10040      10400
16      10200      10160       8840      10080      10000       8040
17       9040       9320       9040      10760      10120      10400
18      10080       9160       9560       9080       9600       9400
19       8520       9520      10080       9320       9080       9720
20       8240       9080       8920       8760       8960       8360

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5        9840       9840      10560      10640  ...        8800       11880
6       11200      11160      11920      11000  ...       11760       10760
7       10560      10880       9600      11080  ...        9920       10120
8       10360       9880      10800      10000  ...       10800        9680
9       10040      10720      10560      10800  ...       11040       12040
10      11080      10360      11160      10360  ...       11720       10480
11      10640      11040      10920      11120  ...       11760       12640
12      11080      10600       9680       9960  ...       11920       10600
13      11600      10760      10200      11160  ...       12160       11360
14      10240      10720      10120       9840  ...       10440       10480
15      11240      11480      10640      10600  ...       10800       11280
16       9320       9640      10480       9240  ...        9840        9520
17       9920      10840      10400      11800  ...       10440       11520
18       9760       9680      10480       9360  ...        9920        8280
19      10040      10600       9480      11000  ...       11400       11200
20       8920       8560       9240       8480  ...        8040        7640

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         6160        8920        8640        9280        9120        6440
6        10800        9200       10880        9840       11040        8480
7         9320        9720        9920        9760        8040        9600
8        10840        9960       10840        9840       10400        9440
9        10280       10680        9280       10280        9840        9960
10       11240       10880       10600       10560       10000        9880
11       18680       11720       10680       11000        9880       10200
12       12160        9120       10760       10160       11160       10200
13       12480       12080       11880       12360       10640       11160
14       11520       10440       11080       10800       11760        9680
15       11640       11200       11800       13080       10760       11720
16       10800       10040       10160       10680       11560        9800
17       11520       10400       11240       11280       10840       11160
18        9240        8080        8880        8720        9680        9200
19       10160       11000       10440       11280       11240        7920
20        7640        7560        8240        8440        7520        8760

   Unnamed: 22 Unnamed: 23
5         1160       89720
6         1000       64080
7         1120       87520
8         1240       70120
9         1040       90320
10        1120       74200
11         920       87840
12         920       71920
13         960       83280
14        1040       69320
15         720       85000
16        1040       72000
17         800       84400
18         960       67480
19         680       85480
20         800       73440

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.122267   0.107988     0.109326   0.116466    0.11602   0.115573
7    0.107541   0.099509      0.10174   0.104418    0.10174   0.113342
8    0.107095   0.106649     0.109772   0.103525   0.111111   0.104864
9    0.099509   0.103971     0.096386   0.104418   0.110665   0.114235
10   0.116466   0.105756     0.107541   0.107541   0.116912   0.115573
11   0.099955   0.104418     0.100402   0.104418   0.107541   0.110219
12    0.10888   0.108434     0.100402   0.103525   0.114235   0.103525
13   0.104864   0.110219      0.10888   0.111111    0.10531   0.117358
14   0.114681   0.107095      0.11245   0.095047    0.11245    0.08523
15   0.102187   0.107095     0.107541   0.102187   0.104418   0.108434
16   0.106203   0.105756     0.091031   0.104864   0.103971   0.082106
17   0.093262   0.096386     0.093262    0.11245    0.10531   0.108434
18   0.104864   0.094601     0.099063   0.093708   0.099509   0.097278
19   0.087461   0.098617     0.104864   0.096386   0.093708   0.100848
20   0.084337   0.093708     0.091923   0.090138   0.092369   0.085676
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.117358   0.116912    0.12539   0.115127  ...    0.123606     0.11245
7    0.110219   0.113788   0.099509    0.11602  ...    0.103079     0.10531
8    0.107988   0.102633   0.112896   0.103971  ...    0.112896    0.100402
9    0.104418   0.112004   0.110219   0.112896  ...    0.115573    0.126729
10    0.11602   0.107988   0.116912   0.107988  ...    0.123159    0.109326
11   0.111111   0.115573   0.114235   0.116466  ...    0.123606    0.133423
12    0.11602   0.110665   0.100402   0.103525  ...     0.12539    0.110665
13   0.121821    0.11245   0.106203   0.116912  ...    0.128068    0.119143
14   0.106649   0.112004    0.10531   0.102187  ...     0.10888    0.109326
15   0.117805   0.120482   0.111111   0.110665  ...    0.112896    0.118251
16   0.096386   0.099955   0.109326   0.095493  ...    0.102187    0.098617
17   0.103079   0.113342   0.108434   0.124052  ...     0.10888    0.120928
18   0.101294   0.100402   0.109326   0.096832  ...    0.103079    0.084784
19   0.104418   0.110665    0.09817   0.115127  ...    0.119589    0.117358
20   0.091923   0.087907   0.095493   0.087015  ...    0.082106    0.077644
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.112896    0.095047    0.113788    0.102187    0.115573    0.087015
7     0.096386    0.100848    0.103079    0.101294    0.082106    0.099509
8     0.113342    0.103525    0.113342    0.102187    0.108434    0.097724
9     0.107095    0.111557    0.095939    0.107095    0.102187    0.103525
10    0.117805    0.113788    0.110665    0.110219    0.103971    0.102633
11    0.200803    0.123159    0.111557    0.115127    0.102633    0.106203
12    0.128068    0.094154     0.11245    0.105756    0.116912    0.106203
13    0.131638    0.127175    0.124944    0.130299    0.111111    0.116912
14    0.120928     0.10888     0.11602    0.112896    0.123606    0.100402
15    0.122267    0.117358    0.124052    0.138331     0.11245    0.123159
16    0.112896    0.104418    0.105756    0.111557    0.121374     0.10174
17    0.120928    0.108434    0.117805    0.118251    0.113342    0.116912
18    0.095493    0.082552    0.091477    0.089692    0.100402    0.095047
19    0.105756    0.115127     0.10888    0.118251    0.117805    0.080768
20    0.077644    0.076751    0.084337    0.086568    0.076305    0.090138
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6      0.00357    0.707274
7     0.004909    0.968764
8     0.006247    0.774654
9     0.004016         1.0
10    0.004909     0.82017
11    0.002677    0.972334
12    0.002677    0.794734
13    0.003124    0.921464
14    0.004016     0.76573
15    0.000446    0.940651
16    0.004016    0.795627
17    0.001339    0.933958
18    0.003124    0.745203
19         0.0    0.946006
20    0.001339    0.811691
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.107541   0.099509      0.10174   0.104418    0.10174   0.113342
8    0.107095   0.106649     0.109772   0.103525   0.111111   0.104864
9    0.099509   0.103971     0.096386   0.104418   0.110665   0.114235
10   0.116466   0.105756     0.107541   0.107541   0.116912   0.115573
11   0.099955   0.104418     0.100402   0.104418   0.107541   0.110219
12    0.10888   0.108434     0.100402   0.103525   0.114235   0.103525
13   0.104864   0.110219      0.10888   0.111111    0.10531   0.117358
14   0.114681   0.107095      0.11245   0.095047    0.11245    0.08523
15   0.102187   0.107095     0.107541   0.102187   0.104418   0.108434
16   0.106203   0.105756     0.091031   0.104864   0.103971   0.082106
17   0.093262   0.096386     0.093262    0.11245    0.10531   0.108434
18   0.104864   0.094601     0.099063   0.093708   0.099509   0.097278
19   0.087461   0.098617     0.104864   0.096386   0.093708   0.100848
20   0.084337   0.093708     0.091923   0.090138   0.092369   0.085676
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.110219   0.113788   0.099509    0.11602  ...    0.103079     0.10531
8    0.107988   0.102633   0.112896   0.103971  ...    0.112896    0.100402
9    0.104418   0.112004   0.110219   0.112896  ...    0.115573    0.126729
10    0.11602   0.107988   0.116912   0.107988  ...    0.123159    0.109326
11   0.111111   0.115573   0.114235   0.116466  ...    0.123606    0.133423
12    0.11602   0.110665   0.100402   0.103525  ...     0.12539    0.110665
13   0.121821    0.11245   0.106203   0.116912  ...    0.128068    0.119143
14   0.106649   0.112004    0.10531   0.102187  ...     0.10888    0.109326
15   0.117805   0.120482   0.111111   0.110665  ...    0.112896    0.118251
16   0.096386   0.099955   0.109326   0.095493  ...    0.102187    0.098617
17   0.103079   0.113342   0.108434   0.124052  ...     0.10888    0.120928
18   0.101294   0.100402   0.109326   0.096832  ...    0.103079    0.084784
19   0.104418   0.110665    0.09817   0.115127  ...    0.119589    0.117358
20   0.091923   0.087907   0.095493   0.087015  ...    0.082106    0.077644
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2771        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.096386    0.100848    0.103079    0.101294    0.082106    0.099509
8     0.113342    0.103525    0.113342    0.102187    0.108434    0.097724
9     0.107095    0.111557    0.095939    0.107095    0.102187    0.103525
10    0.117805    0.113788    0.110665    0.110219    0.103971    0.102633
11    0.200803    0.123159    0.111557    0.115127    0.102633    0.106203
12    0.128068    0.094154     0.11245    0.105756    0.116912    0.106203
13    0.131638    0.127175    0.124944    0.130299    0.111111    0.116912
14    0.120928     0.10888     0.11602    0.112896    0.123606    0.100402
15    0.122267    0.117358    0.124052    0.138331     0.11245    0.123159
16    0.112896    0.104418    0.105756    0.111557    0.121374     0.10174
17    0.120928    0.108434    0.117805    0.118251    0.113342    0.116912
18    0.095493    0.082552    0.091477    0.089692    0.100402    0.095047
19    0.105756    0.115127     0.10888    0.118251    0.117805    0.080768
20    0.077644    0.076751    0.084337    0.086568    0.076305    0.090138
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.004909    0.968764
8     0.006247    0.774654
9     0.004016         1.0
10    0.004909     0.82017
11    0.002677    0.972334
12    0.002677    0.794734
13    0.003124    0.921464
14    0.004016     0.76573
15    0.000446    0.940651
16    0.004016    0.795627
17    0.001339    0.933958
18    0.003124    0.745203
19         0.0    0.946006
20    0.001339    0.811691
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.107095   0.106649     0.109772   0.103525   0.111111   0.104864
9    0.099509   0.103971     0.096386   0.104418   0.110665   0.114235
10   0.116466   0.105756     0.107541   0.107541   0.116912   0.115573
11   0.099955   0.104418     0.100402   0.104418   0.107541   0.110219
12    0.10888   0.108434     0.100402   0.103525   0.114235   0.103525
13   0.104864   0.110219      0.10888   0.111111    0.10531   0.117358
14   0.114681   0.107095      0.11245   0.095047    0.11245    0.08523
15   0.102187   0.107095     0.107541   0.102187   0.104418   0.108434
16   0.106203   0.105756     0.091031   0.104864   0.103971   0.082106
17   0.093262   0.096386     0.093262    0.11245    0.10531   0.108434
18   0.104864   0.094601     0.099063   0.093708   0.099509   0.097278
19   0.087461   0.098617     0.104864   0.096386   0.093708   0.100848
20   0.084337   0.093708     0.091923   0.090138   0.092369   0.085676
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.107988   0.102633   0.112896   0.103971  ...    0.112896    0.100402
9    0.104418   0.112004   0.110219   0.112896  ...    0.115573    0.126729
10    0.11602   0.107988   0.116912   0.107988  ...    0.123159    0.109326
11   0.111111   0.115573   0.114235   0.116466  ...    0.123606    0.133423
12    0.11602   0.110665   0.100402   0.103525  ...     0.12539    0.110665
13   0.121821    0.11245   0.106203   0.116912  ...    0.128068    0.119143
14   0.106649   0.112004    0.10531   0.102187  ...     0.10888    0.109326
15   0.117805   0.120482   0.111111   0.110665  ...    0.112896    0.118251
16   0.096386   0.099955   0.109326   0.095493  ...    0.102187    0.098617
17   0.103079   0.113342   0.108434   0.124052  ...     0.10888    0.120928
18   0.101294   0.100402   0.109326   0.096832  ...    0.103079    0.084784
19   0.104418   0.110665    0.09817   0.115127  ...    0.119589    0.117358
20   0.091923   0.087907   0.095493   0.087015  ...    0.082106    0.077644
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2771        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         52  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.113342    0.103525    0.113342    0.102187    0.108434    0.097724
9     0.107095    0.111557    0.095939    0.107095    0.102187    0.103525
10    0.117805    0.113788    0.110665    0.110219    0.103971    0.102633
11    0.200803    0.123159    0.111557    0.115127    0.102633    0.106203
12    0.128068    0.094154     0.11245    0.105756    0.116912    0.106203
13    0.131638    0.127175    0.124944    0.130299    0.111111    0.116912
14    0.120928     0.10888     0.11602    0.112896    0.123606    0.100402
15    0.122267    0.117358    0.124052    0.138331     0.11245    0.123159
16    0.112896    0.104418    0.105756    0.111557    0.121374     0.10174
17    0.120928    0.108434    0.117805    0.118251    0.113342    0.116912
18    0.095493    0.082552    0.091477    0.089692    0.100402    0.095047
19    0.105756    0.115127     0.10888    0.118251    0.117805    0.080768
20    0.077644    0.076751    0.084337    0.086568    0.076305    0.090138
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8     0.006247    0.774654
9     0.004016         1.0
10    0.004909     0.82017
11    0.002677    0.972334
12    0.002677    0.794734
13    0.003124    0.921464
14    0.004016     0.76573
15    0.000446    0.940651
16    0.004016    0.795627
17    0.001339    0.933958
18    0.003124    0.745203
19         0.0    0.946006
20    0.001339    0.811691
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\23_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\23_normalized_zscore_list.csv
307  unzipped files 24.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.41
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.98
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.2
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.9
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      49.6
2       NaN
3       NaN
4        12
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.26
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        21.89
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       58
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         04
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5        9920      10440      10320      10800      10680      10160
6       12200      12160      12240      11640      13040      12240
7       10200      10200       9240      10040      10640      11440
8       10000      10800      11520      11880      12600      12240
9       10760      10360      10360      10680      10160       9720
10      12440      10800      11760      11240      13200      12040
11       9440      10560       9840      10880       8040      12400
12      11280      10840      11480      11160      11880       8480
13      10200      10840      10120      10960      10800      11160
14      10360      10560      11000      10120      11760      11000
15       9720      10440       9480      10080       8840      10880
16       9880       8920       9760      10360      10960       9160
17       8080       9520       8960       8800      10320       9600
18       9880       9880      10520       9880      10120       9840
19       8280       9360       8600       9400       8160       9800
20       9520       9640      10520       8880       9240       8520

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       10280      11400      10920      11480  ...        9960       10280
6       13800      13280      14400      12400  ...       11600       11080
7       11880      12080      12200      12160  ...       10560        9560
8        8720      12360      13760      11360  ...       11520       11400
9       11680      11680      11440      10920  ...       11120       12200
10      13520      10880       9840      12720  ...       13280       10560
11      11680      11640      37720      11320  ...       11320       12440
12      12760      11640      13040       8720  ...       13920       12680
13      10960      11920      12080      11520  ...       11920       12600
14      11960      11720      12000      11600  ...       14400       11920
15      12120       8880      11240      11960  ...       10960       12200
16       8360       9600      11360      10080  ...       10640       10680
17      10680      11400      10280      10880  ...       11240       11160
18      10440      10840      11360      14200  ...        9960        8880
19       9720      11880       9840      11320  ...       10520       11040
20       9800       9440       9000       8480  ...        9760        8840

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        10560       10840        9920       10240       10040       10560
6        11080       10080       10240       10240        9640        8040
7        10320       10560        9640       10640        9800       10560
8        11920       10240       11080       10200        9280        8960
9         8680        8440        9840        9080       10920        9840
10       12480       11600       11080       10680       11760       10120
11        9080       11640       10400       11520       10520       10800
12       11880       11960       12240       10280       10800        9680
13       12320       12040       11680        9960       11000        9240
14       12120       12800       14200        9440       11080        8760
15       10640       12120       10520       12160       10360        9960
16       10320       14480       11720       10520       10200       10040
17       11280       11280       11320       11520       10840       11360
18        9680        8840       10480        8560       10040        9040
19        9440       11000       10560       10440       10200       10760
20        9040        7600        9960        9600       10080        8560

   Unnamed: 22 Unnamed: 23
5          760       90680
6          880       60920
7          640       84840
8          920       73920
9         1160       90360
10        1160       73560
11         840       95040
12        1160       77560
13         800       86440
14        1240       73200
15         840       93360
16        1120       74680
17         640       92000
18        1160       83840
19         720       91280
20        1200       88960

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.122458   0.122034     0.122881   0.116525   0.131356   0.122881
7    0.101271   0.101271     0.091102   0.099576   0.105932   0.114407
8    0.099153   0.107627     0.115254   0.119068   0.126695   0.122881
9    0.107203   0.102966     0.102966   0.106356   0.100847   0.096186
10      0.125   0.107627     0.117797   0.112288   0.133051   0.120763
11    0.09322   0.105085     0.097458   0.108475    0.07839   0.124576
12   0.112712   0.108051     0.114831   0.111441   0.119068   0.083051
13   0.101271   0.108051     0.100424   0.109322   0.107627   0.111441
14   0.102966   0.105085     0.109746   0.100424   0.117797   0.109746
15   0.096186   0.103814     0.093644        0.1   0.086864   0.108475
16   0.097881   0.087712      0.09661   0.102966   0.109322   0.090254
17   0.078814   0.094068     0.088136   0.086441   0.102542   0.094915
18   0.097881   0.097881     0.104661   0.097881   0.100424   0.097458
19   0.080932   0.092373     0.084322   0.092797   0.079661   0.097034
20   0.094068   0.095339     0.104661   0.087288   0.091102   0.083475
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.139407   0.133898   0.145763   0.124576  ...    0.116102    0.110593
7    0.119068   0.121186   0.122458   0.122034  ...    0.105085    0.094492
8    0.085593   0.124153   0.138983   0.113559  ...    0.115254    0.113983
9    0.116949   0.116949   0.114407   0.108898  ...    0.111017    0.122458
10   0.136441   0.108475   0.097458   0.127966  ...    0.133898    0.105085
11   0.116949   0.116525   0.392797   0.113136  ...    0.113136       0.125
12    0.12839   0.116525   0.131356   0.085593  ...    0.140678    0.127542
13   0.109322   0.119492   0.121186   0.115254  ...    0.119492    0.126695
14   0.119915   0.117373   0.120339   0.116102  ...    0.145763    0.119492
15    0.12161   0.087288   0.112288   0.119915  ...    0.109322    0.122458
16    0.08178   0.094915   0.113559        0.1  ...    0.105932    0.106356
17   0.106356   0.113983   0.102119   0.108475  ...    0.112288    0.111441
18   0.103814   0.108051   0.113559   0.143644  ...    0.098729    0.087288
19   0.096186   0.119068   0.097458   0.113136  ...    0.104661    0.110169
20   0.097034    0.09322   0.088559   0.083051  ...     0.09661    0.086864
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.110593         0.1    0.101695    0.101695    0.095339     0.07839
7     0.102542    0.105085    0.095339    0.105932    0.097034    0.105085
8     0.119492    0.101695    0.110593    0.101271    0.091525    0.088136
9     0.085169    0.082627    0.097458    0.089407    0.108898    0.097458
10    0.125424    0.116102    0.110593    0.106356    0.117797    0.100424
11    0.089407    0.116525     0.10339    0.115254    0.104661    0.107627
12    0.119068    0.119915    0.122881    0.102119    0.107627    0.095763
13    0.123729    0.120763    0.116949    0.098729    0.109746    0.091102
14     0.12161    0.128814    0.143644     0.09322    0.110593    0.086017
15    0.105932     0.12161    0.104661    0.122034    0.102966    0.098729
16    0.102542     0.14661    0.117373    0.104661    0.101271    0.099576
17    0.112712    0.112712    0.113136    0.115254    0.108051    0.113559
18    0.095763    0.086864    0.104237    0.083898    0.099576    0.088983
19     0.09322    0.109746    0.105085    0.103814    0.101271    0.107203
20    0.088983    0.073729    0.098729    0.094915         0.1    0.083898
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.002542    0.638559
7          0.0    0.891949
8     0.002966    0.776271
9     0.005508    0.950424
10    0.005508    0.772458
11    0.002119         1.0
12    0.005508    0.814831
13    0.001695    0.908898
14    0.006356    0.768644
15    0.002119    0.982203
16    0.005085    0.784322
17         0.0    0.967797
18    0.005508    0.881356
19    0.000847    0.960169
20    0.005932    0.935593
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.101271   0.101271     0.091102   0.099576   0.105932   0.114407
8    0.099153   0.107627     0.115254   0.119068   0.126695   0.122881
9    0.107203   0.102966     0.102966   0.106356   0.100847   0.096186
10      0.125   0.107627     0.117797   0.112288   0.133051   0.120763
11    0.09322   0.105085     0.097458   0.108475    0.07839   0.124576
12   0.112712   0.108051     0.114831   0.111441   0.119068   0.083051
13   0.101271   0.108051     0.100424   0.109322   0.107627   0.111441
14   0.102966   0.105085     0.109746   0.100424   0.117797   0.109746
15   0.096186   0.103814     0.093644        0.1   0.086864   0.108475
16   0.097881   0.087712      0.09661   0.102966   0.109322   0.090254
17   0.078814   0.094068     0.088136   0.086441   0.102542   0.094915
18   0.097881   0.097881     0.104661   0.097881   0.100424   0.097458
19   0.080932   0.092373     0.084322   0.092797   0.079661   0.097034
20   0.094068   0.095339     0.104661   0.087288   0.091102   0.083475
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.119068   0.121186   0.122458   0.122034  ...    0.105085    0.094492
8    0.085593   0.124153   0.138983   0.113559  ...    0.115254    0.113983
9    0.116949   0.116949   0.114407   0.108898  ...    0.111017    0.122458
10   0.136441   0.108475   0.097458   0.127966  ...    0.133898    0.105085
11   0.116949   0.116525   0.392797   0.113136  ...    0.113136       0.125
12    0.12839   0.116525   0.131356   0.085593  ...    0.140678    0.127542
13   0.109322   0.119492   0.121186   0.115254  ...    0.119492    0.126695
14   0.119915   0.117373   0.120339   0.116102  ...    0.145763    0.119492
15    0.12161   0.087288   0.112288   0.119915  ...    0.109322    0.122458
16    0.08178   0.094915   0.113559        0.1  ...    0.105932    0.106356
17   0.106356   0.113983   0.102119   0.108475  ...    0.112288    0.111441
18   0.103814   0.108051   0.113559   0.143644  ...    0.098729    0.087288
19   0.096186   0.119068   0.097458   0.113136  ...    0.104661    0.110169
20   0.097034    0.09322   0.088559   0.083051  ...     0.09661    0.086864
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2773        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.102542    0.105085    0.095339    0.105932    0.097034    0.105085
8     0.119492    0.101695    0.110593    0.101271    0.091525    0.088136
9     0.085169    0.082627    0.097458    0.089407    0.108898    0.097458
10    0.125424    0.116102    0.110593    0.106356    0.117797    0.100424
11    0.089407    0.116525     0.10339    0.115254    0.104661    0.107627
12    0.119068    0.119915    0.122881    0.102119    0.107627    0.095763
13    0.123729    0.120763    0.116949    0.098729    0.109746    0.091102
14     0.12161    0.128814    0.143644     0.09322    0.110593    0.086017
15    0.105932     0.12161    0.104661    0.122034    0.102966    0.098729
16    0.102542     0.14661    0.117373    0.104661    0.101271    0.099576
17    0.112712    0.112712    0.113136    0.115254    0.108051    0.113559
18    0.095763    0.086864    0.104237    0.083898    0.099576    0.088983
19     0.09322    0.109746    0.105085    0.103814    0.101271    0.107203
20    0.088983    0.073729    0.098729    0.094915         0.1    0.083898
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7          0.0    0.891949
8     0.002966    0.776271
9     0.005508    0.950424
10    0.005508    0.772458
11    0.002119         1.0
12    0.005508    0.814831
13    0.001695    0.908898
14    0.006356    0.768644
15    0.002119    0.982203
16    0.005085    0.784322
17         0.0    0.967797
18    0.005508    0.881356
19    0.000847    0.960169
20    0.005932    0.935593
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.099153   0.107627     0.115254   0.119068   0.126695   0.122881
9    0.107203   0.102966     0.102966   0.106356   0.100847   0.096186
10      0.125   0.107627     0.117797   0.112288   0.133051   0.120763
11    0.09322   0.105085     0.097458   0.108475    0.07839   0.124576
12   0.112712   0.108051     0.114831   0.111441   0.119068   0.083051
13   0.101271   0.108051     0.100424   0.109322   0.107627   0.111441
14   0.102966   0.105085     0.109746   0.100424   0.117797   0.109746
15   0.096186   0.103814     0.093644        0.1   0.086864   0.108475
16   0.097881   0.087712      0.09661   0.102966   0.109322   0.090254
17   0.078814   0.094068     0.088136   0.086441   0.102542   0.094915
18   0.097881   0.097881     0.104661   0.097881   0.100424   0.097458
19   0.080932   0.092373     0.084322   0.092797   0.079661   0.097034
20   0.094068   0.095339     0.104661   0.087288   0.091102   0.083475
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.085593   0.124153   0.138983   0.113559  ...    0.115254    0.113983
9    0.116949   0.116949   0.114407   0.108898  ...    0.111017    0.122458
10   0.136441   0.108475   0.097458   0.127966  ...    0.133898    0.105085
11   0.116949   0.116525   0.392797   0.113136  ...    0.113136       0.125
12    0.12839   0.116525   0.131356   0.085593  ...    0.140678    0.127542
13   0.109322   0.119492   0.121186   0.115254  ...    0.119492    0.126695
14   0.119915   0.117373   0.120339   0.116102  ...    0.145763    0.119492
15    0.12161   0.087288   0.112288   0.119915  ...    0.109322    0.122458
16    0.08178   0.094915   0.113559        0.1  ...    0.105932    0.106356
17   0.106356   0.113983   0.102119   0.108475  ...    0.112288    0.111441
18   0.103814   0.108051   0.113559   0.143644  ...    0.098729    0.087288
19   0.096186   0.119068   0.097458   0.113136  ...    0.104661    0.110169
20   0.097034    0.09322   0.088559   0.083051  ...     0.09661    0.086864
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2773        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         56  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.119492    0.101695    0.110593    0.101271    0.091525    0.088136
9     0.085169    0.082627    0.097458    0.089407    0.108898    0.097458
10    0.125424    0.116102    0.110593    0.106356    0.117797    0.100424
11    0.089407    0.116525     0.10339    0.115254    0.104661    0.107627
12    0.119068    0.119915    0.122881    0.102119    0.107627    0.095763
13    0.123729    0.120763    0.116949    0.098729    0.109746    0.091102
14     0.12161    0.128814    0.143644     0.09322    0.110593    0.086017

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

80  DF NA count: 134 65 DF Values count: 250 done
94  skip normalized data
80  DF NA count: 156 65 DF Values count: 228 done
94  skip normalized data
80  DF NA count: 178 65 DF Values count: 206 done
94  skip normalized data
80  DF NA count: 201 65 DF Values count: 183 done
94  skip normalized data
80  DF NA count: 221 65 DF Values count: 163 done
94  skip normalized data
80  DF NA count: 240 65 DF Values count: 144 done
94  skip normalized data
80  DF NA count: 260 65 DF Values count: 124 done
94  skip normalized data
80  DF NA count: 279 65 DF Values count: 105 done
94  skip normalized data
80  DF NA count: 299 65 DF Values count: 85 done
94  skip normalized data
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\ and 25.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\25.csv 25.csv SURF1screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\25_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\25_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\25_normalized.csv SURF1screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//25_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\25_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\25_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\25_normalized_zscore_list.csv
307  unzipped files 26.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.49
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.91
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.6
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.9
2       NaN
3       NaN
4        12
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.36
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\26_normalized_zscore_list.csv
307  unzipped files 27.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.88
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.2
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.1
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      48.9
2       NaN
3       NaN
4         8
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.46
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        21.99
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        4
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       08
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         50
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       10600      11360      10240      11960      40040    8366400
6       11880      11360      11680      11440      48000      38840
7        9720      10800      10240      11920      10680      12000
8       10360       9680      11000      10560       9960      10600
9        9800      10040      10080      10520      11040      12240
10      10160       9760      10840      10800      10440      10000
11      10040       9960      10320      11400      11000      11040
12       9280       9480       9240       8880       9560       9320
13       9200      10840      10880      10920      10320       9800
14       9120       8920       8920       9400       9920       9360
15       8880      10720      10520       9880       9000       9920
16       9200       9720       9520       9600       9720       9120
17       8600      10720       8840       9160       8960       8680
18      10160       9040       8720       8480      10160       9280
19       8120       9800       9760      10360       9120       9120
20       8800       8920       8720       8200       8840       8760

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5      208200      12240      10160      10240  ...        8760        9160
6       12160      12320      11920      10880  ...       10960        9560
7       11320      11400      11880      11120  ...        9720       10640
8       10960      10640      10760       9800  ...       10320        9640
9       11640      11760      10880      10280  ...        9400        9880
10      10280       9920      10400       9840  ...       10160        9320
11       9920       9640       9840       9440  ...        9440        9080
12       9680       9040       8960       8800  ...        8800        8680
13       8880       9120       9280      10000  ...        8360        9920
14       9320       9560       9480       9320  ...        8680        8640
15       9520       9800       9520       9840  ...        9360        9200
16       8600       9520       9360       8680  ...        8800        7960
17       8800       9520       8880       9200  ...        8240        9080
18       9440       8280       8920       8520  ...        8080        7840
19       9240       9360       8800       9040  ...        8760        9520
20       8720       8360       8600       8360  ...        7560        7920

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5         8760        9280        8840        9760        8000        9240
6         9680        9920       10840       10400       10440        8120
7         8760        9120        8920        9720        9120        9280
8        10600        9640        9720        9360        9440        7880
9         8800        9720        9160        9640        8480        9520
10        9280        9080        9680        8320        9080        7480
11        9040        9040        9360        9400        8880        9720
12        8280        8480        8400        7720        7840        7280
13        8680        9280        9160        9080        9760       10280
14        8840        8360        8200        7680        8400        7040
15        9520        9200        8880        9640        9400        9400
16        7960        7880        9080        8080        8040        6960
17        8600        9240        7680        9160        8040        8160
18        8320        7520        7760        7360        7800        6560
19        8720        9520        8320        9400        8760        8960
20        8480        7560        7400        7840        7040        5920

   Unnamed: 22 Unnamed: 23
5          920       84240
6         1000       73120
7         1160       81720
8         1440       66000
9         1080       77280
10        2400       67960
11        1440       81080
12        3880       72560
13        1200       75360
14        2680       58280
15        1240       75240
16        4280       68160
17         640       77800
18        4400       67200
19        1640       71320
20       10600       83160

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.001344   0.001281      0.00132   0.001291   0.005661   0.004566
7    0.001085   0.001214     0.001148   0.001348     0.0012   0.001358
8    0.001162   0.001081     0.001238   0.001186   0.001114   0.001191
9    0.001095   0.001124     0.001128   0.001181   0.001243   0.001387
10   0.001138    0.00109     0.001219   0.001214   0.001171   0.001119
11   0.001124   0.001114     0.001157   0.001286   0.001238   0.001243
12   0.001033   0.001057     0.001028   0.000985   0.001066   0.001038
13   0.001023   0.001219     0.001224   0.001229   0.001157   0.001095
14   0.001014    0.00099      0.00099   0.001047   0.001109   0.001042
15   0.000985   0.001205     0.001181   0.001105   0.000999   0.001109
16   0.001023   0.001085     0.001061   0.001071   0.001085   0.001014
17   0.000951   0.001205      0.00098   0.001018   0.000995   0.000961
18   0.001138   0.001004     0.000966   0.000937   0.001138   0.001033
19   0.000894   0.001095      0.00109   0.001162   0.001014   0.001014
20   0.000975    0.00099     0.000966   0.000904    0.00098   0.000971
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.001377   0.001396   0.001348   0.001224  ...    0.001234    0.001066
7    0.001277   0.001286   0.001344   0.001253  ...    0.001085    0.001195
8    0.001234   0.001195    0.00121   0.001095  ...    0.001157    0.001076
9    0.001315   0.001329   0.001224   0.001152  ...    0.001047    0.001105
10   0.001152   0.001109   0.001167     0.0011  ...    0.001138    0.001038
11   0.001109   0.001076     0.0011   0.001052  ...    0.001052    0.001009
12   0.001081   0.001004   0.000995   0.000975  ...    0.000975    0.000961
13   0.000985   0.001014   0.001033   0.001119  ...    0.000923    0.001109
14   0.001038   0.001066   0.001057   0.001038  ...    0.000961    0.000956
15   0.001061   0.001095   0.001061     0.0011  ...    0.001042    0.001023
16   0.000951   0.001061   0.001042   0.000961  ...    0.000975    0.000875
17   0.000975   0.001061   0.000985   0.001023  ...    0.000908    0.001009
18   0.001052   0.000913    0.00099   0.000942  ...    0.000889    0.000861
19   0.001028   0.001042   0.000975   0.001004  ...    0.000971    0.001061
20   0.000966   0.000923   0.000951   0.000923  ...    0.000827     0.00087
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.001081    0.001109    0.001219    0.001167    0.001171    0.000894
7     0.000971    0.001014     0.00099    0.001085    0.001014    0.001033
8     0.001191    0.001076    0.001085    0.001042    0.001052    0.000865
9     0.000975    0.001085    0.001018    0.001076    0.000937    0.001061
10    0.001033    0.001009    0.001081    0.000918    0.001009    0.000818
11    0.001004    0.001004    0.001042    0.001047    0.000985    0.001085
12    0.000913    0.000937    0.000928    0.000846    0.000861    0.000794
13    0.000961    0.001033    0.001018    0.001009     0.00109    0.001152
14     0.00098    0.000923    0.000904    0.000842    0.000928    0.000765
15    0.001061    0.001023    0.000985    0.001076    0.001047    0.001047
16    0.000875    0.000865    0.001009    0.000889    0.000885    0.000755
17    0.000951    0.001028    0.000842    0.001018    0.000885    0.000899
18    0.000918    0.000822    0.000851    0.000803    0.000856    0.000708
19    0.000966    0.001061    0.000918    0.001047    0.000971    0.000995
20    0.000937    0.000827    0.000808    0.000861    0.000765    0.000631
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.000043    0.008664
7     0.000062    0.009692
8     0.000096    0.007813
9     0.000053    0.009161
10     0.00021    0.008047
11    0.000096    0.009615
12    0.000387    0.008597
13    0.000067    0.008932
14    0.000244     0.00689
15    0.000072    0.008917
16    0.000435    0.008071
17         0.0    0.009223
18    0.000449    0.007956
19     0.00012    0.008449
20    0.001191    0.009864
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//27_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\27_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\27_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\27_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 3.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object 0 <class 'int'> 30
48 12 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
117              NaN
118              NaN
119    notifications
120              NaN
121             with
Name: Unnamed: 1, Length: 122, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
117                NaN
118                NaN
119                NaN
120            Warning
121           EnVision
Name: Unnamed: 2, Length: 122, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
117            NaN
118            NaN
119            NaN
120          while
121    Workstation
Name: Unnamed: 3, Length: 122, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             22.67
2               NaN
3      Flashes/Time
4               384
           ...
117        EnVision
118             NaN
119             NaN
120         loading
121         version
Name: Unnamed: 4, Length: 122, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1               22.1
2                NaN
3           Meastime
4              (cps)
           ...
117              NaN
118              NaN
119              NaN
120           plate.
121    1.14.3049.528
Name: Unnamed: 5, Length: 122, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1               47
2              NaN
3         MeasInfo
4                0
          ...
117            NaN
118            NaN
119            NaN
120        Stacker
121            NaN
Name: Unnamed: 6, Length: 122, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      47.8
2       NaN
3       NaN
4        12
       ...
117     NaN
118     NaN
119     NaN
120     out
121     NaN
Name: Unnamed: 7, Length: 122, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.36
2        NaN
3        NaN
4        0.1
       ...
117      NaN
118      NaN
119      NaN
120       of
121      NaN
Name: Unnamed: 8, Length: 122, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.09
2          NaN
3          NaN
4           00
        ...
117        NaN
118        NaN
119        NaN
120    plates.
121        NaN
Name: Unnamed: 9, Length: 122, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
117            NaN
118            NaN
119            NaN
120          Plate
121            NaN
Name: Unnamed: 10, Length: 122, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
117         NaN
118         NaN
119         NaN
120           1
121         NaN
Name: Unnamed: 11, Length: 122, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
117         NaN
118         NaN
119         NaN
120       Plate
121         NaN
Name: Unnamed: 12, Length: 122, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
117         NaN
118         NaN
119         NaN
120      Repeat
121         NaN
Name: Unnamed: 13, Length: 122, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
117       NaN
118       NaN
119       NaN
120         1
121       NaN
Name: Unnamed: 14, Length: 122, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
117         NaN
118         NaN
119         NaN
120        Well
121         NaN
Name: Unnamed: 15, Length: 122, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
117         NaN
118         NaN
119         NaN
120         P01
121         NaN
Name: Unnamed: 16, Length: 122, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 17, Length: 122, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
Name: Unnamed: 18, Length: 122, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 19, Length: 122, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 20, Length: 122, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 21, Length: 122, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 22, Length: 122, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
117        NaN
118        NaN
119        NaN
120        NaN
121        NaN
Name: Unnamed: 23, Length: 122, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
117            NaN
118            NaN
119            NaN
120            NaN
121            NaN
Name: Unnamed: 24, Length: 122, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 25, Length: 122, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       11
2      NaN
3      NaN
4      NaN
      ...
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
Name: Unnamed: 26, Length: 122, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         14
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 27, Length: 122, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 28, Length: 122, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
117      NaN
118      NaN
119      NaN
120      NaN
121      NaN
Name: Unnamed: 29, Length: 122, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
100  normalized data directory and name C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\ and 3.csv
103  final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\3.csv 3.csv SURF1screenTargetMol
105  final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\3_normalized.csv
309  normalized directory C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\3_normalized.csv
113  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\3_normalized.csv SURF1screenTargetMol
119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Results'
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//3_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\3_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\3_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([7, 24, 25, 26, 27, 60, 79, 89, 103, 107, 119, 120], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay
120          WARNING
121         Exported
Name: Unnamed: 0, Length: 122, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
117         Nickname
118    Normalization
119            Assay

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\5_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\5_normalized_zscore_list.csv
307  unzipped files 6.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.57
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.59
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.3
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1       48
2      NaN
3      NaN
4       16
      ...
115    NaN
116    NaN
117    NaN
118    out
119    NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      22.07
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.09
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       17
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         32
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       11200      11840      11480      12640      12200      12440
6       12080      12760      12440      12600      12680      12320
7       11840      12800      10720      13160      12320      13800
8       11880      11560      12680      12880      25040      13880
9       11960      12440      12440      13640      13720      13920
10      12920      12000      12920      13960      14640      14200
11      12640      12920      13600       9840      11760      12520
12      13480      11920      12320      13200      14240      14200
13      12120      13600      13480      12560      13960      14360
14      13520      12360      12400      13600      13800      13440
15      12040      13160      10800      13480      12800      14680
16      11960      12560      12240      12480      13400      12880
17      10240      12000      11880       9040      12320      11440
18      11600      11840      11840      12600      12360      11000
19      11400      11800      10160      12200      11800      13600
20      11200      10400      12040       9800      12120      11040

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       12440      12160       9440      13200  ...       12040       13760
6       13080      13120      14280      13800  ...       14960       13680
7       13520      13920      12120      13680  ...       13280       11520
8       13880      12560      13160      12600  ...       13120       16400
9       14040      15000      13480      15000  ...       14600       14520
10      15160      13440      15280      13840  ...       15680       14080
11      14200      14040      14240      14760  ...       13400       14200
12      14400      13920      11520      14040  ...       14480       13360
13      13680      15480      16400       9440  ...       13240       15480
14      14520      12760      14800      13360  ...       13480       15560
15      14600      14800      13480      14160  ...       12960       14040
16      14440      13320      14560      13200  ...       14440       13280
17      12760      13320      12240      13440  ...       12560       13320
18      13120      12520      13440      13080  ...       14320       12880
19      12360      13640      13000      12800  ...       13880       13640
20      12120      10920      12240      11320  ...       12680       12000

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        12920       13560       13000       13440       10320       12560
6        14400       12880       14720       13200       14040       12920
7        11280       14640       72400       13240       12000       11640
8        15360       13880       14600       12120       15000        8520
9        13960       18560       14640       14320       13440       13480
10       13600       13640       13600       14920       16080       14000
11       12320       15080       13600       14760       14120       14560
12       13200       15600       14760       15520       14640       14720
13       12160       15840       14600       15800       14960       14280
14       14800       12000       14920       14160       14960       11760
15       13400       15080       13640       14920       11600       13680
16       13680       13800       14760       13720       14760       13240
17       12880       13240       11920       13000       12520       12560
18       14360       14040       13560        9280       13040       13000
19       13320       13360       10600       14080       11960       13320
20       13040       12200       12760       12360       12240       12040

   Unnamed: 22 Unnamed: 23
5         1040       83480
6         1200       65440
7          800       78160
8          720       69040
9          760       81760
10         760       70440
11         720       79480
12         800       75360
13         560       81120
14         680       69840
15         840       84760
16         560       75040
17         760       79800
18         760       70440
19         680       79280
20         640       67720

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.136817   0.144893     0.141093   0.142993   0.143943   0.139667
7    0.133967   0.145368     0.120665   0.149644   0.139667   0.157245
8    0.134442   0.130641     0.143943   0.146318   0.290736   0.158195
9    0.135392   0.141093     0.141093   0.155344   0.156295    0.15867
10   0.146793   0.135867     0.146793   0.159145   0.167221   0.161995
11   0.143468   0.146793     0.154869   0.110214   0.133017   0.142043
12   0.153444   0.134917     0.139667   0.150119    0.16247   0.161995
13   0.137292   0.154869     0.153444   0.142518   0.159145   0.163895
14   0.153919   0.140143     0.140618   0.154869   0.157245   0.152969
15   0.136342   0.149644     0.121615   0.153444   0.145368   0.167696
16   0.135392   0.142518     0.138717   0.141568   0.152494   0.146318
17   0.114964   0.135867     0.134442   0.100713   0.139667   0.129216
18   0.131116   0.133967     0.133967   0.142993   0.140143    0.12399
19   0.128741   0.133492     0.114014   0.138242   0.133492   0.154869
20   0.126366   0.116865     0.136342   0.109739   0.137292   0.124466
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.148694   0.149169   0.162945   0.157245  ...    0.171021    0.155819
7    0.153919    0.15867   0.137292   0.155819  ...    0.151069    0.130166
8    0.158195   0.142518   0.149644   0.142993  ...    0.149169    0.188124
9    0.160095   0.171496   0.153444   0.171496  ...    0.166746    0.165796
10   0.173397   0.152969   0.174822    0.15772  ...    0.179572     0.16057
11   0.161995   0.160095    0.16247   0.168646  ...    0.152494    0.161995
12   0.164371    0.15867   0.130166   0.160095  ...    0.165321    0.152019
13   0.155819   0.177197   0.188124   0.105463  ...    0.150594    0.177197
14   0.165796   0.144893   0.169121   0.152019  ...    0.153444    0.178147
15   0.166746   0.169121   0.153444    0.16152  ...    0.147268    0.160095
16   0.164846   0.151544   0.166271   0.150119  ...    0.164846    0.151069
17   0.144893   0.151544   0.138717   0.152969  ...    0.142518    0.151544
18   0.149169   0.142043   0.152969   0.148694  ...     0.16342    0.146318
19   0.140143   0.155344   0.147743   0.145368  ...    0.158195    0.155344
20   0.137292    0.12304   0.138717   0.127791  ...    0.143943    0.135867
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.164371    0.146318    0.168171    0.150119    0.160095    0.146793
7     0.127316    0.167221    0.853207    0.150594    0.135867    0.131591
8     0.175772    0.158195    0.166746    0.137292    0.171496    0.094537
9     0.159145    0.213777    0.167221     0.16342    0.152969    0.153444
10    0.154869    0.155344    0.154869    0.170546    0.184323     0.15962
11    0.139667    0.172447    0.154869    0.168646    0.161045    0.166271
12    0.150119    0.178622    0.168646    0.177672    0.167221    0.168171
13    0.137767    0.181473    0.166746    0.180998    0.171021    0.162945
14    0.169121    0.135867    0.170546     0.16152    0.171021    0.133017
15    0.152494    0.172447    0.155344    0.170546    0.131116    0.155819
16    0.155819    0.157245    0.168646    0.156295    0.168646    0.150594
17    0.146318    0.150594    0.134917    0.147743    0.142043    0.142518
18    0.163895    0.160095    0.154394    0.103563    0.148219    0.147743
19    0.151544    0.152019     0.11924     0.16057    0.135392    0.151544
20    0.148219    0.138242    0.144893    0.140143    0.138717    0.136342
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.007601    0.770546
7      0.00285    0.921615
8       0.0019    0.813302
9     0.002375    0.964371
10    0.002375    0.829929
11      0.0019    0.937292
12     0.00285    0.888361
13         0.0     0.95677
14    0.001425    0.822803
15    0.003325         1.0
16         0.0    0.884561
17    0.002375    0.941093
18    0.002375    0.829929
19    0.001425    0.934917
20     0.00095    0.797625
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.133967   0.145368     0.120665   0.149644   0.139667   0.157245
8    0.134442   0.130641     0.143943   0.146318   0.290736   0.158195
9    0.135392   0.141093     0.141093   0.155344   0.156295    0.15867
10   0.146793   0.135867     0.146793   0.159145   0.167221   0.161995
11   0.143468   0.146793     0.154869   0.110214   0.133017   0.142043
12   0.153444   0.134917     0.139667   0.150119    0.16247   0.161995
13   0.137292   0.154869     0.153444   0.142518   0.159145   0.163895
14   0.153919   0.140143     0.140618   0.154869   0.157245   0.152969
15   0.136342   0.149644     0.121615   0.153444   0.145368   0.167696
16   0.135392   0.142518     0.138717   0.141568   0.152494   0.146318
17   0.114964   0.135867     0.134442   0.100713   0.139667   0.129216
18   0.131116   0.133967     0.133967   0.142993   0.140143    0.12399
19   0.128741   0.133492     0.114014   0.138242   0.133492   0.154869
20   0.126366   0.116865     0.136342   0.109739   0.137292   0.124466
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.153919    0.15867   0.137292   0.155819  ...    0.151069    0.130166
8    0.158195   0.142518   0.149644   0.142993  ...    0.149169    0.188124
9    0.160095   0.171496   0.153444   0.171496  ...    0.166746    0.165796
10   0.173397   0.152969   0.174822    0.15772  ...    0.179572     0.16057
11   0.161995   0.160095    0.16247   0.168646  ...    0.152494    0.161995
12   0.164371    0.15867   0.130166   0.160095  ...    0.165321    0.152019
13   0.155819   0.177197   0.188124   0.105463  ...    0.150594    0.177197
14   0.165796   0.144893   0.169121   0.152019  ...    0.153444    0.178147
15   0.166746   0.169121   0.153444    0.16152  ...    0.147268    0.160095
16   0.164846   0.151544   0.166271   0.150119  ...    0.164846    0.151069
17   0.144893   0.151544   0.138717   0.152969  ...    0.142518    0.151544
18   0.149169   0.142043   0.152969   0.148694  ...     0.16342    0.146318
19   0.140143   0.155344   0.147743   0.145368  ...    0.158195    0.155344
20   0.137292    0.12304   0.138717   0.127791  ...    0.143943    0.135867
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2755        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.127316    0.167221    0.853207    0.150594    0.135867    0.131591
8     0.175772    0.158195    0.166746    0.137292    0.171496    0.094537
9     0.159145    0.213777    0.167221     0.16342    0.152969    0.153444
10    0.154869    0.155344    0.154869    0.170546    0.184323     0.15962
11    0.139667    0.172447    0.154869    0.168646    0.161045    0.166271
12    0.150119    0.178622    0.168646    0.177672    0.167221    0.168171
13    0.137767    0.181473    0.166746    0.180998    0.171021    0.162945
14    0.169121    0.135867    0.170546     0.16152    0.171021    0.133017
15    0.152494    0.172447    0.155344    0.170546    0.131116    0.155819
16    0.155819    0.157245    0.168646    0.156295    0.168646    0.150594
17    0.146318    0.150594    0.134917    0.147743    0.142043    0.142518
18    0.163895    0.160095    0.154394    0.103563    0.148219    0.147743
19    0.151544    0.152019     0.11924     0.16057    0.135392    0.151544
20    0.148219    0.138242    0.144893    0.140143    0.138717    0.136342
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7      0.00285    0.921615
8       0.0019    0.813302
9     0.002375    0.964371
10    0.002375    0.829929
11      0.0019    0.937292
12     0.00285    0.888361
13         0.0     0.95677
14    0.001425    0.822803
15    0.003325         1.0
16         0.0    0.884561
17    0.002375    0.941093
18    0.002375    0.829929
19    0.001425    0.934917
20     0.00095    0.797625
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.134442   0.130641     0.143943   0.146318   0.290736   0.158195
9    0.135392   0.141093     0.141093   0.155344   0.156295    0.15867
10   0.146793   0.135867     0.146793   0.159145   0.167221   0.161995
11   0.143468   0.146793     0.154869   0.110214   0.133017   0.142043
12   0.153444   0.134917     0.139667   0.150119    0.16247   0.161995
13   0.137292   0.154869     0.153444   0.142518   0.159145   0.163895
14   0.153919   0.140143     0.140618   0.154869   0.157245   0.152969
15   0.136342   0.149644     0.121615   0.153444   0.145368   0.167696
16   0.135392   0.142518     0.138717   0.141568   0.152494   0.146318
17   0.114964   0.135867     0.134442   0.100713   0.139667   0.129216
18   0.131116   0.133967     0.133967   0.142993   0.140143    0.12399
19   0.128741   0.133492     0.114014   0.138242   0.133492   0.154869
20   0.126366   0.116865     0.136342   0.109739   0.137292   0.124466
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.158195   0.142518   0.149644   0.142993  ...    0.149169    0.188124
9    0.160095   0.171496   0.153444   0.171496  ...    0.166746    0.165796
10   0.173397   0.152969   0.174822    0.15772  ...    0.179572     0.16057
11   0.161995   0.160095    0.16247   0.168646  ...    0.152494    0.161995
12   0.164371    0.15867   0.130166   0.160095  ...    0.165321    0.152019
13   0.155819   0.177197   0.188124   0.105463  ...    0.150594    0.177197
14   0.165796   0.144893   0.169121   0.152019  ...    0.153444    0.178147
15   0.166746   0.169121   0.153444    0.16152  ...    0.147268    0.160095
16   0.164846   0.151544   0.166271   0.150119  ...    0.164846    0.151069
17   0.144893   0.151544   0.138717   0.152969  ...    0.142518    0.151544
18   0.149169   0.142043   0.152969   0.148694  ...     0.16342    0.146318
19   0.140143   0.155344   0.147743   0.145368  ...    0.158195    0.155344
20   0.137292    0.12304   0.138717   0.127791  ...    0.143943    0.135867
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2755        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         16  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
8     0.175772    0.158195    0.166746    0.137292    0.171496    0.094537
9     0.159145    0.213777    0.167221     0.16342    0.152969    0.153444
10    0.154869    0.155344    0.154869    0.170546    0.184323     0.15962
11    0.139667    0.172447    0.154869    0.168646    0.161045    0.166271
12    0.150119    0.178622    0.168646    0.177672    0.167221    0.168171
13    0.137767    0.181473    0.166746    0.180998    0.171021    0.162945
14    0.169121    0.135867    0.170546     0.16152    0.171021    0.133017
15    0.152494    0.172447    0.155344    0.170546    0.131116    0.155819
16    0.155819    0.157245    0.168646    0.156295    0.168646    0.150594
17    0.146318    0.150594    0.134917    0.147743    0.142043    0.142518
18    0.163895    0.160095    0.154394    0.103563    0.148219    0.147743
19    0.151544    0.152019     0.11924     0.16057    0.135392    0.151544
20    0.148219    0.138242    0.144893    0.140143    0.138717    0.136342
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
8       0.0019    0.813302
9     0.002375    0.964371
10    0.002375    0.829929
11      0.0019    0.937292
12     0.00285    0.888361
13         0.0     0.95677
14    0.001425    0.822803
15    0.003325         1.0
16         0.0    0.884561
17    0.002375    0.941093
18    0.002375    0.829929
19    0.001425    0.934917
20     0.00095    0.797625
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 76 65 DF Values count: 308 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
9    0.135392   0.141093     0.141093   0.155344   0.156295    0.15867
10   0.146793   0.135867     0.146793   0.159145   0.167221   0.161995
11   0.143468   0.146793     0.154869   0.110214   0.133017   0.142043
12   0.153444   0.134917     0.139667   0.150119    0.16247   0.161995
13   0.137292   0.154869     0.153444   0.142518   0.159145   0.163895
14   0.153919   0.140143     0.140618   0.154869   0.157245   0.152969
15   0.136342   0.149644     0.121615   0.153444   0.145368   0.167696
16   0.135392   0.142518     0.138717   0.141568   0.152494   0.146318
17   0.114964   0.135867     0.134442   0.100713   0.139667   0.129216
18   0.131116   0.133967     0.133967   0.142993   0.140143    0.12399
19   0.128741   0.133492     0.114014   0.138242   0.133492   0.154869
20   0.126366   0.116865     0.136342   0.109739   0.137292   0.124466
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN
24      Assay   Finished          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
9    0.160095   0.171496   0.153444   0.171496  ...    0.166746    0.165796
10   0.173397   0.152969   0.174822    0.15772  ...    0.179572     0.16057
11   0.161995   0.160095    0.16247   0.168646  ...    0.152494    0.161995
12   0.164371    0.15867   0.130166   0.160095  ...    0.165321    0.152019
13   0.155819   0.177197   0.188124   0.105463  ...    0.150594    0.177197
14   0.165796   0.144893   0.169121   0.152019  ...    0.153444    0.178147
15   0.166746   0.169121   0.153444    0.16152  ...    0.147268    0.160095
16   0.164846   0.151544   0.166271   0.150119  ...    0.164846    0.151069
17   0.144893   0.151544   0.138717   0.152969  ...    0.142518    0.151544
18   0.149169   0.142043   0.152969   0.148694  ...     0.16342    0.146318
19   0.140143   0.155344   0.147743   0.145368  ...    0.158195    0.155344
20   0.137292    0.12304   0.138717   0.127791  ...    0.143943    0.135867
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2755        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         16  ...         NaN         NaN

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       19
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         33
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       10720      11720      19600      11800      11520      12240
6       12480      11320      11440      11520      11600      11360
7       11560      11160      11000      11640      11280      11760
8       11120      10760      12040      13120      10400      11240
9       10800      11400      11520      12000       9920      12400
10      11720      11560      11840      10320      13040      11920
11      10880      11200      21200      11760      12000      11640
12      11120      11280      11880      11080      10440      12120
13      10720      11520      11040      13200      12320      12920
14      11760      11360      11520      11520      11920      11240
15      10760      11040      10680      12080      11000      10840
16      10800      10040      11920      10800      11560      12040
17       9720       9680       7760      10720      10840      10600
18      10640       9960      11240      10600      11600      11000
19       9880      10240      18640      10760      10240      11520
20       9760       9760       9760       9240      11200      10480

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       10920      10520      11600      12280  ...       11920       11960
6       12680      11400      12400      11120  ...       13000        6920
7       11760       7280      10080      12520  ...       11440       12040
8       11880      11160      11360      10640  ...        9360       11920
9       12400      11640      11560      11920  ...       11280       11640
10      12600      11680      12480      12120  ...       12840       11080
11      11600      12000       9760      11800  ...       11960       12680
12      12800      12080      11280      11440  ...       11440       11120
13      12840      12400      10920      12480  ...       11600       10720
14      14680      11720      13360      11600  ...       12160       11960
15      12360      12960       9880      12120  ...       13480       11520
16      12520      11040      10240      11360  ...       13120       11200
17      10520      10920      10280      10320  ...       10440       11440
18      11920      10520      12040      10360  ...       11440       10640
19      10440      11000      11240      11800  ...       11120       11880
20      11760      10840      11160      10400  ...       10560       10560

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        11680       12120        9360       11800        9320       11080
6        12120       11840       13280       11680       12920       11560
7        11680       11320       10560       12320       10840       10880
8        11520        9880       12400       11720       12200       10520
9        11720       11040       11680       12920       10920       11560
10       12160       11920       12600       12080       13400       11600
11       11200       12000       11640       11520       10720       11440
12       11400       10920       12000       12200       10960       10240
13       10920        9960       12400       12880       10200       11680
14       12280       11800       12560       10960       12240       11520
15       11360       11440        9920       11640       11120       11720
16       12720       10720       10640       10280       10960       10120
17       11160       11320       10120       11880       10600       10600
18       12360       27120       11720       10920       11720       10240
19       11160       11360       11280       11600       10720       10960
20       11880       10160       11400       10760       11000       10240

   Unnamed: 22 Unnamed: 23
5          920       73400
6          880       59240
7          960       69480
8          840       68400
9          840       76840
10         640       65280
11         960       78840
12         960       71120
13         720       81120
14         840       67960
15         880       77120
16         680       69120
17         680       77560
18         880       64960
19         760       75680
20         680       76320

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.147117   0.132704     0.134195   0.135189   0.136183   0.133201
7    0.135686   0.130716     0.128728    0.13668   0.132207   0.138171
8    0.130219   0.125746      0.14165    0.15507   0.121272    0.13171
9    0.126243   0.133698     0.135189   0.141153   0.115308   0.146123
10   0.137674   0.135686     0.139165   0.120278   0.154076   0.140159
11   0.127237   0.131213     0.255467   0.138171   0.141153    0.13668
12   0.130219   0.132207     0.139662   0.129722   0.121769   0.142644
13   0.125249   0.135189     0.129225   0.156064   0.145129   0.152584
14   0.138171   0.133201     0.135189   0.135189   0.140159    0.13171
15   0.125746   0.129225     0.124751   0.142147   0.128728    0.12674
16   0.126243   0.116799     0.140159   0.126243   0.135686    0.14165
17   0.112823   0.112326     0.088469   0.125249    0.12674   0.123757
18   0.124254   0.115805      0.13171   0.123757   0.136183   0.128728
19   0.114811   0.119284     0.223658   0.125746   0.119284   0.135189
20    0.11332    0.11332      0.11332   0.106859   0.131213   0.122266
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.149602   0.133698   0.146123   0.130219  ...    0.153579    0.078032
7    0.138171   0.082505   0.117296   0.147614  ...    0.134195     0.14165
8    0.139662   0.130716   0.133201   0.124254  ...     0.10835    0.140159
9    0.146123    0.13668   0.135686   0.140159  ...    0.132207     0.13668
10   0.148608   0.137177   0.147117   0.142644  ...     0.15159    0.129722
11   0.136183   0.141153    0.11332   0.138668  ...    0.140656    0.149602
12   0.151093   0.142147   0.132207   0.134195  ...    0.134195    0.130219
13    0.15159   0.146123   0.127734   0.147117  ...    0.136183    0.125249
14   0.174453   0.137674   0.158052   0.136183  ...    0.143141    0.140656
15   0.145626   0.153082   0.114811   0.142644  ...    0.159543    0.135189
16   0.147614   0.129225   0.119284   0.133201  ...     0.15507    0.131213
17   0.122763   0.127734   0.119781   0.120278  ...    0.121769    0.134195
18   0.140159   0.122763    0.14165   0.120775  ...    0.134195    0.124254
19   0.121769   0.128728    0.13171   0.138668  ...    0.130219    0.139662
20   0.138171    0.12674   0.130716   0.121272  ...     0.12326     0.12326
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.142644    0.139165    0.157058    0.137177    0.152584    0.135686
7     0.137177    0.132704     0.12326    0.145129     0.12674    0.127237
8     0.135189    0.114811    0.146123    0.137674    0.143638    0.122763
9     0.137674    0.129225    0.137177    0.152584    0.127734    0.135686
10    0.143141    0.140159    0.148608    0.142147    0.158549    0.136183
11    0.131213    0.141153     0.13668    0.135189    0.125249    0.134195
12    0.133698    0.127734    0.141153    0.143638    0.128231    0.119284
13    0.127734    0.115805    0.146123    0.152087    0.118787    0.137177
14    0.144632    0.138668    0.148111    0.128231    0.144135    0.135189
15    0.133201    0.134195    0.115308     0.13668    0.130219    0.137674
16    0.150099    0.125249    0.124254    0.119781    0.128231    0.117793
17    0.130716    0.132704    0.117793    0.139662    0.123757    0.123757
18    0.145626    0.329026    0.137674    0.127734    0.137674    0.119284
19    0.130716    0.133201    0.132207    0.136183    0.125249    0.128231
20    0.139662     0.11829    0.133698    0.125746    0.128728    0.119284
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.002982    0.728131
7     0.003976    0.855368
8     0.002485    0.841948
9     0.002485    0.946819
10         0.0    0.803181
11    0.003976     0.97167
12    0.003976    0.875746
13    0.000994         1.0
14    0.002485    0.836481
15    0.002982    0.950298
16    0.000497    0.850895
17    0.000497    0.955765
18    0.002982    0.799205
19    0.001491    0.932406
20    0.000497    0.940358
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.135686   0.130716     0.128728    0.13668   0.132207   0.138171
8    0.130219   0.125746      0.14165    0.15507   0.121272    0.13171
9    0.126243   0.133698     0.135189   0.141153   0.115308   0.146123
10   0.137674   0.135686     0.139165   0.120278   0.154076   0.140159
11   0.127237   0.131213     0.255467   0.138171   0.141153    0.13668
12   0.130219   0.132207     0.139662   0.129722   0.121769   0.142644
13   0.125249   0.135189     0.129225   0.156064   0.145129   0.152584
14   0.138171   0.133201     0.135189   0.135189   0.140159    0.13171
15   0.125746   0.129225     0.124751   0.142147   0.128728    0.12674
16   0.126243   0.116799     0.140159   0.126243   0.135686    0.14165
17   0.112823   0.112326     0.088469   0.125249    0.12674   0.123757
18   0.124254   0.115805      0.13171   0.123757   0.136183   0.128728
19   0.114811   0.119284     0.223658   0.125746   0.119284   0.135189
20    0.11332    0.11332      0.11332   0.106859   0.131213   0.122266
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
7    0.138171   0.082505   0.117296   0.147614  ...    0.134195     0.14165
8    0.139662   0.130716   0.133201   0.124254  ...     0.10835    0.140159
9    0.146123    0.13668   0.135686   0.140159  ...    0.132207     0.13668
10   0.148608   0.137177   0.147117   0.142644  ...     0.15159    0.129722
11   0.136183   0.141153    0.11332   0.138668  ...    0.140656    0.149602
12   0.151093   0.142147   0.132207   0.134195  ...    0.134195    0.130219
13    0.15159   0.146123   0.127734   0.147117  ...    0.136183    0.125249
14   0.174453   0.137674   0.158052   0.136183  ...    0.143141    0.140656
15   0.145626   0.153082   0.114811   0.142644  ...    0.159543    0.135189
16   0.147614   0.129225   0.119284   0.133201  ...     0.15507    0.131213
17   0.122763   0.127734   0.119781   0.120278  ...    0.121769    0.134195
18   0.140159   0.122763    0.14165   0.120775  ...    0.134195    0.124254
19   0.121769   0.128728    0.13171   0.138668  ...    0.130219    0.139662
20   0.138171    0.12674   0.130716   0.121272  ...     0.12326     0.12326
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2756        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
7     0.137177    0.132704     0.12326    0.145129     0.12674    0.127237
8     0.135189    0.114811    0.146123    0.137674    0.143638    0.122763
9     0.137674    0.129225    0.137177    0.152584    0.127734    0.135686
10    0.143141    0.140159    0.148608    0.142147    0.158549    0.136183
11    0.131213    0.141153     0.13668    0.135189    0.125249    0.134195
12    0.133698    0.127734    0.141153    0.143638    0.128231    0.119284
13    0.127734    0.115805    0.146123    0.152087    0.118787    0.137177
14    0.144632    0.138668    0.148111    0.128231    0.144135    0.135189
15    0.133201    0.134195    0.115308     0.13668    0.130219    0.137674
16    0.150099    0.125249    0.124254    0.119781    0.128231    0.117793
17    0.130716    0.132704    0.117793    0.139662    0.123757    0.123757
18    0.145626    0.329026    0.137674    0.127734    0.137674    0.119284
19    0.130716    0.133201    0.132207    0.136183    0.125249    0.128231
20    0.139662     0.11829    0.133698    0.125746    0.128728    0.119284
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
7     0.003976    0.855368
8     0.002485    0.841948
9     0.002485    0.946819
10         0.0    0.803181
11    0.003976     0.97167
12    0.003976    0.875746
13    0.000994         1.0
14    0.002485    0.836481
15    0.002982    0.950298
16    0.000497    0.850895
17    0.000497    0.955765
18    0.002982    0.799205
19    0.001491    0.932406
20    0.000497    0.940358
21         NaN         NaN
22         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 59 65 DF Values count: 325 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
8    0.130219   0.125746      0.14165    0.15507   0.121272    0.13171
9    0.126243   0.133698     0.135189   0.141153   0.115308   0.146123
10   0.137674   0.135686     0.139165   0.120278   0.154076   0.140159
11   0.127237   0.131213     0.255467   0.138171   0.141153    0.13668
12   0.130219   0.132207     0.139662   0.129722   0.121769   0.142644
13   0.125249   0.135189     0.129225   0.156064   0.145129   0.152584
14   0.138171   0.133201     0.135189   0.135189   0.140159    0.13171
15   0.125746   0.129225     0.124751   0.142147   0.128728    0.12674
16   0.126243   0.116799     0.140159   0.126243   0.135686    0.14165
17   0.112823   0.112326     0.088469   0.125249    0.12674   0.123757
18   0.124254   0.115805      0.13171   0.123757   0.136183   0.128728
19   0.114811   0.119284     0.223658   0.125746   0.119284   0.135189
20    0.11332    0.11332      0.11332   0.106859   0.131213   0.122266
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
23      Assay    Started          NaN        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
8    0.139662   0.130716   0.133201   0.124254  ...     0.10835    0.140159
9    0.146123    0.13668   0.135686   0.140159  ...    0.132207     0.13668
10   0.148608   0.137177   0.147117   0.142644  ...     0.15159    0.129722
11   0.136183   0.141153    0.11332   0.138668  ...    0.140656    0.149602
12   0.151093   0.142147   0.132207   0.134195  ...    0.134195    0.130219
13    0.15159   0.146123   0.127734   0.147117  ...    0.136183    0.125249
14   0.174453   0.137674   0.158052   0.136183  ...    0.143141    0.140656
15   0.145626   0.153082   0.114811   0.142644  ...    0.159543    0.135189
16   0.147614   0.129225   0.119284   0.133201  ...     0.15507    0.131213
17   0.122763   0.127734   0.119781   0.120278  ...    0.121769    0.134195
18   0.140159   0.122763    0.14165   0.120775  ...    0.134195    0.124254
19   0.121769   0.128728    0.13171   0.138668  ...    0.130219    0.139662
20   0.138171    0.12674   0.130716   0.121272  ...     0.12326     0.12326
21        NaN        NaN        NaN        NaN  ...         NaN         NaN
22        NaN       2756        NaN        NaN  ...         NaN         NaN
23        NaN  7/26/2023          3         18  ...         NaN         NaN


C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

119  z-score column number 0 <class 'int'>
123 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
119  z-score column number 1 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 2 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 3 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 4 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 5 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 6 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 7 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 8 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 9 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 10 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 11 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 12 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 13 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 14 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 15 <class 'int'>
123 line matching? Int64Index([4], dtype='int64')
119  z-score column number 16 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 17 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 18 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 19 <class 'int'>
123 line matching? Int64Index([0, 1], dtype='int64')
119  z-score column number 20 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 21 <class 'int'>
123 line matching? Int64Index([1], dtype='int64')
119  z-score column number 22 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 23 <class 'int'>
123 line matching? Int64Index([0], dtype='int64')
119  z-score column number 24 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 25 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 26 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 27 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 28 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
119  z-score column number 29 <class 'int'>
123 line matching? Int64Index([], dtype='int64')
131 **Searching <1 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
139 **INDEX#2** Int64Index([1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
169 could not convert string to float: 'Background'
169 could not convert string to float: 'Pingping'
164  zscore processed... 2
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
169 could not convert string to float: 'Basic'
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
166  zscore skip data
174  z-score final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\//8_normalized.csv
foldername:
176  z-score final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\8_normalized_zscore.csv
185  Filename z-score C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\8_normalized_zscore.csv
192  z-score column number 0 <class 'int'>
196 line matching? Int64Index([22, 23, 24, 25, 58, 77, 87, 101, 105, 117, 118], dtype='int64')
192  z-score column number 1 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 2 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 3 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 4 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 5 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 6 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 7 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 8 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 9 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 10 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 11 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 12 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 13 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 14 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 15 <class 'int'>
196 line matching? Int64Index([4], dtype='int64')
192  z-score column number 16 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 17 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 18 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 19 <class 'int'>
196 line matching? Int64Index([0, 1], dtype='int64')
192  z-score column number 20 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 21 <class 'int'>
196 line matching? Int64Index([1], dtype='int64')
192  z-score column number 22 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 23 <class 'int'>
196 line matching? Int64Index([0], dtype='int64')
192  z-score column number 24 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 25 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 26 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 27 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 28 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
192  z-score column number 29 <class 'int'>
196 line matching? Int64Index([], dtype='int64')
204 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
212 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
224  zscore NA count: 0 Values count: 384 done
227  Dimensions:  16 24
224  zscore NA count: 21 Values count: 363 done
227  Dimensions:  16 24
224  zscore NA count: 42 Values count: 342 done
227  Dimensions:  16 24
224  zscore NA count: 59 Values count: 325 done
227  Dimensions:  16 24
224  zscore NA count: 76 Values count: 308 done
227  Dimensions:  16 24
224  zscore NA count: 93 Values count: 291 done
227  Dimensions:  16 24
224  zscore NA count: 114 Values count: 270 done
224  zscore NA count: 134 Values count: 250 done
224  zscore NA count: 156 Values count: 228 done
224  zscore NA count: 178 Values count: 206 done
224  zscore NA count: 201 Values count: 183 done
224  zscore NA count: 221 Values count: 163 done
224  zscore NA count: 240 Values count: 144 done
224  zscore NA count: 260 Values count: 124 done
224  zscore NA count: 279 Values count: 105 done
224  zscore NA count: 299 Values count: 85 done
242  list final file directory C:\Users\vandu\Desktop\vancanwin\yeast-data\SURF1screenTargetMol\SURF1screenTargetMol\\!completed\SURF1screenTargetMol
foldername: SURF1screenTargetMol
244  list final name C:\Users\vandu\Desktop\vancanwin\yeast-data\!completed\SURF1screenTargetMol\8_normalized_zscore_list.csv

C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:29: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")
C:\Users\vandu\AppData\Local\Temp\ipykernel_18716\347735838.py:38: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(folder+filename, on_bad_lines='skip', encoding = "utf-8",sep="[_,\t ;|:]")

307  unzipped files 9.csv
36 foldername SURF1screenTargetMol
43  DF column number 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object 0 <class 'int'> 30
48 11 INDEX#1
43  DF column number 0             Repeat
1                  1
2        information
3              Label
4           Pingping
           ...
115              NaN
116              NaN
117    notifications
118              NaN
119             with
Name: Unnamed: 1, Length: 120, dtype: object 1 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0              Barcode
1      """="""""""""""
2                  NaN
3               Result
4                   US
            ...
115                NaN
116                NaN
117                NaN
118            Warning
119           EnVision
Name: Unnamed: 2, Length: 120, dtype: object 2 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0         Measured
1            14.51
2              NaN
3           Signal
4              LUM
          ...
115            NaN
116            NaN
117            NaN
118          while
119    Workstation
Name: Unnamed: 3, Length: 120, dtype: object 3 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            height
1             21.88
2               NaN
3      Flashes/Time
4               384
           ...
115        EnVision
116             NaN
117             NaN
118         loading
119         version
Name: Unnamed: 4, Length: 120, dtype: object 4 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            Chamber
1              21.71
2                NaN
3           Meastime
4              (cps)
           ...
115              NaN
116              NaN
117              NaN
118           plate.
119    1.14.3049.528
Name: Unnamed: 5, Length: 120, dtype: object 5 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1             48.5
2              NaN
3         MeasInfo
4                0
          ...
115            NaN
116            NaN
117            NaN
118        Stacker
119            NaN
Name: Unnamed: 6, Length: 120, dtype: object 6 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0        at
1      46.6
2       NaN
3       NaN
4        12
       ...
115     NaN
116     NaN
117     NaN
118     out
119     NaN
Name: Unnamed: 7, Length: 120, dtype: object 7 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      start
1      21.97
2        NaN
3        NaN
4        0.1
       ...
115      NaN
116      NaN
117      NaN
118       of
119      NaN
Name: Unnamed: 8, Length: 120, dtype: object 8 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Chamber
1        22.97
2          NaN
3          NaN
4           00
        ...
115        NaN
116        NaN
117        NaN
118    plates.
119        NaN
Name: Unnamed: 9, Length: 120, dtype: object 9 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      temperature
1                1
2              NaN
3              NaN
4               00
          ...
115            NaN
116            NaN
117            NaN
118          Plate
119            NaN
Name: Unnamed: 10, Length: 120, dtype: object 10 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0            at
1      Pingping
2           NaN
3           NaN
4        00.000
         ...
115         NaN
116         NaN
117         NaN
118           1
119         NaN
Name: Unnamed: 11, Length: 120, dtype: object 11 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1            US
2           NaN
3           NaN
4      De=USLum
         ...
115         NaN
116         NaN
117         NaN
118       Plate
119         NaN
Name: Unnamed: 12, Length: 120, dtype: object 12 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Humidity
1           LUM
2           NaN
3           NaN
4        Ex=N/A
         ...
115         NaN
116         NaN
117         NaN
118      Repeat
119         NaN
Name: Unnamed: 13, Length: 120, dtype: object 13 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0          at
1         384
2         NaN
3         NaN
4      Em=N/A
        ...
115       NaN
116       NaN
117       NaN
118         1
119       NaN
Name: Unnamed: 14, Length: 120, dtype: object 14 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0         start
1      (cps)(1)
2           NaN
3           NaN
4       Wdw=N/A
         ...
115         NaN
116         NaN
117         NaN
118        Well
119         NaN
Name: Unnamed: 15, Length: 120, dtype: object 15 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      Humidity
1             0
2           NaN
3           NaN
4          (12)
         ...
115         NaN
116         NaN
117         NaN
118         P01
119         NaN
Name: Unnamed: 16, Length: 120, dtype: object 16 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        0
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 17, Length: 120, dtype: object 17 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0           end
1      De=USLum
2           NaN
3           NaN
4           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
Name: Unnamed: 18, Length: 120, dtype: object 18 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1       Ex=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 19, Length: 120, dtype: object 19 <class 'int'> 30
48 2 INDEX#1
43  DF column number 0      temperature
1           Em=N/A
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 20, Length: 120, dtype: object 20 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0           at
1      Wdw=N/A
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 21, Length: 120, dtype: object 21 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      start
1       (12)
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 22, Length: 120, dtype: object 22 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Ambient
1            0
2          NaN
3          NaN
4          NaN
        ...
115        NaN
116        NaN
117        NaN
118        NaN
119        NaN
Name: Unnamed: 23, Length: 120, dtype: object 23 <class 'int'> 30
48 1 INDEX#1
43  DF column number 0      temperature
1        7/26/2023
2              NaN
3              NaN
4              NaN
          ...
115            NaN
116            NaN
117            NaN
118            NaN
119            NaN
Name: Unnamed: 24, Length: 120, dtype: object 24 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0       at
1        3
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 25, Length: 120, dtype: object 25 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      end
1       23
2      NaN
3      NaN
4      NaN
      ...
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
Name: Unnamed: 26, Length: 120, dtype: object 26 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Group
1         56
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 27, Length: 120, dtype: object 27 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      Label
1         PM
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 28, Length: 120, dtype: object 28 <class 'int'> 30
48 0 INDEX#1
43  DF column number 0      ScanX
1        NaN
2        NaN
3        NaN
4        NaN
       ...
115      NaN
116      NaN
117      NaN
118      NaN
119      NaN
Name: Unnamed: 29, Length: 120, dtype: object 29 <class 'int'> 30
48 0 INDEX#1
56 **Searching >2000 Values** Int64Index([], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object /n################switch Unnamed: 0           Plate
Unnamed: 1          Repeat
Unnamed: 2         Barcode
Unnamed: 3        Measured
Unnamed: 4          height
Unnamed: 5         Chamber
Unnamed: 6     temperature
Unnamed: 7              at
Unnamed: 8           start
Unnamed: 9         Chamber
Unnamed: 10    temperature
Unnamed: 11             at
Unnamed: 12            end
Unnamed: 13       Humidity
Unnamed: 14             at
Unnamed: 15          start
Unnamed: 16       Humidity
Unnamed: 17             at
Unnamed: 18            end
Unnamed: 19        Ambient
Unnamed: 20    temperature
Unnamed: 21             at
Unnamed: 22          start
Unnamed: 23        Ambient
Unnamed: 24    temperature
Unnamed: 25             at
Unnamed: 26            end
Unnamed: 27          Group
Unnamed: 28          Label
Unnamed: 29          ScanX
Unnamed: 30          ScanY
Unnamed: 31       Measinfo
Unnamed: 32       Kinetics
Unnamed: 33    Measurement
Plate                 date
information            NaN
Name: 0, dtype: object
64 **INDEX#2** Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64') 0              Plate
1                  1
2         Background
3              Plate
4                  1
           ...
115         Nickname
116    Normalization
117            Assay
118          WARNING
119         Exported
Name: Unnamed: 0, Length: 120, dtype: object
80  DF NA count: 0 65 DF Values count: 384 done
83  DF to normalize    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
5       11360      10920      10800      11720      11600      11320
6       12160      11480      11640      12840      11840      12080
7       10160      11600      10040      11560      11760      13160
8       10920      10640      11200      11560      12360      11680
9       11080      11200      11120      12520      12080      12640
10      11120      10960      12280      10880      13600      13000
11      12000      11440      10360      11720      11720      12760
12      11560      10920      11960      12440      11880      12800
13      10920      11840      11560      12600      12640      14160
14      11120      10880      16520      10800       8000      11600
15      10680      11400      11200      12480      11960      11320
16      11080      10560      11280      10680      11520      12280
17      10520      10560      10360      11400       9840      10720
18      10920      10120      11440      11320      12320      11160
19       9480      10600      10320      10680      12280      20880
20       8840       7960      10160      10000      12120      10680

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
5       12320      12760      12080      12760  ...       11320       20320
6       13360      13320      13720      12840  ...       13840       10480
7       11920      13000      11120      14000  ...        8720       13080
8       12960      12400      12560      10840  ...       12880       12000
9       12320      11440      12240      12640  ...       13000       11680
10      13600      12440      12840      12600  ...       10840       11200
11      12440      12720      13080      11600  ...       12760       12400
12      12000      10840      11760      12520  ...       14240       10680
13      12760      13360      12040      14520  ...       12800       13360
14      13040      11600      13560      12120  ...       12600       13920
15      11840      13160      12320      12680  ...       12600       12320
16      12600      11560      12760       9600  ...       12240       11760
17      11840      10920      11360      11280  ...       11600       11280
18      12160      10400      12480      10640  ...       12800       11720
19      12040      11800      12360      12280  ...       10680       12280
20      11080      11000      10880      10960  ...       10720        9800

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
5        11320       12120       11440       11960       10840       11360
6        12480       11600       12840       11200       12120        8600
7        12680       12320       11400       13200       41200       11600
8        12400       12000       12720       11440       12280       14600
9        12320       12760       12680       12360       11480       11480
10       13440       10200       13080       11920       13240       11640
11       13600       12680       12160       11760       11520       10840
12       12640       14720       13320       11760       12400       10440
13       13040       10600       13400       13560       12040       12400
14       14240       13840       13200       12680       13320       11240
15       12880       12360       12800       13560       11880       12360
16       13680       11720       13120       10720       13440       10760
17       12000       11480       12720       13040       10960       12480
18       12640       10320       12400       10000       12840       11480
19       10000       12040       11360       12160        9040       11720
20        8920       11040       10440       10800       11640        8960

   Unnamed: 22 Unnamed: 23
5         1160       76400
6          800       62800
7          960       73240
8          880       63400
9          760       73000
10         840       65440
11         680       68720
12         760       68520
13         760       72920
14         960       63320
15         680       71000
16         760       67080
17         680       74000
18         480       58560
19         800       73000
20         600       68840

[16 rows x 24 columns]
92  normalized processed... 0
80  DF NA count: 21 65 DF Values count: 363 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
6    0.153846   0.144889     0.146997   0.162803   0.149631   0.152792
7    0.127503    0.14647     0.125922   0.145943   0.148577   0.167018
8    0.137513   0.133825     0.141201   0.145943   0.156481   0.147524
9    0.139621   0.141201     0.140148   0.158588   0.152792   0.160169
10   0.140148    0.13804     0.155427   0.136986   0.172813    0.16491
11   0.151739   0.144362     0.130137   0.148051   0.148051   0.161749
12   0.145943   0.137513     0.151212   0.157534   0.150158   0.162276
13   0.137513   0.149631     0.145943   0.159642   0.160169    0.18019
14   0.140148   0.136986     0.211275   0.135933   0.099052    0.14647
15   0.134352   0.143836     0.141201   0.158061   0.151212   0.142782
16   0.139621   0.132771     0.142255   0.134352   0.145416   0.155427
17   0.132244   0.132771     0.130137   0.143836   0.123288   0.134879
18   0.137513   0.126976     0.144362   0.142782   0.155954   0.140674
19   0.118546   0.133298      0.12961   0.134352   0.155427   0.268704
20   0.110116   0.098525     0.127503   0.125395   0.153319   0.134352
21      Basic      assay  information        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 14 Unnamed: 15  \
6    0.169652   0.169125   0.174394   0.162803  ...    0.175975    0.131718
7    0.150685    0.16491   0.140148   0.178082  ...    0.108535    0.165964
8    0.164384   0.157007   0.159115   0.136459  ...     0.16333    0.151739
9    0.155954   0.144362     0.1549   0.160169  ...     0.16491    0.147524
10   0.172813   0.157534   0.162803   0.159642  ...    0.136459    0.141201
11   0.157534   0.161222   0.165964    0.14647  ...    0.161749    0.157007
12   0.151739   0.136459   0.148577   0.158588  ...    0.181243    0.134352
13   0.161749   0.169652   0.152266   0.184932  ...    0.162276    0.169652
14   0.165437    0.14647   0.172287   0.153319  ...    0.159642    0.177028
15   0.149631   0.167018   0.155954   0.160695  ...    0.159642    0.155954
16   0.159642   0.145943   0.161749   0.120126  ...      0.1549    0.148577
17   0.149631   0.137513   0.143309   0.142255  ...     0.14647    0.142255
18   0.153846   0.130664   0.158061   0.133825  ...    0.162276    0.148051
19   0.152266   0.149104   0.156481   0.155427  ...    0.134352    0.155427
20   0.139621   0.138567   0.136986    0.13804  ...    0.134879    0.122761
21        NaN        NaN        NaN        NaN  ...         NaN         NaN

   Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
6     0.158061     0.14647    0.162803    0.141201    0.153319    0.106955
7     0.160695    0.155954    0.143836    0.167545    0.536354     0.14647
8     0.157007    0.151739    0.161222    0.144362    0.155427    0.185985
9     0.155954    0.161749    0.160695    0.156481    0.144889    0.144889
10    0.170706     0.12803    0.165964    0.150685    0.168072    0.146997
11    0.172813    0.160695    0.153846    0.148577    0.145416    0.136459
12    0.160169    0.187566    0.169125    0.148577    0.157007    0.131191
13    0.165437    0.133298    0.170179    0.172287    0.152266    0.157007
14    0.181243    0.175975    0.167545    0.160695    0.169125    0.141728
15     0.16333    0.156481    0.162276    0.172287    0.150158    0.156481
16    0.173867    0.148051    0.166491    0.134879    0.170706    0.135406
17    0.151739    0.144889    0.161222    0.165437     0.13804    0.158061
18    0.160169     0.12961    0.157007    0.125395    0.162803    0.144889
19    0.125395    0.152266    0.143309    0.153846     0.11275    0.148051
20     0.11117    0.139094    0.131191    0.135933    0.146997    0.111697
21         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 22 Unnamed: 23
6     0.004215    0.820864
7     0.006322    0.958377
8     0.005269    0.828767
9     0.003688    0.955216
10    0.004742    0.855638
11    0.002634    0.898841
12    0.003688    0.896207
13    0.003688    0.954162
14    0.006322    0.827713
15    0.002634    0.928872
16    0.003688    0.877239
17    0.002634    0.968388
18         0.0    0.765016
19    0.004215    0.955216
20    0.001581    0.900421
21         NaN         NaN

[16 rows x 24 columns]
97 invalid literal for int() with base 10: 'Basic'
80  DF NA count: 42 65 DF Values count: 342 done
83  DF to normalize    Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
7    0.127503    0.14647     0.125922   0.145943   0.148577   0.167018
8    0.137513   0.133825     0.141201   0.145943   0.156481   0.147524
9    0.139621   0.141201     0.140148   0.158588   0.152792   0.160169
10   0.140148    0.13804     0.155427   0.136986   0.172813    0.16491
11   0.151739   0.144362     0.130137   0.148051   0.148051   0.161749
12   0.145943   0.137513     0.151212   0.157534   0.150158   0.162276
13   0.137513   0.149631     0.145943   0.159642   0.160169    0.18019
14   0.140148   0.136986     0.211275   0.135933   0.099052    0.14647
15   0.134352   0.143836     0.141201   0.158061   0.151212   0.142782
16   0.139621   0.132771     0.142255   0.134352   0.145416   0.155427
17   0.132244   0.132771     0.130137   0.143836   0.123288   0.134879
18   0.137513   0.126976     0.144362   0.142782   0.155954   0.140674
19   0.118546   0.133298      0.12961   0.134352   0.155427   0.268704
20   0.110116   0.098525     0.127503   0.125395   0.153319   0.134352
21      Basic      assay  information        NaN        NaN        NaN
22      Assay         ID          NaN        NaN        NaN        NaN
